<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.transplan.repository.ToTransPlanMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.transplan.entity.ToTransPlan" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="PART_CODE" property="partCode" jdbcType="VARCHAR" />
    <result column="LAMP_STATUS" property="lampStatus" jdbcType="VARCHAR" />
    <result column="RED_LOCK" property="redLock" jdbcType="CHAR" />
    <result column="EST_PART_TIME" property="estPartTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, CASE_CODE, PART_CODE, EST_PART_TIME,LAMP_STATUS,RED_LOCK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_TRANS_PLAN
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TO_TRANS_PLAN
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteTransPlansByCaseCode" parameterType="java.util.Map" >
    delete from sctrans.T_TO_TRANS_PLAN
    <where>
      <if test="caseCode != null">
          CASE_CODE = #{caseCode,jdbcType=BIGINT}
      </if>
      <if test="partCode != null">
          AND PART_CODE != #{partCode,jdbcType=BIGINT}
      </if>
    </where>
    
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.transplan.entity.ToTransPlan" >
    insert into sctrans.T_TO_TRANS_PLAN (PKID, CASE_CODE, PART_CODE, 
      EST_PART_TIME,LAMP_STATUS,RED_LOCK,CREATE_TIME,UPDATE_TIME,CREATE_BY,UPDATE_BY)
    values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR}, #{partCode,jdbcType=VARCHAR}, 
      #{estPartTime,jdbcType=TIMESTAMP}, #{lampStatus,jdbcType=VARCHAR}, 
      #{redLock,jdbcType=CHAR},GETDATE(),GETDATE(),@{SESSION_USER_ID},@{SESSION_USER_ID})
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.transplan.entity.ToTransPlan" >
    insert into sctrans.T_TO_TRANS_PLAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="partCode != null" >
        PART_CODE,
      </if>
      <if test="estPartTime != null" >
        EST_PART_TIME,
      </if>
      <if test="lampStatus != null" >
        LAMP_STATUS,
      </if>
      <if test="redLock != null" >
        RED_LOCK,
      </if>
       CREATE_TIME,UPDATE_TIME,CREATE_BY,UPDATE_BY,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="partCode != null" >
        #{partCode,jdbcType=VARCHAR},
      </if>
      <if test="estPartTime != null" >
        #{estPartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lampStatus != null" >
        #{lampStatus,jdbcType=VARCHAR},
      </if>
      <if test="redLock != null" >
        #{redLock,jdbcType=CHAR},
      </if>
       GETDATE(),GETDATE(),@{SESSION_USER_ID},@{SESSION_USER_ID},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.transplan.entity.ToTransPlan" >
    update sctrans.T_TO_TRANS_PLAN
    <set >
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="partCode != null" >
        PART_CODE = #{partCode,jdbcType=VARCHAR},
      </if>
      <if test="estPartTime != null" >
        EST_PART_TIME = #{estPartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lampStatus != null" >
        LAMP_STATUS = #{lampStatus,jdbcType=VARCHAR},
      </if>
      <if test="redLock != null" >
        RED_LOCK = #{redLock,jdbcType=CHAR},
      </if>
       CREATE_TIME = GETDATE(),
       UPDATE_TIME = GETDATE(),
       CREATE_BY = @{SESSION_USER_ID},
       UPDATE_BY = @{SESSION_USER_ID},
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.transplan.entity.ToTransPlan" >
    update sctrans.T_TO_TRANS_PLAN
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      PART_CODE = #{partCode,jdbcType=VARCHAR},
      LAMP_STATUS = #{lampStatus,jdbcType=VARCHAR},
      RED_LOCK = #{redLock,jdbcType=CHAR},
      EST_PART_TIME = #{estPartTime,jdbcType=TIMESTAMP},
       CREATE_TIME = GETDATE(),
       UPDATE_TIME = GETDATE(),
       CREATE_BY = @{SESSION_USER_ID},
       UPDATE_BY = @{SESSION_USER_ID}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <select id="findTransPlanByCount" parameterType="com.centaline.trans.transplan.entity.ToTransPlan" resultType="java.lang.Integer">
    select 
    count(1)
    from sctrans.T_TO_TRANS_PLAN
    where 1=1 
    <if test="caseCode != null" >
      	and CASE_CODE = #{caseCode,jdbcType=VARCHAR}
    </if>
      <if test="partCode != null" >
        and PART_CODE = #{partCode,jdbcType=VARCHAR}
      </if>
  </select>
  <select id="findTransPlanByCaseCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_TRANS_PLAN
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR}
  </select>
  <select id="findTransPlan" parameterType="com.centaline.trans.transplan.entity.ToTransPlan" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_TRANS_PLAN
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR}
    and PART_CODE = #{partCode,jdbcType=VARCHAR}
  </select>
  
  <update id="updateTransPlanSelective" parameterType="com.centaline.trans.transplan.entity.ToTransPlan" >
    update sctrans.T_TO_TRANS_PLAN
    <set >
      <if test="estPartTime != null" >
        EST_PART_TIME = #{estPartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="partCode != null" >
        PART_CODE = #{partCode,jdbcType=VARCHAR}
      </if>
    </set>
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR} and PART_CODE = #{partCode,jdbcType=VARCHAR}
  </update>
  <select id="getToTransPlanByUserId" parameterType="java.lang.String" resultType="com.centaline.trans.task.entity.ToTransPlanOrToPropertyInfo">
	    
	    SELECT 
			p.PART_CODE as partCode,
			p.CASE_CODE as caseCode,
			p.EST_PART_TIME as estParTtime,
			prop.PROPERTY_ADDR as  propertyAddr
		FROM sctrans.T_TO_TRANS_PLAN p with(nolock)
		INNER JOIN sctrans.T_TO_CASE c with(nolock)
		ON c.CASE_CODE=p.CASE_CODE
		INNER JOIN sctrans.T_TG_SERV_ITEM_AND_PROCESSOR s with(nolock)
		ON s.CASE_CODE=p.CASE_CODE
		INNER JOIN sctrans.SYS_DICT d with(nolock)
		ON d.Type=s.srv_code
		INNER JOIN sctrans.T_TO_PROPERTY_INFO prop with(nolock)
		ON prop.CASE_CODE=p.CASE_CODE
		WHERE s.PROCESSOR_ID= #{leadingProcessId,jdbcType=VARCHAR}
			AND c.CASE_PROPERTY='30003003' 
			AND p.PART_CODE=d.CODE

  </select>
  <select id="getToTransPlanByDictOrUserId" parameterType="java.lang.String" resultType="com.centaline.trans.task.entity.ToTransPlanOrToPropertyInfo">
			SELECT	
					A.PART_CODE as partCode,
					A.CASE_CODE as caseCode,
					A.EST_PART_TIME as estParTtime,
					C.PROPERTY_ADDR as  propertyAddr
				FROM 
					sctrans.T_TO_TRANS_PLAN AS A
				LEFT JOIN sctrans.T_TO_PROPERTY_INFO AS C ON A.CASE_CODE = C.CASE_CODE
	      WHERE   A.CASE_CODE IN(
					(
						SELECT CASE_CODE FROM sctrans.T_TG_SERV_ITEM_AND_PROCESSOR
							WHERE 1=1
						AND  PROCESSOR_ID = #{leadingProcessId,jdbcType=VARCHAR}
					)
				)  


  </select>
</mapper>