<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.loan.repository.LoanAgentMapper">
	<resultMap id="BaseResultMap" type="com.centaline.trans.loan.entity.LoanAgent">
		<id column="PKID" property="pkid" jdbcType="BIGINT" />
		<result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
		<result column="FIN_ORG_CODE" property="finOrgCode" jdbcType="VARCHAR" />
		<result column="loan_Srv_Code" property="loanSrvCode" jdbcType="VARCHAR"/>
		<result column="CUST_NAME" property="custName" jdbcType="VARCHAR" />
		<result column="CUST_PHONE" property="custPhone" jdbcType="VARCHAR" />
		<result column="LOAN_AMOUNT" property="loanAmount" jdbcType="VARCHAR" />
		<result column="ACTUAL_AMOUNT" property="actualAmount"
			jdbcType="DECIMAL" />
		<result column="MONTH" property="month" jdbcType="INTEGER" /> 
		<result column="ZJ_NAME" property="zjName" jdbcType="VARCHAR" />
		<result column="ZJ_CODE" property="zjCode" jdbcType="VARCHAR" />
		<result column="CO_NAME" property="coName" jdbcType="VARCHAR" />
		<result column="CO_CODE" property="coCode" jdbcType="VARCHAR" />
		<result column="AWARD_PER" property="awardPer" jdbcType="VARCHAR" />
		<result column="APPLY_STATUS" property="applyStatus" jdbcType="VARCHAR" />
		<result column="CONFIRM_TIME" property="confirmTime" jdbcType="TIMESTAMP" />
		<result column="CONFIRM_STATUS" property="confirmStatus"
			jdbcType="VARCHAR" />
		<result column="LAST_EXCEED_EXPORT_TIME" property="lastExceedExportTime"
			jdbcType="TIMESTAMP" />
		<result column="APPLY_TIME" property="applyTime" jdbcType="TIMESTAMP" />
		<result column="SIGN_TIME" property="signTime" jdbcType="TIMESTAMP" />
		<result column="RELEASE_TIME" property="releaseTime" jdbcType="TIMESTAMP" />
		<result column="INCOME_CONFIRM_TIME" property="incomeConfirmTime"
			jdbcType="TIMESTAMP" />
		<result column="INCOME_ARRIVE_TIME" property="incomeArriveTime"
			jdbcType="TIMESTAMP" />
			<result column="sign_Amount" property="signAmount" jdbcType="DECIMAL"/>
			<result column="executor_Team" property="executorTeam" jdbcType="VARCHAR"/>
			<result column="executor_ID" property="executorId" jdbcType="VARCHAR"/>
			<result column="PD_NAME" property="pdName" jdbcType="VARCHAR"/>
			<result column="PD_CODE" property="pdCode" jdbcType="VARCHAR"/>
			<result column="PD_PAR" property="pdPar" jdbcType="DECIMAL"/>
			<result column="fin_case_code" property="finCaseCode" jdbcType="VARCHAR"/>
			<result column="create_Time" property="createTime" jdbcType="TIMESTAMP" />
			<result column="creator_Id" property="creatorId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		PKID, CASE_CODE, LOAN_SRV_CODE, FIN_ORG_CODE,
		CUST_NAME,CUST_PHONE,LOAN_AMOUNT,ACTUAL_AMOUNT,MONTH,ZJ_NAME,ZJ_CODE
		,CO_NAME,CO_CODE,AWARD_PER,APPLY_STATUS,CONFIRM_TIME,CONFIRM_STATUS,LAST_EXCEED_EXPORT_TIME,APPLY_TIME,SIGN_TIME
		,RELEASE_TIME,INCOME_CONFIRM_TIME,INCOME_ARRIVE_TIME,sign_Amount,executor_Team,executor_ID,PD_NAME,PD_CODE,PD_PAR,fin_case_code,create_Time,creator_Id
	</sql>
	<select id="selectByPkid" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sctrans.T_TO_LOAN_AGENT
		where PKID = #{pkid,jdbcType=BIGINT}
	</select>
	<select id="listByPkIdAndCaseCodeSrvCode" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sctrans.T_TO_LOAN_AGENT
		where PKID != #{0} and CASE_CODE = #{1} and loan_srv_code=#{2}
			
	</select>

	<insert id="insertSelective" parameterType="com.centaline.trans.loan.entity.LoanAgent" >
	   <selectKey resultType="java.lang.Long" keyProperty="pkid" order="AFTER" >
    	SELECT @@IDENTITY
  	</selectKey>
		insert into sctrans.T_TO_LOAN_AGENT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pkid != null">
				PKID,
			</if>
			<if test="loanSrvCode != null">
				loan_Srv_Code,
			</if>
			<if test="caseCode != null">
				CASE_CODE,
			</if>
			<if test="finOrgCode != null">
				FIN_ORG_CODE,
			</if>
			<if test="custName != null">
				CUST_NAME,
			</if>
			<if test="custPhone != null">
				CUST_PHONE,
			</if>
			<if test="loanAmount != null">
				LOAN_AMOUNT,
			</if>
			<if test="actualAmount != null">
				ACTUAL_AMOUNT,
			</if>
			<if test="month != null">
				MONTH,
			</if>
			<if test="zjName != null">
				ZJ_NAME,
			</if>
			<if test="zjCode != null">
				ZJ_CODE,
			</if>
			<if test="coCode != null">
				CO_CODE,
			</if>
			<if test="coName != null">
				CO_NAME,
			</if>
			<if test="awardPer != null">
				AWARD_PER,
			</if>
			<if test="applyStatus != null">
				APPLY_STATUS,
			</if>
			<if test="confirmTime != null">
				CONFIRM_TIME,
			</if>
			<if test="confirmStatus != null">
				CONFIRM_STATUS,
			</if>
			<if test="lastExceedExportTime != null">
				LAST_EXCEED_EXPORT_TIME,
			</if>
			<if test="applyTime != null">
				APPLY_TIME,
			</if>
			<if test="signTime != null">
				SIGN_TIME,
			</if>
			<if test="releaseTime != null">
				RELEASE_TIME,
			</if>
			<if test="incomeConfirmTime != null">
				INCOME_CONFIRM_TIME,
			</if>
			<if test="incomeArriveTime != null">
				INCOME_ARRIVE_TIME,
			</if>
			<if test="signAmount != null">
				sign_Amount,
			</if>
			<if test="executorTeam != null">
				executor_Team,
			</if>
			<if test="executorId != null">
				executor_ID,
			</if>
			<if test="pdName != null">
				PD_NAME,
			</if>
			<if test="pdCode != null">
				PD_CODE,
			</if>
			<if test="pdPar != null">
				PD_PAR,
			</if>
			<if test="finCaseCode != null">
				fin_case_code,
			</if>
			<if test="createTime !=null">
				create_time,
			</if>
			<if test="creatorId !=null">
				creator_Id,
			</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pkid != null">
				#{pkid,jdbcType=BIGINT},
			</if>
			<if test="loanSrvCode != null">
				#{loanSrvCode,jdbcType=VARCHAR},
			</if>
			<if test="caseCode != null">
				#{caseCode,jdbcType=VARCHAR},
			</if>
			<if test="finOrgCode != null">
				#{finOrgCode,jdbcType=VARCHAR},
			</if>
			<if test="custName != null">
				#{custName,jdbcType=VARCHAR},
			</if>
			<if test="custPhone != null">
				#{custPhone,jdbcType=VARCHAR},
			</if>
			<if test="loanAmount != null">
				#{loanAmount,jdbcType=DECIMAL},
			</if>
			<if test="actualAmount != null">
				#{actualAmount,jdbcType=DECIMAL},
			</if>
			<if test="month != null">
				#{month,jdbcType=INTEGER},
			</if>
			<if test="zjName != null">
				#{zjName,jdbcType=VARCHAR},
			</if>
			<if test="zjCode != null">
				#{zjCode,jdbcType=VARCHAR},
			</if>
			<if test="coCode != null">
				#{coCode,jdbcType=VARCHAR},
			</if>
			<if test="coName != null">
				#{coName,jdbcType=VARCHAR},
			</if>
			<if test="awardPer != null">
				#{awardPer,jdbcType=VARCHAR},
			</if>
			<if test="applyStatus != null">
				#{applyStatus,jdbcType=VARCHAR},
			</if>
			<if test="confirmTime != null">
				#{confirmTime,jdbcType=TIMESTAMP},
			</if>
			<if test="confirmStatus != null">
				#{confirmStatus,jdbcType=VARCHAR},
			</if>
			<if test="lastExceedExportTime != null">
				#{lastExceedExportTime,jdbcType=TIMESTAMP},
			</if>
			<if test="applyTime != null">
				#{applyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="signTime != null">
				#{signTime,jdbcType=TIMESTAMP},
			</if>
			<if test="releaseTime != null">
				#{releaseTime,jdbcType=TIMESTAMP},
			</if>
			<if test="incomeConfirmTime != null">
				#{incomeConfirmTime,jdbcType=TIMESTAMP},
			</if>
			<if test="incomeArriveTime != null">
				#{incomeArriveTime,jdbcType=TIMESTAMP},
			</if>
			<if test="signAmount != null">
				#{signAmount,jdbcType=DECIMAL},
			</if>
			<if test="executorTeam != null">
				#{executorTeam,jdbcType=VARCHAR},
			</if>
			<if test="executorId != null">
				#{executorId,jdbcType=VARCHAR},
			</if>
			<if test="pdName != null">
				#{pdName,jdbcType=VARCHAR},
			</if>
			<if test="pdCode != null">
				#{pdCode,jdbcType=VARCHAR},
			</if>
			<if test="pdPar != null">
				#{pdPar,jdbcType=DECIMAL},
			</if>
			<if test="finCaseCode !=null">
				#{finCaseCode,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId !=null">
				#{creatorId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.loan.entity.LoanAgent">
		update sctrans.T_TO_LOAN_AGENT
		<set>
			<if test="caseCode != null">
				CASE_CODE = #{caseCode,jdbcType=VARCHAR},
			</if>
			<if test="finOrgCode != null">
				FIN_ORG_CODE = #{finOrgCode,jdbcType=VARCHAR},
			</if>
			<if test="custName != null">
				CUST_NAME = #{custName,jdbcType=VARCHAR},
			</if>
			<if test="custPhone != null">
				cust_Phone = #{custPhone,jdbcType=VARCHAR},
			</if>
			<if test="loanAmount != null">
				loan_Amount = #{loanAmount,jdbcType=DECIMAL},
			</if>
			<if test="actualAmount != null">
				actual_Amount = #{actualAmount,jdbcType=DECIMAL},
			</if>
			<if test="month != null">
				month = #{month,jdbcType=INTEGER},
			</if>
			<if test="zjName != null">
				zj_Name = #{zjName,jdbcType=VARCHAR},
			</if>
			<if test="zjCode != null">
				zj_Code = #{zjCode,jdbcType=VARCHAR},
			</if>
			<if test="coCode != null">
				co_Code = #{coCode,jdbcType=VARCHAR},
			</if>
			<if test="coName != null">
				co_Name = #{coName,jdbcType=VARCHAR},
			</if>
			<if test="awardPer != null">
				award_Per = #{awardPer,jdbcType=VARCHAR},
			</if>
			<if test="applyStatus != null">
				apply_Status = #{applyStatus,jdbcType=VARCHAR},
			</if>
			<if test="confirmTime != null">
				confirm_Time = #{confirmTime,jdbcType=TIMESTAMP},
			</if>
			<if test="confirmStatus != null">
				confirm_Status = #{confirmStatus,jdbcType=VARCHAR},
			</if>
			<if test="lastExceedExportTime != null">
				last_Exceed_Export_Time =
				#{lastExceedExportTime,jdbcType=TIMESTAMP},
			</if>
			<if test="applyTime != null">
				apply_Time = #{applyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="signTime != null">
				sign_Time = #{signTime,jdbcType=TIMESTAMP},
			</if>
			<if test="releaseTime != null">
				release_Time = #{releaseTime,jdbcType=TIMESTAMP},
			</if>
			<if test="incomeConfirmTime != null">
				income_Confirm_Time =
				#{incomeConfirmTime,jdbcType=TIMESTAMP},
			</if>
			<if test="incomeArriveTime != null">
				income_Arrive_Time = #{incomeArriveTime,jdbcType=TIMESTAMP},
			</if>
			<if test="signAmount != null">
				sign_Amount = #{signAmount,jdbcType=DECIMAL},
			</if>
			<if test="executorTeam != null">
				executor_Team = #{executorTeam,jdbcType=VARCHAR},
			</if>
			<if test="executorId != null">
				executor_Id = #{executorId,jdbcType=VARCHAR},
			</if>
			<if test="loanSrvCode != null">
				loan_Srv_Code=#{loanSrvCode,jdbcType=VARCHAR},
			</if>
			<if test="pdName != null">
				PD_NAME=#{pdName,jdbcType=VARCHAR},
			</if>
			<if test="pdCode != null">
				PD_CODE=#{pdCode,jdbcType=VARCHAR},
			</if>
			<if test="pdPar != null">
				PD_PAR=#{pdPar,jdbcType=DECIMAL},
			</if>
			<if test="finCaseCode != null">
				fin_case_code = #{finCaseCode,jdbcType=VARCHAR},
			</if>
		</set>
		where PKID = #{pkid,jdbcType=BIGINT}
	</update>
	<delete id="deleteByPkid">
		delete from sctrans.T_TO_LOAN_AGENT where PKID = #{pkid,jdbcType=BIGINT}
	</delete>
	
	<!-- 批量更新导出时间 -->
   <!--  <update id="batchUpdateExportTime" parameterType="array">  
	  UPDATE sctrans.T_TO_LOAN_AGENT
	  SET LAST_EXCEED_EXPORT_TIME = GETDATE() 
	  WHERE PKID in
	  <foreach collection="array" item="pkId" separator="," open="(" close=")" index="">  
	     #{pkId}  
	  </foreach>  
	 </update> -->
</mapper>