<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.loan.repository.ToCloseLoanMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.loan.entity.ToCloseLoan" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="LOAN_CLOSE_CODE" property="loanCloseCode" jdbcType="TIMESTAMP" />
    <result column="CLOSE_TYPE" property="closeType" jdbcType="VARCHAR" />
    <result column="UNCLOSE_MONEY" property="uncloseMoney" jdbcType="DECIMAL" />
    <result column="MORTGAGE_BANK" property="mortgageBank" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.centaline.trans.loan.entity.ToCloseLoan" extends="BaseResultMap" >
    <result column="COMMENT" property="comment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, CASE_CODE, LOAN_CLOSE_CODE, CLOSE_TYPE, UNCLOSE_MONEY, MORTGAGE_BANK
  </sql>
  <sql id="Blob_Column_List" >
    COMMENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sctrans.T_TO_CLOSE_LOAN
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TO_CLOSE_LOAN
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.loan.entity.ToCloseLoan" >
    insert into sctrans.T_TO_CLOSE_LOAN (PKID, CASE_CODE, LOAN_CLOSE_CODE, 
      CLOSE_TYPE, UNCLOSE_MONEY, COMMENT, MORTGAGE_BANK
      )
    values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR}, #{loanCloseCode,jdbcType=TIMESTAMP}, 
      #{closeType,jdbcType=VARCHAR}, #{uncloseMoney,jdbcType=DECIMAL}, #{comment,jdbcType=LONGVARCHAR},
      #{mortgageBank,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.loan.entity.ToCloseLoan" >
    insert into sctrans.T_TO_CLOSE_LOAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="loanCloseCode != null" >
        LOAN_CLOSE_CODE,
      </if>
      <if test="closeType != null" >
        CLOSE_TYPE,
      </if>
      <if test="uncloseMoney != null" >
        UNCLOSE_MONEY,
      </if>
      <if test="comment != null" >
        COMMENT,
      </if>
      <if test="mortgageBank != null">
      	MORTGAGE_BANK
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="loanCloseCode != null" >
        #{loanCloseCode,jdbcType=TIMESTAMP},
      </if>
      <if test="closeType != null" >
        #{closeType,jdbcType=VARCHAR},
      </if>
      <if test="uncloseMoney != null" >
        #{uncloseMoney,jdbcType=DECIMAL},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="mortgageBank != null">
      	#{mortgageBank,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.loan.entity.ToCloseLoan" >
    update sctrans.T_TO_CLOSE_LOAN
    <set >
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="loanCloseCode != null" >
        LOAN_CLOSE_CODE = #{loanCloseCode,jdbcType=TIMESTAMP},
      </if>
      <if test="closeType != null" >
        CLOSE_TYPE = #{closeType,jdbcType=VARCHAR},
      </if>
      <if test="uncloseMoney != null" >
        UNCLOSE_MONEY = #{uncloseMoney,jdbcType=DECIMAL},
      </if>
      <if test="comment != null" >
        COMMENT = #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="mortgageBank != null">
      	MORTGAGE_BANK = #{mortgageBank,jdbcType=VARCHAR},
      </if>
    </set>
    ,IS_ACTIVE='1'
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.centaline.trans.loan.entity.ToCloseLoan" >
    update sctrans.T_TO_CLOSE_LOAN
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      LOAN_CLOSE_CODE = #{loanCloseCode,jdbcType=TIMESTAMP},
      CLOSE_TYPE = #{closeType,jdbcType=VARCHAR},
      UNCLOSE_MONEY = #{uncloseMoney,jdbcType=DECIMAL},
      COMMENT = #{comment,jdbcType=LONGVARCHAR},
      MORTGAGE_BANK = #{mortgageBank,jdbcType=VARCHAR}
      ,IS_ACTIVE='1'
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.loan.entity.ToCloseLoan" >
    update sctrans.T_TO_CLOSE_LOAN
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      LOAN_CLOSE_CODE = #{loanCloseCode,jdbcType=TIMESTAMP},
      CLOSE_TYPE = #{closeType,jdbcType=VARCHAR},
      UNCLOSE_MONEY = #{uncloseMoney,jdbcType=DECIMAL},
      MORTGAGE_BANK = #{mortgageBank,jdbcType=VARCHAR}
      ,IS_ACTIVE='1'
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  
  <select id="findToCloseLoanByCaseCode" parameterType="java.lang.String" resultMap="BaseResultMap">

    select 

    <include refid="Base_Column_List" />,<include refid="Blob_Column_List"/>

    from sctrans.T_TO_CLOSE_LOAN

    where CASE_CODE = #{caseCode,jdbcType=VARCHAR}

  </select>
  <select id="getLoanLostTypeValue" parameterType="java.lang.String" resultType="java.lang.String">
    	select top 1 e.LOAN_LOST_TYPE from sctrans.V_CASE_LIST_EXCEL E where e.CASE_CODE=#{caseCode}
  </select>
</mapper>