<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.mgr.repository.TsFinOrgMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.mgr.entity.TsFinOrg" >
    <result column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="FIN_ORG_NAME" property="finOrgName" jdbcType="VARCHAR" />
    <result column="FIN_ORG_NAME_YC" property="finOrgNameYc" jdbcType="VARCHAR" />
    <result column="FIN_ORG_CODE" property="finOrgCode" jdbcType="VARCHAR" />
    <result column="FA_FIN_ORG_CODE" property="faFinOrgCode" jdbcType="VARCHAR" />
    <result column="FA_FIN_ORG_NAME" property="faFinOrgName" jdbcType="VARCHAR" />
    <result column="CO_LEVEL" property="coLevel" jdbcType="VARCHAR" />
    <result column="fin_org_name_yc" property="finOrgNameYc" jdbcType="VARCHAR" />
    
  </resultMap>
  <insert id="insert" parameterType="com.centaline.trans.mgr.entity.TsFinOrg" >
    insert into sctrans.T_TS_FIN_ORG (FIN_ORG_NAME, FIN_ORG_CODE, 
      FA_FIN_ORG_CODE,fin_org_name_yc)
    values (#{finOrgName,jdbcType=VARCHAR}, #{finOrgCode,jdbcType=VARCHAR}, 
      #{faFinOrgCode,jdbcType=VARCHAR},#{finOrgNameYc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.mgr.entity.TsFinOrg" >
    insert into sctrans.T_TS_FIN_ORG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="finOrgName != null" >
        FIN_ORG_NAME,
      </if>
      <if test="finOrgCode != null" >
        FIN_ORG_CODE,
      </if>
      <if test="faFinOrgCode != null" >
        FA_FIN_ORG_CODE,
      </if>
       <if test="finOrgNameYc != null" >
		fin_org_name_yc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="finOrgName != null" >
        #{finOrgName,jdbcType=VARCHAR},
      </if>
      <if test="finOrgCode != null" >
        #{finOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="faFinOrgCode != null" >
        #{faFinOrgCode,jdbcType=VARCHAR},
      </if>
       <if test="finOrgNameYc != null" >
        #{finOrgNameYc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.centaline.trans.mgr.entity.TsFinOrg" >
    update sctrans.T_TS_FIN_ORG
    <set >
      <if test="finOrgName != null" >
        FIN_ORG_NAME = #{finOrgName,jdbcType=VARCHAR},
      </if>
      <if test="finOrgCode != null" >
        FIN_ORG_CODE = #{finOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="faFinOrgCode != null" >
        FA_FIN_ORG_CODE = #{faFinOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="finOrgNameYc != null" >
        fin_org_name_yc = #{finOrgNameYc,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="delete" parameterType="java.lang.Long" >
    delete from sctrans.T_TS_FIN_ORG
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  
  <select id="findEguParentBankList" resultMap="BaseResultMap" >
    select * from sctrans.T_TS_FIN_ORG where fin_org_code in(
  	select tfo.fa_fin_org_code from sctrans.T_TS_FIN_ORG tfo inner join
  		sctrans.T_TS_BANK_EVA_RELATIONSHIP tbe
  		on tfo.fin_org_code=tbe.bank_code and tbe.EVA_COMPANY_CODE=#{evaCompanyCode,jdbcType=VARCHAR}  
  		
  		<if test="tag != null" >
        	inner join sctrans.T_TS_SUP ts on ts.fin_org_code=tfo.fin_org_code
        	and (ts.tags like '%'+#{tag,jdbcType=VARCHAR}+'%')
      	</if>
 	 )	

  </select> 
 
  <select id="findEguBankListByParentCode"  resultMap="BaseResultMap">
    select ts.*,tt.CO_LEVEL from sctrans.T_TS_FIN_ORG as ts
    right join sctrans.T_TS_SUP as tt 
    	on tt.fin_org_code= ts.fin_org_code and tt.sup_cat='0'
    where ts.fa_fin_org_code=#{faFinOrgCode,jdbcType=VARCHAR}
    and ts.fin_org_code in(select BANK_CODE from sctrans.T_TS_BANK_EVA_RELATIONSHIP WHERE EVA_COMPANY_CODE=#{evaCompanyCode,jdbcType=VARCHAR})
         <if test="tag != null" >
        	and (tt.tags like '%'+#{tag,jdbcType=VARCHAR}+'%' )
      		</if>
    order by tt.CO_LEVEL asc
  </select>
  
  <select id="findParentBankList" resultMap="BaseResultMap" >
    select * from sctrans.T_TS_FIN_ORG where fin_org_code in 
    (select distinct FA_FIN_ORG_CODE from sctrans.T_TS_FIN_ORG where FIN_ORG_CODE 
    in(select FIN_ORG_CODE from sctrans.T_TS_SUP ts where ts.SUP_CAT='0' 
             <if test="tag != null" >
        	and (ts.tags like '%'+#{tag,jdbcType=VARCHAR}+'%' )
      		</if>
    ))
  </select> 
  
  <select id="findAllFinOrg" resultMap="BaseResultMap" >
    select * from sctrans.T_TS_FIN_ORG
  </select> 
 
  <select id="findByPkid" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select TFO.*,TF.FIN_ORG_NAME FA_FIN_ORG_NAME from sctrans.T_TS_FIN_ORG TFO LEFT JOIN sctrans.T_TS_FIN_ORG TF ON 
    TFO.FA_FIN_ORG_CODE=TF.FIN_ORG_CODE where TFO.PKID=#{pkid,jdbcType=BIGINT}
  </select>
   
  <select id="findBankListByParentCode"  resultMap="BaseResultMap">
    select ts.*,tt.CO_LEVEL from sctrans.T_TS_FIN_ORG ts right join sctrans.T_TS_SUP as tt 
    	on tt.fin_org_code= ts.fin_org_code and tt.sup_cat='0'
     where  fa_fin_org_code=#{faFinOrgCode,jdbcType=VARCHAR}
              <if test="tag != null" >
        			and (tt.tags like '%'+#{tag,jdbcType=VARCHAR}+'%')
      		</if>
     	order by tt.CO_LEVEL asc
  </select>
  
  <select id="findParentBank" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from sctrans.T_TS_FIN_ORG where fin_org_code in (select fa_fin_org_code from sctrans.T_TS_FIN_ORG 
    where fin_org_code=#{finOrgCode,jdbcType=VARCHAR}) 
  </select>
  
  <select id="findBankByFinOrg" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select * from sctrans.T_TS_FIN_ORG where FIN_ORG_CODE = #{finOrgCode,jdbcType=VARCHAR}
  </select>
  
  <select id="findTsFinOrgByFinOrgCode" resultMap="BaseResultMap">
  	select * from sctrans.T_TS_FIN_ORG where FIN_ORG_CODE = #{finOrgCode,jdbcType=VARCHAR}
  	<if test="pkid != null">
  	  	<![CDATA[and PKID <> #{pkid,jdbcType=BIGINT} ]]>
  	</if>
  </select>
  
  <select id="findBySupCat" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select * from sctrans.T_TS_FIN_ORG where FIN_ORG_CODE in (select fin_org_code from sctrans.T_TS_SUP 
  	where SUP_CAT=#{supCat,jdbcType=VARCHAR})
  </select>
  <select id="findBranchBank" resultMap="BaseResultMap">
  	select * from sctrans.T_TS_FIN_ORG where fin_org_code in 
    (select FIN_ORG_CODE from sctrans.T_TS_FIN_ORG where FIN_ORG_CODE 
    in(select FIN_ORG_CODE from sctrans.T_TS_SUP ts where ts.SUP_CAT='0')) 
  </select>
    <select id="queryFinOrgNameLike" resultMap="BaseResultMap">
  	select * from sctrans.T_TS_FIN_ORG where fin_org_Name like '%'+#{finOrgName,jdbcType=VARCHAR}+'%';
  </select>
  
</mapper>