<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.mgr.repository.TsSupMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.mgr.entity.TsSup" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="FIN_ORG_CODE" property="finOrgCode" jdbcType="VARCHAR" />
    <result column="CONTACT_NAME" property="contactName" jdbcType="NVARCHAR" />
    <result column="CONTACT_PHONE" property="contactPhone" jdbcType="NVARCHAR" />
    <result column="SUP_CAT" property="supCat" jdbcType="NVARCHAR" />
    <result column="REL_FIN_ORG_CODE" property="relFinOrgCode" jdbcType="VARCHAR" />
    <result column="CO_LEVEL" property="coLevel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, FIN_ORG_CODE, CONTACT_NAME, CONTACT_PHONE, SUP_CAT, REL_FIN_ORG_CODE,CO_LEVEL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TS_SUP
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TS_SUP
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.mgr.entity.TsSup" >
    insert into sctrans.T_TS_SUP (FIN_ORG_CODE, CONTACT_NAME, 
      CONTACT_PHONE, SUP_CAT, REL_FIN_ORG_CODE,CO_LEVEL
      )
    values ( #{finOrgCode,jdbcType=VARCHAR}, #{contactName,jdbcType=NVARCHAR}, 
      #{contactPhone,jdbcType=NVARCHAR}, #{supCat,jdbcType=NVARCHAR}, #{relFinOrgCode,jdbcType=VARCHAR}, #{coLevel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.mgr.entity.TsSup" >
    insert into sctrans.T_TS_SUP
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="finOrgCode != null" >
        FIN_ORG_CODE,
      </if>
      <if test="contactName != null" >
        CONTACT_NAME,
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE,
      </if>
      <if test="supCat != null" >
        SUP_CAT,
      </if>
      <if test="relFinOrgCode != null" >
        REL_FIN_ORG_CODE,
      </if>
      <if test="coLevel != null" >
        CO_LEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="finOrgCode != null" >
        #{finOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=NVARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=NVARCHAR},
      </if>
      <if test="supCat != null" >
        #{supCat,jdbcType=NVARCHAR},
      </if>
      <if test="relFinOrgCode != null" >
        #{relFinOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="coLevel != null" >
        #{coLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.mgr.entity.TsSup" >
    update sctrans.T_TS_SUP
    <set >
      <if test="finOrgCode != null" >
        FIN_ORG_CODE = #{finOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        CONTACT_NAME = #{contactName,jdbcType=NVARCHAR},
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE = #{contactPhone,jdbcType=NVARCHAR},
      </if>
      <if test="supCat != null" >
        SUP_CAT = #{supCat,jdbcType=NVARCHAR},
      </if>
      <if test="relFinOrgCode != null" >
        REL_FIN_ORG_CODE = #{relFinOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="coLevel != null" >
        CO_LEVEL = #{coLevel,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.mgr.entity.TsSup" >
    update sctrans.T_TS_SUP
    set FIN_ORG_CODE = #{finOrgCode,jdbcType=VARCHAR},
      CONTACT_NAME = #{contactName,jdbcType=NVARCHAR},
      CONTACT_PHONE = #{contactPhone,jdbcType=NVARCHAR},
      SUP_CAT = #{supCat,jdbcType=NVARCHAR},
      REL_FIN_ORG_CODE = #{relFinOrgCode,jdbcType=VARCHAR},
      CO_LEVEL=#{coLevel,jdbcType=VARCHAR}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  
  <select id="findSupByFinOrgCodeAndSupCat" resultMap="BaseResultMap">
  	select * from sctrans.T_TS_SUP where FIN_ORG_CODE=#{finOrgCode,jdbcType=VARCHAR} and SUP_CAT=#{supCat,jdbcType=NVARCHAR}
  	<if test="pkid != null">
  		<![CDATA[and PKID <> #{pkid,jdbcType=BIGINT} ]]>
  	</if>
  </select>
  
  <select id="findTsSupByFinOrgCode" resultMap="BaseResultMap">
  	select * from sctrans.T_TS_SUP where FIN_ORG_CODE=#{finOrgCode,jdbcType=VARCHAR}
  </select>
</mapper>