<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centaline.trans.ransom.repository.AddRansomFormMapper">
	<resultMap id="BaseResultMap" type="com.centaline.trans.ransom.entity.ToRansomFormVo">
		<id column="PKID" property="pkid" jdbcType="BIGINT" />
		<result column="RANSOM_CODE" property="ransomCode" jdbcType="VARCHAR" />
		<result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
		<result column="SIGN_TIME" property="signTime" jdbcType="TIMESTAMP" />
		<result column="PLAN_TIME" property="planTime" jdbcType="TIMESTAMP" />
		<result column="FIN_ORG_CODE" property="finOrgCode" jdbcType="VARCHAR" />
		<result column="MORTGAGE_TYPE" property="mortgageType" jdbcType="VARCHAR" />
		<result column="DIYA_TYPE" property="diyaType" jdbcType="VARCHAR" />
		<result column="LOAN_MONEY" property="loanMoney" jdbcType="DECIMAL" />
		<result column="BORROWER_NAME" property="borrowerName" jdbcType="VARCHAR" />
		<result column="BORRO_MONEY" property="borroMoney" jdbcType="DECIMAL" />
		<result column="REST_MONEY" property="restMoney" jdbcType="DECIMAL" />
		<result column="REPAY_TIME" property="repayTime" jdbcType="TIMESTAMP"/>
		<result column="comOrgName" property="comOrgName" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="Base_Column_List" >
	PKID, RANSOM_CODE, CASE_CODE, SIGN_TIME, PLAN_TIME, FIN_ORG_CODE, MORTGAGE_TYPE,
	DIYA_TYPE, LOAN_MONEY, BORROWER_NAME, BORRO_MONEY, REST_MONEY
	</sql>
	
	<select id="selectByCaseCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_RA_TAILINS
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR}
  	</select>
	
	<insert id="insertRansomForm" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO [sctrans].[T_RA_TAILINS](
			[CASE_CODE],
            [RANSOM_CODE],
            [BORROWER_NAME],
            [SIGN_TIME],
            [PLAN_TIME],
            [FIN_ORG_CODE],
            [MORTGAGE_TYPE],
            [DIYA_TYPE],
            [LOAN_MONEY],
            [REST_MONEY],
            [BORRO_MONEY],
            [CREATE_USER],
            [CREATE_TIME],
            [UPDATE_USER],
            [UPDATE_TIME]
        )
        VALUES
        <foreach collection="list" item = "item" index = "index" separator=",">
        (
        	#{item.caseCode,jdbcType=VARCHAR},
            #{item.ransomCode,jdbcType=VARCHAR},
            #{item.borrowerName,jdbcType=VARCHAR},
            
            #{item.signTime,jdbcType=TIMESTAMP},
            #{item.planTime,jdbcType=TIMESTAMP},
            #{item.finOrgCode,jdbcType=VARCHAR},
            
            #{item.mortgageType,jdbcType=VARCHAR},
            #{item.diyaType,jdbcType=VARCHAR},
            #{item.loanMoney,jdbcType=DECIMAL},

            #{item.restMoney,jdbcType=DECIMAL},
            #{item.borroMoney,jdbcType=DECIMAL},
            #{item.createUser,jdbcType=VARCHAR},
            
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateUser,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=TIMESTAMP}
        )	
        </foreach>
	</insert>
	
	<select id="findTaiLinsInfoByCaseCode" resultMap="BaseResultMap">
		SELECT
			ta.REST_MONEY,
			rep.REPAY_TIME,
			(SELECT FIN_ORG_NAME FROM sctrans.T_TS_FIN_ORG WHERE FIN_ORG_CODE = cas.COM_ORG_CODE) comOrgName
		FROM
			sctrans.T_RA_CASE cas
			INNER JOIN sctrans.T_RA_TAILINS ta ON cas.RANSOM_CODE = ta.RANSOM_CODE
			LEFT JOIN	sctrans.T_RA_REPAY rep ON rep.RANSOM_CODE = cas.RANSOM_CODE
		WHERE
			cas.CASE_CODE = #{caseCode,jdbcType=VARCHAR}
			AND (cas.ISSTOP IS NULL OR cas.ISSTOP != '710170003')
	</select>
</mapper>