<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centaline.trans.ransom.repository.RansomListFormMapper">
	<resultMap id="BaseResultMap" type="com.centaline.trans.ransom.entity.ToRansomCaseVo" >
		<id column="PKID" property="pkid" jdbcType="BIGINT" />
	    <result column="RANSOM_CODE" property="ransomCode" jdbcType="VARCHAR" />
	    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
	    <result column="RANSOM_STATUS" property="ransomStatus" jdbcType="NVARCHAR" />
	    <result column="RANSOM_PROPERTY" property="ransomProperty" jdbcType="NVARCHAR" />
	    <result column="COM_ORG_CODE" property="comOrgCode" jdbcType="VARCHAR" />
	    <result column="BORRO_MONEY" property="borroMoney" jdbcType="DECIMAL" />
	    <result column="BORROWER_NAME" property="borrowerName" jdbcType="VARCHAR" />
	    <result column="BORROWER_TEL" property="borrowerTel" jdbcType="VARCHAR" />
	    <result column="ISSTOP" property="isstop" jdbcType="VARCHAR" />
	    <result column="STOP_TYPE" property="stopType" jdbcType="VARCHAR" />
	    <result column="STOP_REASON" property="stopReason" jdbcType="VARCHAR" />
	    <result column="ACCEPT_TIME" property="acceptTime" jdbcType="TIMESTAMP" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
	    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
	    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
	    <result column="FIN_ORG_ID" property="finOrgId" jdbcType="NVARCHAR" />
	</resultMap>
	
	<select id="getRansomCase" resultMap="BaseResultMap">
		SELECT * FROM sctrans.T_RA_CASE WHERE CASE_CODE = #{caseCode,jdbcType=VARCHAR}
	</select>
	
	
	<insert id="addRansomDetail" parameterType="com.centaline.trans.ransom.entity.ToRansomCaseVo">
		insert into sctrans.T_RA_CASE (
			RANSOM_CODE, 
			CASE_CODE, 
			RANSOM_STATUS, 
			RANSOM_PROPERTY, 
			COM_ORG_CODE, 
			BORRO_MONEY, 
			BORROWER_NAME, 
			BORROWER_TEL, 
			ISSTOP, 
			STOP_TYPE, 
			STOP_REASON, 
			ACCEPT_TIME, 
			CREATE_TIME, 
			CREATE_USER, 
			UPDATE_TIME, 
			UPDATE_USER, 
			FIN_ORG_ID, 
			REMARK
      )
    values (
		#{ransomCode,jdbcType=VARCHAR}, 
		#{caseCode,jdbcType=VARCHAR}, 
		'RANSOMDEAL', 	
		#{ransomProperty,jdbcType=NVARCHAR}, 
		#{comOrgCode,jdbcType=VARCHAR}, 
		#{borroMoney,jdbcType=DECIMAL}, 
		#{borrowerName,jdbcType=VARCHAR}, 
		#{borrowerTel,jdbcType=VARCHAR}, 
		#{isstop,jdbcType=VARCHAR}, 
		#{stopType,jdbcType=VARCHAR}, 
		#{stopReason,jdbcType=VARCHAR}, 
		#{acceptTime,jdbcType=TIMESTAMP}, 
		#{createTime,jdbcType=TIMESTAMP}, 
		#{createUser,jdbcType=VARCHAR}, 
		#{updateTime,jdbcType=TIMESTAMP}, 
		#{updateUser,jdbcType=VARCHAR}, 
		#{finOrgId,jdbcType=NVARCHAR}, 
		#{remark,jdbcType=LONGVARCHAR}
      )
	</insert>
	
	<update id="updateRansomDiscountinue" parameterType="com.centaline.trans.ransom.entity.ToRansomCaseVo">
		UPDATE 
			sctrans.T_RA_CASE
		SET
			STOP_TYPE = #{stopType,jdbcType=VARCHAR},
			STOP_REASON = #{stopReason,jdbcType=VARCHAR}
		WHERE
			CASE_CODE = #{caseCode,jdbcType=VARCHAR}
	</update>
</mapper>