<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centaline.trans.ransom.repository.RansomListFormMapper">
	<resultMap id="BaseResultMap" type="com.centaline.trans.ransom.entity.ToRansomCaseVo" >
		<id column="PKID" property="pkid" jdbcType="BIGINT" />
	    <result column="RANSOM_CODE" property="ransomCode" jdbcType="VARCHAR" />
	    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
	    <result column="RANSOM_STATUS" property="ransomStatus" jdbcType="NVARCHAR" />
	    <result column="RANSOM_PROPERTY" property="ransomProperty" jdbcType="NVARCHAR" />
	    <result column="COM_ORG_CODE" property="comOrgCode" jdbcType="VARCHAR" />
	    <result column="BORRO_MONEY" property="borroMoney" jdbcType="DECIMAL" />
	    <result column="BORROWER_NAME" property="borrowerName" jdbcType="VARCHAR" />
	    <result column="BORROWER_TEL" property="borrowerTel" jdbcType="VARCHAR" />
	    <result column="ISSTOP" property="isstop" jdbcType="VARCHAR" />
	    <result column="STOP_TYPE" property="stopType" jdbcType="VARCHAR" />
	    <result column="STOP_REASON" property="stopReason" jdbcType="VARCHAR" />
	    <result column="ACCEPT_TIME" property="acceptTime" jdbcType="TIMESTAMP" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
	    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
	    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
	    <result column="FIN_ORG_ID" property="finOrgId" jdbcType="NVARCHAR" />
	</resultMap>
	<resultMap type="com.centaline.trans.common.entity.TgGuestInfo" id="guestMap">
		<id column="PKID" property="pkid" jdbcType="BIGINT"/>
    	<result column="guest_code" property="guestCode" jdbcType="VARCHAR"/>
    	<result column="case_code" property="caseCode" jdbcType="VARCHAR"/>
    	<result column="guest_name" property="guestName" jdbcType="VARCHAR"/>
    	<result column="guest_phone" property="guestPhone" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="getRansomPlanTime" resultType="com.centaline.trans.ransom.entity.ToRansomPlanVo">
		 SELECT 
			pl.RANSOM_CODE ransomCode,
			pl.PART_CODE partCode,
			pl.EST_PART_TIME estPartTime,
			(SELECT TOP 1 CHANGE_REASON FROM sctrans.T_RA_PLAN_HISTORY his WHERE his.PART_CODE = pl.PART_CODE ORDER BY his.CREATE_TIME DESC) remark,
			pl.CREATE_TIME createTime,
			pl.CREATE_USER createUser,
			pl.UPDATE_TIME updateTime,
			pl.UPDATE_USER updateUser 
		FROM 
			sctrans.T_RA_PLAN pl
		WHERE 
			pl.RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR} 
			
	</select>
	
	<select id="getPartCode" resultType="java.lang.String">
		SELECT 
			PART_CODE partCode
		FROM 
			sctrans.T_RA_PLAN  
		WHERE 
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</select>
	
	<select id="getRansomDetailMoneyInfo" resultType="com.centaline.trans.ransom.vo.ToRansomMoneyVo">
		SELECT
			ra.RANSOM_CODE ransomCode,
			ra.BORRO_MONEY borrowerMoney,
			vie.INTERVIEW_MONEY interViewMoney,
			vie.INTEREST interest,
			vie.IS_ENTRUST isEntrust,
			rep.REPAY_MONEY repayLoanMoney
		FROM
			sctrans.T_RA_CASE ra
			LEFT JOIN sctrans.T_RA_INTERVIEW vie ON ra.RANSOM_CODE = vie.RANSOM_CODE
			LEFT JOIN sctrans.T_RA_REPAY rep ON ra.RANSOM_CODE = rep.RANSOM_CODE
		WHERE ra.RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</select>
	
	<select id="getRansomCaseInfo" resultType="com.centaline.trans.ransom.entity.ToRansomCaseVo">
		SELECT 
			RANSOM_CODE ransomCode,
			CASE_CODE caseCode,
			RANSOM_STATUS ransomStatus,
			COM_ORG_CODE comOrgCode,
			BORRO_MONEY borroMoney, 
			BORROWER_NAME borrowerName,
			BORROWER_TEL borrowerTel,
			ISSTOP isstop,
			STOP_TYPE stopType,
			STOP_REASON stopReason,
			ACCEPT_TIME acceptTime,
			ISAPPLY isApply,
			CREATE_TIME createTime,
			CREATE_USER createUser,
			UPDATE_TIME updateTime,
			UPDATE_USER updateUser
		FROM sctrans.T_RA_CASE
		WHERE 1=1
		<if test="caseCode != null and caseCode != ''">
			and CASE_CODE = #{caseCode,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="getRansomCase" resultMap="BaseResultMap">
		SELECT * FROM sctrans.T_RA_CASE WHERE RANSOM_STATUS NOT IN(3,4)
		<if test="caseCode != null and caseCode != ''">
			and CASE_CODE = #{caseCode,jdbcType=VARCHAR}
		</if>
		<if test="ransomCode != null and ransomCode != ''">
			and RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="getGuestInfo" resultMap="guestMap">
		SELECT 
			GUEST_CODE guestCode,
			CASE_CODE caseCode,
			GUEST_NAME guestName,
			GUEST_PHONE guestPhone
		FROM 
			sctrans.T_TG_GUEST_INFO
		 WHERE 
		 	CASE_CODE = #{caseCode,jdbcType=VARCHAR}
	</select>
	
	<select id="getTsFinOrgIinfo" resultType="com.centaline.trans.mgr.entity.TsFinOrg">
		SELECT 
			FIN_ORG_NAME finOrgName,
			FIN_ORG_CODE finOrgCode,
			FA_FIN_ORG_CODE faFinOrgCode,
			FIN_ORG_NAME_YC finOrgNameYc
		FROM 
			sctrans.T_TS_FIN_ORG 
		 WHERE 
		 	FIN_ORG_CODE = #{finOrgCode,jdbcType=VARCHAR}
	</select>
	
	<select id="getRansomInfoByRansomCode" resultType="com.centaline.trans.ransom.vo.ToRansomVo">
		SELECT 
			cai.CASE_CODE caseCode,
			cai.RANSOM_CODE ransomCode,
			app.APPLY_TIME applyTime,
			app.REMAKE applyRemake,
			app.part_code partCode,

			inter.INTERVIEW_TIME interviewTime,
			inter.REMAKE interviewRemake,
			inter.part_code partCode,

			rep.REPAY_TIME repayTime,
			rep.REMAKE repayRemake,
			rep.part_code partCode,

			can.CANCEL_TIME cancelTime,
			can.REMAKE cancelRemake,
			can.part_code partCode,
		
			red.REDEEM_TIME redeemTime,
			red.REMAKE redeemRemake,
			red.part_code partCode,

			pay.PAYMENT_TIME paymentTime,
			pay.REMAKE paymentRemake,
			pay.part_code partCode
		FROM	sctrans.T_RA_CASE cai  
		LEFT JOIN sctrans.T_RA_APPLY app ON cai.RANSOM_CODE = app.RANSOM_CODE
		LEFT JOIN sctrans.T_RA_INTERVIEW inter ON inter.RANSOM_CODE = app.RANSOM_CODE
		LEFT JOIN	sctrans.T_RA_REPAY rep ON rep.RANSOM_CODE = inter.RANSOM_CODE
		LEFT JOIN	sctrans.T_RA_CANCEL can ON can.RANSOM_CODE = rep.RANSOM_CODE
		LEFT JOIN	sctrans.T_RA_REDEEM red ON red.RANSOM_CODE = can.RANSOM_CODE
		LEFT JOIN	sctrans.T_RA_PAYMENT pay ON pay.RANSOM_CODE = red.RANSOM_CODE
		WHERE
			cai.RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
		
	</select>
	
	<select id="getRansomLinkInfoByCaseCode" resultType="com.centaline.trans.ransom.vo.ToRansomLinkVo">
		SELECT 
			ca.CASE_CODE caseCode,
			pro.PROPERTY_ADDR propertyAddr,
			cai.AGENT_NAME agentName,
			cai.GRP_NAME grpName,
			guest.GUEST_NAME seller,
			guest.GUEST_PHONE sellPhone,
			guest1.GUEST_NAME buyer,
			guest1.GUEST_PHONE buyPhone,
			par.USER_NAME userName,
			par.REAL_NAME realName
		FROM sctrans.T_TO_CASE_INFO ca
		INNER JOIN sctrans.T_TO_PROPERTY_INFO  pro ON ca.CASE_CODE = pro.CASE_CODE
		INNER JOIN sctrans.T_TO_CASE_INFO cai ON pro.CASE_CODE = cai.CASE_CODE
		INNER  JOIN sctrans.T_TG_GUEST_INFO guest ON cai.CASE_CODE = guest.CASE_CODE and guest.TRANS_POSITION='30006001'
		INNER JOIN sctrans.T_TG_GUEST_INFO guest1 ON cai.CASE_CODE = guest1.CASE_CODE and guest1.TRANS_POSITION='30006002'
		INNER JOIN sctrans.T_TO_CASE_PARTICIPANT par ON guest.CASE_CODE = par.CASE_CODE
		WHERE  
			par.POSITION = 'warrant'
			AND  NOT EXISTS(SELECT cas.CASE_CODE FROM sctrans.T_RA_CASE cas WHERE cas.CASE_CODE = ca.CASE_CODE)
			AND ca.CASE_CODE = #{caseCode,jdbcType=VARCHAR}
	</select>
	
	<select id="queryCountRansomsByUserId" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT 
			COUNT(RANSOM_CODE) 
		FROM sctrans.T_RA_TAILINS tai,sctrans.T_TO_CASE cai with(nolock)
		WHERE 
			cai.CASE_CODE = tai.CASE_CODE 
				AND LEADING_PROCESS_ID = #{userId,jdbcType=VARCHAR}
		GROUP BY LEADING_PROCESS_ID
	</select>
	
	<select id="queryCountMonthRansomsByUserId" parameterType="java.lang.String" resultType="java.lang.Integer">
	     select 
	       COUNT(C.RANSOM_CODE) 
	    from sctrans.T_TO_CASE A,
			sctrans.T_RA_CASE C
	    where LEADING_PROCESS_ID = #{userId,jdbcType=VARCHAR}
			AND A.CASE_CODE = C.RANSOM_CODE
	    and datediff(month,C.UPDATE_TIME,getdate())=0
	    GROUP BY LEADING_PROCESS_ID
  	</select>
	
	<select id="getRansomTaskInfo" parameterType="java.lang.String" resultType="com.centaline.trans.ransom.vo.VRansomFinishTaskVo">
		SELECT 
			cas.CASE_CODE caseCode,
			cas.RANSOM_CODE ransomCode,
			<!-- act.TASK_DEF_KEY_ taskProperty, -->
			app.PART_CODE applyCode,
			app.APPLY_TIME applyTime,
			vie.PART_CODE signCode,
			vie.INTERVIEW_TIME signTime,
			rr1.PART_CODE payOneCode,
			rr1.REPAY_TIME payOneTime,	
			rr2.PART_CODE payTwoCode,
			rr2.REPAY_TIME payTwoTime,
			rca1.PART_CODE cancelOneCode,
			rca1.CANCEL_TIME cancelOneTime,
			rca2.PART_CODE cancelTwoCode,
			rca2.CANCEL_TIME cancelTwoeTime,
			rre1.PART_CODE receiveOneCode,
			rre1.REDEEM_TIME receiveOneTime,
			rre2.PART_CODE receiveTwoCode,
			rre2.REDEEM_TIME receiveTwoTime,	
			rp.PART_CODE paymentCode,
			rp.PAYMENT_TIME paymentTime,
			(SELECT REAL_NAME FROM sctrans.SYS_USER sy WHERE sy.ID = tw.UPDATE_BY ) doUser
		FROM sctrans.T_RA_CASE cas 
		LEFT JOIN sctrans.T_TO_WORKFLOW tw ON cas.RANSOM_CODE =tw.BIZ_CODE
		<!-- LEFT JOIN sctrans.ACT_RU_TASK act ON tw.INST_CODE = act.PROC_INST_ID_ -->
		LEFT JOIN sctrans.T_RA_APPLY app ON app.RANSOM_CODE = cas.RANSOM_CODE
		LEFT JOIN sctrans.T_RA_INTERVIEW vie ON vie.RANSOM_CODE = cas.RANSOM_CODE
		
		LEFT JOIN sctrans.T_RA_REPAY rr1 ON rr1.RANSOM_CODE = cas.RANSOM_CODE AND rr1.PART_CODE = 'PAYLOAN_ONE'
		LEFT JOIN sctrans.T_RA_REPAY rr2 ON rr2.RANSOM_CODE = cas.RANSOM_CODE AND rr2.PART_CODE = 'PAYLOAN_TWO'
		
		LEFT JOIN sctrans.T_RA_CANCEL rca1 ON rca1.RANSOM_CODE = cas.RANSOM_CODE AND rca1.PART_CODE = 'CANCELDIYA_ONE'
		LEFT JOIN sctrans.T_RA_CANCEL rca2 ON rca2.RANSOM_CODE = cas.RANSOM_CODE AND rca2.PART_CODE = 'CANCELDIYA_TWO'
		
		LEFT JOIN sctrans.T_RA_REDEEM rre1 ON rre1.RANSOM_CODE = cas.RANSOM_CODE AND rre1.PART_CODE = 'RECEIVE_ONE'
		LEFT JOIN sctrans.T_RA_REDEEM rre2 ON rre2.RANSOM_CODE = cas.RANSOM_CODE AND rre2.PART_CODE = 'RECEIVE_TWO'
		
		LEFT JOIN sctrans.T_RA_PAYMENT rp ON rp.RANSOM_CODE = cas.RANSOM_CODE
		WHERE 
			<!-- tw.BIZ_CODE = #{ransomCode,jdbcType=VARCHAR} -->
			cas.RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</select>
	
	<insert id="insertRansomPlanTimeVo" parameterType="com.centaline.trans.ransom.entity.ToRansomPlanVo">
		INSERT INTO 
			sctrans.T_RA_PLAN(
				RANSOM_CODE,
				PART_CODE,
				EST_PART_TIME,
				REMARK,				
				CREATE_USER,
				CREATE_TIME,
				UPDATE_TIME,
				UPDATE_USER
		) VALUES(
				#{ransomCode,jdbcType=VARCHAR}, 
				#{partCode,jdbcType=VARCHAR}, 
				#{estPartTime,jdbcType=TIMESTAMP}, 
				#{remark,jdbcType=VARCHAR}, 
				#{createUser,jdbcType=VARCHAR}, 
				#{createTime,jdbcType=TIMESTAMP}, 
				#{updateTime,jdbcType=TIMESTAMP}, 
				#{updateUser,jdbcType=VARCHAR}
		)
	</insert>
	
	
	<insert id="insertListRansomPlanTime" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO 
			sctrans.T_RA_PLAN(
				RANSOM_CODE,
				PART_CODE,
				CREATE_USER,
				CREATE_TIME,
				UPDATE_USER,
				UPDATE_TIME
			)VALUES
			<foreach collection="list" item="item" index="index" separator="," >  
		   	(
			   	#{item.ransomCode,jdbcType=VARCHAR},
			   	#{item.partCode,jdbcType=VARCHAR},
			   	#{item.createUser,jdbcType=VARCHAR},
			   	#{item.createTime,jdbcType=TIMESTAMP},
			   	#{item.updateUser,jdbcType=VARCHAR},
			   	#{item.createTime,jdbcType=TIMESTAMP}
		   	)
			</foreach>  
	</insert>
	
	<insert id="addRansomDetail" parameterType="com.centaline.trans.ransom.entity.ToRansomCaseVo">
		insert into sctrans.T_RA_CASE (
			RANSOM_CODE, 
			CASE_CODE, 
			RANSOM_STATUS, 
			RANSOM_PROPERTY, 
			COM_ORG_CODE, 
			BORRO_MONEY, 
			BORROWER_NAME, 
			BORROWER_TEL, 
			ISSTOP, 
			STOP_TYPE, 
			STOP_REASON, 
			ACCEPT_TIME, 
			CREATE_TIME, 
			CREATE_USER, 
			UPDATE_TIME, 
			UPDATE_USER, 
			FIN_ORG_ID, 
			REMARK
      )
    values (
		#{ransomCode,jdbcType=VARCHAR}, 
		#{caseCode,jdbcType=VARCHAR}, 
		#{ransomStatus,jdbcType=VARCHAR}, 
		#{ransomProperty,jdbcType=NVARCHAR}, 
		#{comOrgCode,jdbcType=VARCHAR}, 
		#{borroMoney,jdbcType=DECIMAL}, 
		#{borrowerName,jdbcType=VARCHAR}, 
		#{borrowerTel,jdbcType=VARCHAR}, 
		#{isstop,jdbcType=VARCHAR}, 
		#{stopType,jdbcType=VARCHAR}, 
		#{stopReason,jdbcType=VARCHAR}, 
		#{acceptTime,jdbcType=TIMESTAMP}, 
		#{createTime,jdbcType=TIMESTAMP}, 
		#{createUser,jdbcType=VARCHAR}, 
		#{updateTime,jdbcType=TIMESTAMP}, 
		#{updateUser,jdbcType=VARCHAR}, 
		#{finOrgId,jdbcType=NVARCHAR}, 
		#{remark,jdbcType=LONGVARCHAR}
      )
	</insert>
	
	<update id="updateRansomDiscountinue" parameterType="com.centaline.trans.ransom.entity.ToRansomCaseVo">
		UPDATE 
			sctrans.T_RA_CASE
		SET
		<if test="stopType != null and stopType != ''">
			STOP_TYPE = #{stopType,jdbcType=VARCHAR},
		</if>
		<if test="ransomStatus != null and ransomStatus != ''">
			RANSOM_STATUS = #{ransomStatus,jdbcType=VARCHAR},
		</if>
		<if test="stopReason != null and stopReason != ''">
			STOP_REASON = #{stopReason,jdbcType=VARCHAR},
		</if>
		ISSTOP = #{isstop,jdbcType=VARCHAR}
		WHERE RANSOM_STATUS NOT IN(3,4)
		<if test="caseCode != null and caseCode != ''">
			 AND CASE_CODE = #{caseCode,jdbcType=VARCHAR}
		</if>
		<if test="ransomCode != null and ransomCode != ''">
			 AND RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
		</if>
	</update>
	
	<update id="updateRansomCaseByRansomCode" parameterType="com.centaline.trans.ransom.entity.ToRansomCaseVo">
		UPDATE sctrans.T_RA_CASE SET 
			<if test="ransomStatus != null">
				RANSOM_STATUS = #{ransomStatus,jdbcType=VARCHAR},
			</if>
			<if test="ransomProperty != null">
				RANSOM_PROPERTY = #{ransomProperty,jdbcType=VARCHAR},
			</if>
			<if test="borrowerName != null">
				BORROWER_NAME = #{borrowerName,jdbcType=VARCHAR},
			</if>
			<if test="borrowerTel != null">
				BORROWER_TEL = #{borrowerTel,jdbcType=VARCHAR},
			</if>
			<if test="borroMoney != null">
				BORRO_MONEY = #{borroMoney,jdbcType=DECIMAL},
			</if>
			<if test="isApply != null">
				ISAPPLY = #{isApply,jdbcType=VARCHAR},
			</if>
			<if test="updateUser != null">
				UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
			</if>
		WHERE
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</update>
	
	<update id="updateRansomCaseUserByRansomCode" parameterType="com.centaline.trans.ransom.entity.ToRansomCaseVo">
		UPDATE sctrans.T_RA_CASE SET 
			CREATE_USER = #{createUser,jdbcType=VARCHAR},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		WHERE
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</update>
	
	<update id="updateRansomPlanTimeInfoByRansomCode" parameterType="com.centaline.trans.ransom.entity.ToRansomPlanVo">
		UPDATE 
			sctrans.T_RA_PLAN 
		SET
			EST_PART_TIME = #{estPartTime,jdbcType=TIMESTAMP},
			UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			REMARK = #{remark,jdbcType=VARCHAR}
		WHERE
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
				AND PART_CODE = #{partCode,jdbcType=VARCHAR}
				
	</update>
	
	<update id="updateListPlanTimeInfoByRansomCode" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">  
	    	UPDATE 
	    		sctrans.T_RA_PLAN  
	    	SET 
	    		EST_PART_TIME = #{item.estPartTime,jdbcType=TIMESTAMP},
				UPDATE_TIME = #{item.updateTime,jdbcType=TIMESTAMP},
				UPDATE_USER = #{item.updateUser,jdbcType=VARCHAR},
				REMARK = #{item.remark,jdbcType=VARCHAR}
	    	WHERE 
	    		RANSOM_CODE = #{item.ransomCode,jdbcType=VARCHAR}
					AND 
						PART_CODE = #{item.partCode,jdbcType=VARCHAR}
	    </foreach> 
	</update>
	
	
	
	
	
	<update id="updateRansomTailinsByRansomCode" parameterType="com.centaline.trans.ransom.entity.ToRansomTailinsVo">
		UPDATE 
			sctrans.T_RA_TAILINS 
		SET 
		<if test="signTime != null">
			SIGN_TIME = #{signTime,jdbcType=TIMESTAMP},
		</if>
		<if test="finOrgCode != null and finOrgCode != ''">
			FIN_ORG_CODE = #{finOrgCode,jdbcType=VARCHAR},
		</if>
		<if test="mortgageType != null and mortgageType != ''">
			MORTGAGE_TYPE = #{mortgageType,jdbcType=VARCHAR},
		</if>
		<if test="loanMoney != null and loanMoney != ''">
			LOAN_MONEY = #{loanMoney,jdbcType=DECIMAL},
		</if>
		<if test="restMoney != null and restMoney != ''">
			REST_MONEY = #{restMoney,jdbcType=DECIMAL},
		</if>
		<if test="updateUser != null and updateUser != ''">
			UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
		</if>
			UPDATE_TIME = GETDATE()
		WHERE
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
			and 
			DIYA_TYPE = #{diyaType,jdbcType=VARCHAR}
	</update>
	
	<update id="updateRansomTailUserByRansomCode" parameterType="com.centaline.trans.ransom.entity.ToRansomTailinsVo">
		UPDATE 
			sctrans.T_RA_TAILINS 
		SET 
			CREATE_USER = #{createUser,jdbcType=VARCHAR},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		WHERE
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</update>
	
	<update id="updateRansomApplyInfoByRansomCode" parameterType="com.centaline.trans.ransom.entity.ToRansomApplyVo">
		UPDATE 
			sctrans.T_RA_APPLY 
		SET 
			APPLY_TIME = #{applyTime,jdbcType=TIMESTAMP},
			REMAKE = #{remark,jdbcType=VARCHAR},
			UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		WHERE 
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</update>
	
	<update id="updateRansomInterviewInfoByRansomCode" parameterType="com.centaline.trans.ransom.entity.ToRansomSignVo">
		UPDATE 
			sctrans.T_RA_INTERVIEW 
		SET 
			INTERVIEW_TIME = #{signTime,jdbcType=TIMESTAMP},
			REMAKE = #{remark,jdbcType=VARCHAR},
			UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		WHERE 
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</update>
	
	<update id="updateRansomRepayInfoByRansomCode" parameterType="com.centaline.trans.ransom.entity.ToRansomMortgageVo">
		UPDATE 
			sctrans.T_RA_REPAY 
		SET 
			REPAY_TIME = #{mortgageTime,jdbcType=TIMESTAMP},
			REMAKE = #{remark,jdbcType=VARCHAR},
			UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		WHERE 
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</update>
	
	<update id="updateRansomCancelInfoByRansomCode" parameterType="com.centaline.trans.ransom.entity.ToRansomCancelVo">
		UPDATE 
			sctrans.T_RA_CANCEL 
		SET 
			CANCEL_TIME = #{cancelTime,jdbcType=TIMESTAMP},
			REMAKE = #{remark,jdbcType=VARCHAR},
			UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		WHERE 
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</update>
	
	<update id="updateRansomRedeemInfoByRansomCode" parameterType="com.centaline.trans.ransom.entity.ToRansomPermitVo">
		UPDATE 
			sctrans.T_RA_REDEEM 
		SET 
			REDEEM_TIME = #{redeemTime,jdbcType=TIMESTAMP},
			REMAKE = #{remark,jdbcType=VARCHAR},
			UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		WHERE 
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</update>
	
	<update id="updateRansomPaymentInfoByRansomCode" parameterType="com.centaline.trans.ransom.entity.ToRansomPaymentVo">
		UPDATE 
			sctrans.T_RA_PAYMENT 
		SET 
			PAYMENT_TIME = #{paymentTime,jdbcType=TIMESTAMP},
			REMAKE = #{remark,jdbcType=VARCHAR},
			UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		WHERE 
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</update>
	
	<select id="getRansomActTasks" resultType="java.lang.String">
		SELECT
			act.TASK_DEF_KEY_ 
		FROM
			sctrans.T_TO_WORKFLOW tw
			LEFT JOIN sctrans.ACT_RU_TASK act ON tw.INST_CODE = act.PROC_INST_ID_

		WHERE
			tw.BIZ_CODE= #{ransomCode,jdbcType=VARCHAR}
	</select>
	
	<select id="getRansomStatusAndPart" resultType="com.centaline.trans.ransom.entity.ToRansomCaseVo">
		SELECT 
			rac.RANSOM_CODE ransomCode,
			rac.RANSOM_STATUS ransomStatus,
			act.TASK_DEF_KEY_ partCode,
			tw.INST_CODE instCode
		FROM sctrans.T_RA_CASE rac
			LEFT JOIN sctrans.T_TO_WORKFLOW tw ON rac.RANSOM_CODE = tw.BIZ_CODE
			LEFT JOIN sctrans.ACT_RU_TASK act ON tw.INST_CODE =act.PROC_INST_ID_
		WHERE 
			rac.RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	</select>
	
	<insert id="insertRansomPlanHis" parameterType="com.centaline.trans.ransom.entity.ToRansomPlanVo">
		INSERT INTO 
			sctrans.T_RA_PLAN_HISTORY(
				RANSOM_CODE,
				PART_CODE,
				OLD_EST_PART_TIME,
				NEW_EST_PART_TIME,
				CHANGE_REASON,
				CHANGER_ID,
				CHANGE_TIME,				
				CREATE_USER,
				CREATE_TIME
		) VALUES(
				#{ransomCode,jdbcType=VARCHAR}, 
				#{partCode,jdbcType=VARCHAR}, 
				#{oldEstPartTime,jdbcType=TIMESTAMP}, 
				#{newEstPartTime,jdbcType=TIMESTAMP},
				#{reason,jdbcType=VARCHAR}, 
				#{createUser,jdbcType=VARCHAR}, 
				#{createTime,jdbcType=TIMESTAMP}, 
				#{createUser,jdbcType=VARCHAR}, 
				#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<select id="getRansomPlanChangeRecordByRansomCode" resultType="com.centaline.trans.ransom.entity.ToRansomPlanVo">
		SELECT
			PART_CODE partCode,
			OLD_EST_PART_TIME oldEstPartTime,
			NEW_EST_PART_TIME newEstPartTime,
			(SELECT REAL_NAME FROM sctrans.SYS_USER WHERE ID = CHANGER_ID) changeName,
			CHANGE_TIME changeTime,
			CHANGE_REASON reason
		FROM
			sctrans.T_RA_PLAN_HISTORY
		WHERE
			RANSOM_CODE = #{ransomCode,jdbcType=VARCHAR}
	
	</select>
</mapper>
