<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.bankRebate.repository.ToBankRebateMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.bankRebate.entity.ToBankRebate" >
    <id column="PKID" property="pkid" jdbcType="CHAR" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="APPLY_TIME" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="GUARANTEE_COMPANY" property="guaranteeCompany" jdbcType="VARCHAR" />
    <result column="COMPANY_ACCOUNT" property="companyAccount" jdbcType="VARCHAR" />
    <result column="REBATE_TOTAL" property="rebateTotal" jdbcType="DECIMAL" />
    <result column="APPLY_PERSON" property="applyPerson" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="NVARCHAR" />
    <result column="COMMENT" property="comment" jdbcType="VARCHAR" />
    <result column="GUARANTEE_COMP_ID" property="guaranteeCompId" jdbcType="VARCHAR" />
    <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, CASE_CODE, APPLY_TIME, GUARANTEE_COMPANY, COMPANY_ACCOUNT, REBATE_TOTAL, APPLY_PERSON, 
    STATUS, COMMENT, GUARANTEE_COMP_ID, DEPT_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_BANK_REBATE
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sctrans.T_TO_BANK_REBATE
    where PKID = #{pkid,jdbcType=CHAR}
  </delete>
  
  <delete id="deleteByGuaranteeCompId" parameterType="java.lang.String" >
    delete from sctrans.T_TO_BANK_REBATE
    where GUARANTEE_COMP_ID = #{guaCompId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.centaline.trans.bankRebate.entity.ToBankRebate" >
    insert into sctrans.T_TO_BANK_REBATE (PKID, CASE_CODE, APPLY_TIME, 
      GUARANTEE_COMPANY, COMPANY_ACCOUNT, REBATE_TOTAL, 
      APPLY_PERSON, STATUS, COMMENT, 
      GUARANTEE_COMP_ID, DEPT_ID)
    values (newid(), #{caseCode,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP},
      #{guaranteeCompany,jdbcType=VARCHAR}, #{companyAccount,jdbcType=VARCHAR}, #{rebateTotal,jdbcType=DECIMAL}, 
      #{applyPerson,jdbcType=VARCHAR}, #{status,jdbcType=NVARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{guaranteeCompId,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.bankRebate.entity.ToBankRebate" >
    insert into sctrans.T_TO_BANK_REBATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      PKID,
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="applyTime != null" >
        APPLY_TIME,
      </if>
      <if test="guaranteeCompany != null" >
        GUARANTEE_COMPANY,
      </if>
      <if test="companyAccount != null" >
        COMPANY_ACCOUNT,
      </if>
      <if test="rebateTotal != null" >
        REBATE_TOTAL,
      </if>
      <if test="applyPerson != null" >
        APPLY_PERSON,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="comment != null" >
        COMMENT,
      </if>
      <if test="guaranteeCompId != null" >
        GUARANTEE_COMP_ID,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
       newid(),
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="guaranteeCompany != null" >
        #{guaranteeCompany,jdbcType=VARCHAR},
      </if>
      <if test="companyAccount != null" >
        #{companyAccount,jdbcType=VARCHAR},
      </if>
      <if test="rebateTotal != null" >
        #{rebateTotal,jdbcType=DECIMAL},
      </if>
      <if test="applyPerson != null" >
        #{applyPerson,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=NVARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeCompId != null" >
        #{guaranteeCompId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.bankRebate.entity.ToBankRebate" >
    update sctrans.T_TO_BANK_REBATE
    <set >
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        APPLY_TIME = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="guaranteeCompany != null" >
        GUARANTEE_COMPANY = #{guaranteeCompany,jdbcType=VARCHAR},
      </if>
      <if test="companyAccount != null" >
        COMPANY_ACCOUNT = #{companyAccount,jdbcType=VARCHAR},
      </if>
      <if test="rebateTotal != null" >
        REBATE_TOTAL = #{rebateTotal,jdbcType=DECIMAL},
      </if>
      <if test="applyPerson != null" >
        APPLY_PERSON = #{applyPerson,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=NVARCHAR},
      </if>
      <if test="comment != null" >
        COMMENT = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeCompId != null" >
        GUARANTEE_COMP_ID = #{guaranteeCompId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=CHAR}
  </update>
  
   <update id="updateByGuaranteeCompId" parameterType="com.centaline.trans.bankRebate.entity.ToBankRebate" >
    update sctrans.T_TO_BANK_REBATE
    <set >
      <if test="guaranteeCompany != null" >
        GUARANTEE_COMPANY = #{guaranteeCompany,jdbcType=VARCHAR},
      </if>
      <if test="companyAccount != null" >
        COMPANY_ACCOUNT = #{companyAccount,jdbcType=VARCHAR},
      </if>
      <if test="rebateTotal != null" >
        REBATE_TOTAL = #{rebateTotal,jdbcType=DECIMAL},
      </if>
       <if test="companyAccount != null" >
        COMPANY_ACCOUNT = #{companyAccount,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=NVARCHAR},
      </if>
      <if test="comment != null" >
        COMMENT = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
    </set>
    where GUARANTEE_COMP_ID = #{guaranteeCompId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.bankRebate.entity.ToBankRebate" >
    update sctrans.T_TO_BANK_REBATE
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      APPLY_TIME = #{applyTime,jdbcType=TIMESTAMP},
      GUARANTEE_COMPANY = #{guaranteeCompany,jdbcType=VARCHAR},
      COMPANY_ACCOUNT = #{companyAccount,jdbcType=VARCHAR},
      REBATE_TOTAL = #{rebateTotal,jdbcType=DECIMAL},
      APPLY_PERSON = #{applyPerson,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=NVARCHAR},
      COMMENT = #{comment,jdbcType=VARCHAR},
      GUARANTEE_COMP_ID = #{guaranteeCompId,jdbcType=VARCHAR},
      DEPT_ID = #{deptId,jdbcType=VARCHAR}
    where PKID = #{pkid,jdbcType=CHAR}
  </update>

  <select id="selectRebateByGuaranteeCompId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sctrans.T_TO_BANK_REBATE
    where GUARANTEE_COMP_ID = #{guaranteeCompId,jdbcType=VARCHAR}
  </select>


</mapper>