<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centaline.parportal.mobile.login.repository.TAppEquipmentBindingDetailMapper">
	<resultMap id="BaseResultMap" type="com.centaline.parportal.mobile.login.entity.TAppEquipmentBindingDetail">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="APPNAME" property="appName" jdbcType="VARCHAR" />
		<result column="USERID" property="userId" jdbcType="VARCHAR" />
		<result column="USERNAME" property="userName" jdbcType="VARCHAR" />
		<result column="EMPCODE" property="empCode" jdbcType="VARCHAR" />
		<result column="EQUIPMENTID" property="equipmentId" jdbcType="VARCHAR" />
		<result column="EQUIPMENTSYSTEM" property="equipmentSystem" jdbcType="VARCHAR" />
		<result column="EQUIPMENTNAME" property="equipmentName" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="UPDATETIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
		<sql id="Base_Column_List">
			ID,APPNAME,USERID,USERNAME,EMPCODE,EQUIPMENTID,EQUIPMENTSYSTEM,EQUIPMENTNAME,STATUS,UPDATETIME,CREATETIME
		</sql>
		<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
			select
			<include refid="Base_Column_List" />
			from dbo.T_App_EquipmentBindingDetail
			where ID = #{id,jdbcType=BIGINT}
		</select>
		
		<select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
			select
			<include refid="Base_Column_List" />
			from dbo.T_App_EquipmentBindingDetail
			where  USERNAME = #{userName,jdbcType=VARCHAR}
		</select>

		<select id="selectByEquipmentId" resultMap="BaseResultMap" parameterType="java.lang.String">
			select
			<include refid="Base_Column_List" />
			from dbo.T_App_EquipmentBindingDetail
			where STATUS =	1 and EQUIPMENTID = #{equipmentId,jdbcType=VARCHAR}
		</select>
		
		<insert id="insert" parameterType="com.centaline.parportal.mobile.login.entity.TAppEquipmentBindingDetail">
			insert into dbo.T_App_EquipmentBindingDetail (
				APPNAME,USERID,USERNAME,EMPCODE,EQUIPMENTID,EQUIPMENTSYSTEM,EQUIPMENTNAME,STATUS,UPDATETIME,CREATETIME
			)
			values (#{appName,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{empCode,jdbcType=VARCHAR},
					#{equipmentId,jdbcType=VARCHAR},#{equipmentSystem,jdbcType=VARCHAR},#{equipmentName,jdbcType=VARCHAR},
					#{status,jdbcType=INTEGER},#{updateTime,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP}
			)
		</insert>
		<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
			delete dbo.T_App_EquipmentBindingDetail
			where ID = #{id,jdbcType=VARCHAR}
		</delete>

		<update id="updateStatusByPrimaryKey" parameterType="java.lang.Long" >
		   update dbo.T_App_EquipmentBindingDetail
		   set STATUS =	0
		   where ID = #{id,jdbcType=BIGINT}
		 </update>

		<update id="updateByPrimaryKey" parameterType="com.centaline.parportal.mobile.login.entity.TAppEquipmentBindingDetail" >
		   update dbo.T_App_EquipmentBindingDetail
		   set APPNAME = #{appName,jdbcType=VARCHAR}, 
		       USERID = #{userId,jdbcType=VARCHAR},
		       USERNAME = #{userName,jdbcType=VARCHAR},
		       EQUIPMENTID = #{equipmentId,jdbcType=VARCHAR},
		       EQUIPMENTSYSTEM = #{equipmentSystem,jdbcType=VARCHAR},
		       EQUIPMENTNAME = #{equipmentName,jdbcType=VARCHAR},
			   STATUS =	#{status,jdbcType=INTEGER},
			   UPDATETIME = #{updateTime,jdbcType=TIMESTAMP},
			   CREATETIME = #{createTime,jdbcType=TIMESTAMP} 
		   where ID = #{id,jdbcType=BIGINT}
		 </update>
		 
		 <update id="updateByPrimaryKeySelective" parameterType="com.centaline.parportal.mobile.login.entity.TAppEquipmentBindingDetail" >
		    update dbo.T_App_EquipmentBindingDetail
		    <set >
		      <if test="appName != null" >
		        APPNAME = #{appName,jdbcType=VARCHAR}, 
		      </if>
		      <if test="userId != null" >
		         USERID = #{userId,jdbcType=VARCHAR},
		      </if>
		      <if test="userName != null" >
		         USERNAME = #{userName,jdbcType=VARCHAR},
		      </if>
		      <if test="equipmentId != null" >
		        EQUIPMENTID = #{equipmentId,jdbcType=VARCHAR},
		      </if>
		      <if test="equipmentSystem != null" >
		        EQUIPMENTSYSTEM = #{equipmentSystem,jdbcType=VARCHAR},
		      </if>
		      <if test="equipmentName != null" >
		        EQUIPMENTNAME = #{equipmentName,jdbcType=VARCHAR},
		      </if>
		      <if test="status != null" >
		        STATUS = #{status,jdbcType=INTEGER},
		      </if>
		      <if test="updateTime != null" >
		        UPDATETIME = #{updateTime,jdbcType=TIMESTAMP},
		      </if>
		      <if test="createTime != null" >
		        CREATETIME = #{createTime,jdbcType=TIMESTAMP} 
		      </if>
		    </set>
		    where ID = #{id,jdbcType=BIGINT}
		  </update>



</mapper>