<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.centaline.trans.cases.repository.ReturnVisitRegistrationMapper">
	<resultMap id="BaseResultMap"
		type="com.centaline.trans.cases.vo.CaseReturnVisitRegistrationVO">
		<result column="PLAN_HISTORY_ID" property="planHistoryId"
			jdbcType="BIGINT" />
		<result column="VISIT_REMARK" property="visitRemark" jdbcType="CHAR" />
		<result column="CONTENT" property="content" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="VARCHAR" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
	</resultMap>

	<select id="queryReturnVisitRegistrations" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		PLAN_HISTORY_ID ,
		VISIT_REMARK ,
		CONTENT ,
		CONVERT(varchar(19),CREATE_TIME,120) AS createTime,
		CREATE_BY
		from sctrans.T_TS_RETURN_VISIT_REGISTRATION
		where
		PLAN_HISTORY_ID = #{historyId,jdbcType=BIGINT}
		order by CREATE_TIME desc
	</select>
	<insert id="insertReturnVisitRegistration"
		parameterType="com.centaline.trans.cases.vo.CaseReturnVisitRegistrationVO">
		insert into sctrans.T_TS_RETURN_VISIT_REGISTRATION (
		PLAN_HISTORY_ID ,
		VISIT_REMARK ,
		CONTENT ,
		CREATE_TIME ,
		CREATE_BY
		) values
		( #{planHistoryId,jdbcType=BIGINT},
		#{visitRemark,jdbcType=CHAR},
		#{content,jdbcType=VARCHAR},GETDATE(),@{SESSION_USER_ID})
	</insert>

</mapper>