<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.cases.repository.ToCaseParticipantMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.cases.entity.ToCaseParticipant" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CCAI_CODE" property="ccaiCode" jdbcType="VARCHAR" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="POSITION" property="position" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="GRP_CODE" property="grpCode" jdbcType="VARCHAR" />
    <result column="GRP_NAME" property="grpName" jdbcType="VARCHAR" />
    <result column="GRP_MGR_USERNAME" property="grpMgrUsername" jdbcType="VARCHAR" />
    <result column="GRP_MGR_REALNAME" property="grpMgrRealname" jdbcType="VARCHAR" />
    <result column="GRP_MGR_MOBILE" property="grpMgrMobile" jdbcType="VARCHAR" />
    <result column="ORIGIN" property="origin" jdbcType="VARCHAR" />
    <result column="AVAILABLE" property="available" jdbcType="VARCHAR" />
    <result column="ASSIGN_ID" property="assignId" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, CCAI_CODE, CASE_CODE, POSITION, USER_NAME, REAL_NAME, MOBILE, GRP_CODE, GRP_NAME, 
    GRP_MGR_USERNAME, GRP_MGR_REALNAME, GRP_MGR_MOBILE ,ORIGIN, AVAILABLE, ASSIGN_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_CASE_PARTICIPANT
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TO_CASE_PARTICIPANT
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.cases.entity.ToCaseParticipant" >
    insert into sctrans.T_TO_CASE_PARTICIPANT (PKID, CCAI_CODE, CASE_CODE, 
      POSITION, USER_NAME, REAL_NAME, 
      MOBILE, GRP_CODE, GRP_NAME, 
      GRP_MGR_USERNAME, GRP_MGR_REALNAME, GRP_MGR_MOBILE,ORIGIN,AVAILABLE,
      CREATE_BY, CREATE_TIME,UPDATE_BY, UPDATE_TIME, ASSIGN_ID
      )
    values (#{pkid,jdbcType=BIGINT}, #{ccaiCode,jdbcType=VARCHAR}, #{caseCode,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{grpCode,jdbcType=VARCHAR}, #{grpName,jdbcType=VARCHAR}, 
      #{grpMgrUsername,jdbcType=VARCHAR}, #{grpMgrRealname,jdbcType=VARCHAR}, #{grpMgrMobile,jdbcType=VARCHAR},
      #{origin,jdbcType=VARCHAR},#{available,jdbcType=VARCHAR},@{SESSION_USER_ID},GETDATE(),@{SESSION_USER_ID},GETDATE(),
      #{assignId,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.cases.entity.ToCaseParticipant" >
    insert into sctrans.T_TO_CASE_PARTICIPANT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      CREATE_TIME,UPDATE_TIME,CREATE_BY,UPDATE_BY,
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="ccaiCode != null" >
        CCAI_CODE,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="position != null" >
        POSITION,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="realName != null" >
        REAL_NAME,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="grpCode != null" >
        GRP_CODE,
      </if>
      <if test="grpName != null" >
        GRP_NAME,
      </if>
      <if test="grpMgrUsername != null" >
        GRP_MGR_USERNAME,
      </if>
      <if test="grpMgrRealname != null" >
        GRP_MGR_REALNAME,
      </if>
      <if test="grpMgrMobile != null" >
        GRP_MGR_MOBILE,
      </if>
      <if test="origin != null" >
        ORIGIN,
      </if>
      <if test="available != null" >
        AVAILABLE,
      </if>
      <if test="assignId != null" >
        ASSIGN_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      GETDATE(),GETDATE(),@{SESSION_USER_ID},@{SESSION_USER_ID},
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="ccaiCode != null" >
        #{ccaiCode,jdbcType=VARCHAR},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="grpCode != null" >
        #{grpCode,jdbcType=VARCHAR},
      </if>
      <if test="grpName != null" >
        #{grpName,jdbcType=VARCHAR},
      </if>
      <if test="grpMgrUsername != null" >
        #{grpMgrUsername,jdbcType=VARCHAR},
      </if>
      <if test="grpMgrRealname != null" >
        #{grpMgrRealname,jdbcType=VARCHAR},
      </if>
      <if test="grpMgrMobile != null" >
        #{grpMgrMobile,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        #{available,jdbcType=VARCHAR},
      </if>
      <if test="assignId != null" >
        #{assignId,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.cases.entity.ToCaseParticipant" >
    update sctrans.T_TO_CASE_PARTICIPANT
    <set >
      UPDATE_BY = @{SESSION_USER_ID},
      UPDATE_TIME = GETDATE(),
      <if test="ccaiCode != null" >
        CCAI_CODE = #{ccaiCode,jdbcType=VARCHAR},
      </if>
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        REAL_NAME = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="grpCode != null" >
        GRP_CODE = #{grpCode,jdbcType=VARCHAR},
      </if>
      <if test="grpName != null" >
        GRP_NAME = #{grpName,jdbcType=VARCHAR},
      </if>
      <if test="grpMgrUsername != null" >
        GRP_MGR_USERNAME = #{grpMgrUsername,jdbcType=VARCHAR},
      </if>
      <if test="grpMgrRealname != null" >
        GRP_MGR_REALNAME = #{grpMgrRealname,jdbcType=VARCHAR},
      </if>
      <if test="grpMgrMobile != null" >
        GRP_MGR_MOBILE = #{grpMgrMobile,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        ORIGIN = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        AVAILABLE = #{available,jdbcType=VARCHAR},
      </if>
      <if test="assignId != null" >
        ASSIGN_ID = #{assignId,jdbcType=NVARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.cases.entity.ToCaseParticipant" >
    update sctrans.T_TO_CASE_PARTICIPANT
    set CCAI_CODE = #{ccaiCode,jdbcType=VARCHAR},
      CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      REAL_NAME = #{realName,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      GRP_CODE = #{grpCode,jdbcType=VARCHAR},
      GRP_NAME = #{grpName,jdbcType=VARCHAR},
      GRP_MGR_USERNAME = #{grpMgrUsername,jdbcType=VARCHAR},
      GRP_MGR_REALNAME = #{grpMgrRealname,jdbcType=VARCHAR},
      GRP_MGR_MOBILE = #{grpMgrMobile,jdbcType=VARCHAR},
      ORIGIN = #{origin,jdbcType=VARCHAR},
      UPDATE_BY = @{SESSION_USER_ID},
      UPDATE_TIME = GETDATE(),
      AVAILABLE = #{available,jdbcType=VARCHAR},
      ASSIGN_ID = #{assignId,jdbcType=NVARCHAR}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <select id="selectByCcaiCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_CASE_PARTICIPANT
    where CCAI_CODE = #{ccaiCode,jdbcType=VARCHAR}  and AVAILABLE='Y'
  </select>
  <select id="selectByCaseCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_CASE_PARTICIPANT
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR} and AVAILABLE='Y'
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.centaline.trans.cases.entity.ToCaseParticipant" >
    select
    <include refid="Base_Column_List" />
    from sctrans.T_TO_CASE_PARTICIPANT
    <trim  suffixOverrides="," >
      <where>
        <if test="ccaiCode != null" >
          AND CCAI_CODE = #{ccaiCode,jdbcType=VARCHAR}
        </if>
        <if test="caseCode != null" >
          AND CASE_CODE = #{caseCode,jdbcType=VARCHAR}
        </if>
        <if test="position != null" >
          AND POSITION = #{position,jdbcType=VARCHAR}
        </if>
        <if test="userName != null" >
          AND USER_NAME = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="realName != null" >
          AND REAL_NAME = #{realName,jdbcType=VARCHAR}
        </if>
        <if test="mobile != null" >
          AND MOBILE = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="grpCode != null" >
          AND GRP_CODE = #{grpCode,jdbcType=VARCHAR}
        </if>
        <if test="grpName != null" >
          AND GRP_NAME = #{grpName,jdbcType=VARCHAR}
        </if>
        <if test="grpMgrUsername != null" >
          AND GRP_MGR_USERNAME = #{grpMgrUsername,jdbcType=VARCHAR}
        </if>
        <if test="grpMgrRealname != null" >
          AND GRP_MGR_REALNAME = #{grpMgrRealname,jdbcType=VARCHAR}
        </if>
        <if test="grpMgrMobile != null" >
          AND GRP_MGR_MOBILE = #{grpMgrMobile,jdbcType=VARCHAR}
        </if>
        <if test="origin != null" >
          AND ORIGIN = #{origin,jdbcType=VARCHAR}
        </if>
        <if test="available != null" >
          AND AVAILABLE = #{available,jdbcType=VARCHAR}
        </if>
        <if test="assignId != null" >
          AND ASSIGN_ID = #{assignId,jdbcType=NVARCHAR}
        </if>
      </where>
    </trim>
  </select>
</mapper>