<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.cases.repository.ToWorkFlowStartLogMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.cases.entity.ToWorkFlowStartLog" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="ERR_MSG" property="errMsg" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, CASE_CODE, STATUS, ERR_MSG, START_TIME, CREATE_DATE, CREATE_BY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_WORKFLOWSTART_LOG
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TO_WORKFLOWSTART_LOG
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.cases.entity.ToWorkFlowStartLog" >
    insert into sctrans.T_TO_WORKFLOWSTART_LOG (PKID, CASE_CODE, STATUS, 
      ERR_MSG, START_TIME, CREATE_DATE, 
      CREATE_BY)
    values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{errMsg,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.cases.entity.ToWorkFlowStartLog" >
    insert into sctrans.T_TO_WORKFLOWSTART_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="errMsg != null" >
        ERR_MSG,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null" >
        #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.cases.entity.ToWorkFlowStartLog" >
    update sctrans.T_TO_WORKFLOWSTART_LOG
    <set >
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null" >
        ERR_MSG = #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.cases.entity.ToWorkFlowStartLog" >
    update sctrans.T_TO_WORKFLOWSTART_LOG
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      ERR_MSG = #{errMsg,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
</mapper>