h1,h2,h3,h4,h5,h6 {
	font-family:"Microsoft Yahei";
	font-weight:normal!important;
}
.btn {
   font-size: 12px;
}
.ibox-title h5 {
    font-size: 15px;
}
.form-horizontal .control-label,.float-e-margins .control-label{
	font-family:"Microsoft Yahei";
    font-weight:normal!important;
}
.control_form {
	width: 138px!important;
}
.form-control, .single-line {
    font-size: 12px!important;
}
.active-result {
	text-align: left!important;
}
.chosen-container-single .chosen-single {
	border: 1px solid #e5e6e7!important;
}
#inTextType_chosen {
	text-aling:left!important;
}
.control_style {
	width:132px;
	padding-right:0;
	font-family:"Microsoft Yahei";
	font-weight:normal!important;
}
.input_styleone, #case_date_0_chosen, #inTextType_chosen {
	width:142px!important;
	border-radius: 2px!important;
}
.input_styletwo {
	width:212px!important;
	border-radius: 2px!important;
}

.bdradius, #case_date_0 {
	border-radius: 2px!important;
}
.input-group-addon {
	border-radius: 0px!important;
	border-left:0!important;
	border-right:0!important;
	background-color: #eee!important;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 4px;
    right: -3px;
    display: block;
    width: 18px;
    height: 100%;
}
.margin_left15 {
	margin-left: 15px!important;
}
.margin_right15 {
	margin-right: 15px!important;
}

#case_date_0,#inTextType {
	height: 34px;
}
#datepicker_0,#inTextVal {
	margin-left:15px;
}
.btn_left {
	margin-left: 132px;
}
.btn_leftone {
	margin-left: 142px;
}
.btn_leftonee {
	margin-left: 146px;
}
.btn_lefttwo {
	margin-left: 132px;
}
.input_box {
	margin-right:0!important;
	padding-right:0!important;
}
.input_boxleft {
	margin-left:0!important;
	padding-left:0!important;
}
.input_color {
	border-color:#e5e6e7!important;
}
#dtBegin {
	border-top-left-radius: 2px!important;
	border-bottom-left-radius: 2px!important;
}
#inner-editor {
	border-top-right-radius: 2px!important;
	border-bottom-right-radius: 2px!important;
}
.mt10 {
	margin-top:10px;
}
.mar10 {
	margin-left:10px;
	margin-right:0!important;
}
#searchButton {
	font-weight:normal!important;
}
#searchButton span,#placeholder,#inner-editor,#dtEnd {
	font-family:SimSun!important;
}
.input_search {
	height:34px!important;
	border-top-left-radius:2px!important;
	border-bottom-left-radius:2px!important;
}
.input_height {
	height:34px!important;
}
#select_div_1 {
	margin-left:0px!important;
}
#inTextType_chosen {
	margin-right:0px!important;
	
}
#inTextType {
	margin-left:25px!important;
	width: 110px!important;
	margin-right:0px!important;
}
#dateDiv_0 {
    padding-left: 5px!important;
}
#case_date_0 {
	width: 110px!important;
}
.select_1 {
	width:552px!important;
}