table{width:100%;text-align: center;border-bottom:1px solid #eaeaea;font-family: "微软雅黑";}
thead{height:38px;line-height:38px;background-color:#f5f5f5;color:#666;font-size:14px;}
thead th{border-top:1px solid #eaeaea;border-left:1px solid #eaeaea;border-bottom:1px solid #eaeaea;}
tbody{color:#333;font-size:14px;}
tbody tr{height:38px;line-height:38px;}
tbody tr.tr-1{background-color:#f6f9fb;}
tbody tr.tr-2{background-color:#fff;}
tbody tr:nth-child(even){height:26px;line-height: 26px;}
tbody tr td{text-align:left;padding-left:10px;border-left:1px solid #eaeaea;}