* {margin: 0; padding: 0; box-sizing: border-box; -webkit-border-sizing: border-box; tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); focus-ring-color: rgba(0, 0, 0, 0); }

body { font: 35px/1.428 'Microsoft Yahei'; color: #434343; background: #f3f3f4 }
ul,li{list-style: none;}
.pull-left{float: left;}.pull-right{float: right;}
.container{width: 1920px;margin: 10px auto;overflow-x: auto;}
.col-1,.col-2{width:572px }
.col-3{width:736px }
.ibox{width: 572px;height:183px;margin-bottom:10px;text-align: right; background-position: 0 0;background-repeat: no-repeat;}
.ibox p{color: #fff;margin-right: 20px;line-height: 70px;padding-top: 20px;}
.ibox-red{background-image: url(../../images/red.png);}
.ibox-yellow{background-image: url(../../images/yellow.png);}
.panel{border:1px solid #ddd;background: #fff;border-radius: 4px;-webkit-border-radius: 4px;}
.panel-danger .panel-heading{background: #e95354;color: #fff}
.panel-heading{padding: 10px 15px;border-bottom: 1px solid #ddd;border-top-left-radius: 3px; -webkit-border-top-left-radius: 3px; border-top-right-radius: 3px;-webkit-border-top-right-radius: 3px;color: #ed5565;}
.panel-body{padding: 15px}
.badge{display: inline-block; min-width: 41px; padding: 3px 7px;line-height: 1;margin-right: 10px; text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 50%;-webkit-border-radius: 50%; background: #ddd;color: #fff;}
.badge-warning{background: #ff8042}
.badge-danger{background: #ed5565}
.badge-yellow{background: #ffb400}
.icon-light{display: inline-block;height: 37px;padding-left: 40px; background: url(../../images/light.png) 0 center no-repeat;}
.icon-person,.icon-date{display: inline-block;height: 32px;padding-left: 40px;color:#959595  }
.icon-person{background: url(../../images/person.png) 0 center no-repeat;width: 170px;}
.icon-date{background: url(../../images/date.png) 0 center no-repeat;width:215px;}
.col-2{margin:0 20px;}
.col-2 .panel-body,.col-2 ul,.col-3 .panel-body{padding: 0}
.col-2 li,.col-3 li{overflow: hidden;border-bottom:1px solid #ddd;padding: 5px 15px 0; }
.col-3 li{padding: }
.col-2 li:last-child,.col-2 li:last-child{border:0;}
.feed-element{position: relative;width: 98px;  text-align: center;}
.img-circle + span{position: absolute;bottom: 12px;left: 0;}
.triangle{display: block;content: '';width: 0;height: 0;position: absolute;bottom: 12px;left: 0; border-bottom: 30px solid #ed5565;border-right: 20px solid transparent;border-left: 20px solid transparent;}
.red{border-bottom-color: #ed5565}
.orange{border-bottom-color: #ff8042}
.yellow{border-bottom-color: #ffb400}
.warning{color: #fff;position: absolute;bottom: 5px;left: 15px;font-size: 30px}
.img-circle{border-radius: 50%;-webkit-border-radius: 50%;}
.media-body{  overflow: hidden;}
.danger{background:#fdedee url(../../images/label.png) center center  no-repeat;}
.name{line-height: 64px;padding-left: 10px}
.col-1 .icon-light{margin-top: 5px}
.col-2 .icon-light{margin-top: 18px}
.col-2 .badge{font-size: 25px; min-width: 30px;}
.col-3 li{padding: 25px 15px;}
.col-3 li span{display: inline-block;font-size: 30px}
.col-3 .icon-light{width: 285px}
.btn{text-decoration: none;display: block; color: #ff7113;border:1px solid #ff7113;border-radius: 5px;line-height: 58px;width: 286px;margin: 20px auto; -webkit-border-radius: 5px;background: #ffeed1; text-align: center;}
.logo{text-align: right;width: 296px;height: 49px;background: url(../../images/logo.png) right center no-repeat;margin-top: 30px}