<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.material.repository.MmItemBatchMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.material.entity.MmItemBatch" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="BATCH_ID" property="batchId" jdbcType="BIGINT" />
    <result column="ITEM_ID" property="itemId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, BATCH_ID, ITEM_ID
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_MM_ITEM_BATCH
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  
  <select id="queryMmItemBatchList" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_MM_ITEM_BATCH
    where ITEM_ID = #{itemId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_MM_ITEM_BATCH
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.centaline.trans.material.entity.MmItemBatch" >
    insert into sctrans.T_MM_ITEM_BATCH (PKID, BATCH_ID, ITEM_ID
      )
    values (#{pkid,jdbcType=BIGINT}, #{batchId,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.centaline.trans.material.entity.MmItemBatch"	useGeneratedKeys="true"  keyProperty="pkid">
	insert into sctrans.T_MM_ITEM_BATCH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="batchId != null" >
        BATCH_ID,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.material.entity.MmItemBatch" >
    update sctrans.T_MM_ITEM_BATCH
    <set >
      <if test="batchId != null" >
        BATCH_ID = #{batchId,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=BIGINT},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.material.entity.MmItemBatch" >
    update sctrans.T_MM_ITEM_BATCH
    set BATCH_ID = #{batchId,jdbcType=BIGINT},
      ITEM_ID = #{itemId,jdbcType=BIGINT}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
</mapper>