<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centaline.trans.material.repository.MmMaterialItemMapper">
  <resultMap id="BaseResultMap" type="com.centaline.trans.material.entity.MmMaterialItem">
    <id column="PKID" jdbcType="BIGINT" property="pkid" />
    <result column="CASE_CODE" 				jdbcType="VARCHAR" property="caseCode" />
    <result column="ITEM_CODE" 				jdbcType="VARCHAR" property="itemCode" />
    <result column="ITEM_NAME" 				jdbcType="VARCHAR" property="itemName" />
    <result column="ITEM_CATEGORY" 			jdbcType="VARCHAR" property="itemCategory" />
    <result column="ITEM_INPUT_TIME" 		jdbcType="TIMESTAMP" property="itemInputTime" />
    <result column="ITEM_OUTPUT_TIME" 		jdbcType="TIMESTAMP" property="itemOutputTime" />
    <result column="ACTION_PRE_DATE" 		jdbcType="TIMESTAMP" property="actionPreDate" />
    <result column="ITEM_BACK_TIME" 		jdbcType="TIMESTAMP" property="itemBackTime" />
    <result column="ITEM_RESOURCE" 			jdbcType="VARCHAR" property="itemResource" />
    <result column="ITEM_MANAGER" 			jdbcType="VARCHAR" property="itemManager" />
    <result column="ITEM_ADDR_CODE" 		jdbcType="VARCHAR" property="itemAddrCode" />
    <result column="ITEM_BUSINESS_REMARK" 	jdbcType="NVARCHAR" property="itemBusinessRemark" />
    <result column="ITEM_REMARK" 			jdbcType="NVARCHAR" property="itemRemark" />
    <result column="ITEM_STATUS" 			jdbcType="VARCHAR" property="itemStatus" />
    <result column="CREATE_BY" 				jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" 			jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_BY" 				jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_TIME" 			jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    PKID, CASE_CODE, ITEM_CODE, ITEM_NAME, ITEM_CATEGORY, ITEM_INPUT_TIME, ITEM_OUTPUT_TIME, 
    ACTION_PRE_DATE, ITEM_BACK_TIME, ITEM_RESOURCE, ITEM_MANAGER, ITEM_ADDR_CODE, ITEM_BUSINESS_REMARK, 
    ITEM_REMARK, ITEM_STATUS, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_MM_MATERIAL_ITEM
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  
  <select id="queryMmMaterialItemList"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_MM_MATERIAL_ITEM 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sctrans.T_MM_MATERIAL_ITEM
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.centaline.trans.material.entity.MmMaterialItem">
    insert into sctrans.T_MM_MATERIAL_ITEM (PKID, CASE_CODE, ITEM_CODE, 
      ITEM_NAME, ITEM_CATEGORY, ITEM_INPUT_TIME, 
      ITEM_OUTPUT_TIME, ACTION_PRE_DATE, ITEM_BACK_TIME, 
      ITEM_RESOURCE, ITEM_MANAGER, ITEM_ADDR_CODE, 
      ITEM_BUSINESS_REMARK, ITEM_REMARK, ITEM_STATUS, 
      CREATE_BY, CREATE_TIME, UPDATE_BY, 
      UPDATE_TIME)
    values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{itemCategory,jdbcType=VARCHAR}, #{itemInputTime,jdbcType=TIMESTAMP}, 
      #{itemOutputTime,jdbcType=TIMESTAMP}, #{actionPreDate,jdbcType=TIMESTAMP}, #{itemBackTime,jdbcType=TIMESTAMP}, 
      #{itemResource,jdbcType=VARCHAR}, #{itemManager,jdbcType=VARCHAR}, #{itemAddrCode,jdbcType=VARCHAR}, 
      #{itemBusinessRemark,jdbcType=NVARCHAR}, #{itemRemark,jdbcType=NVARCHAR}, #{itemStatus,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  
    <insert id="insertMaterialInfoFromSpv" parameterType="com.centaline.trans.material.entity.MmMaterialItem">
    insert into sctrans.T_MM_MATERIAL_ITEM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkid != null">
        PKID,
      </if>
      <if test="caseCode != null">
        CASE_CODE,
      </if>
      <if test="itemCode != null">
        ITEM_CODE,
      </if>
      <if test="itemName != null">
        ITEM_NAME,
      </if>
      <if test="itemCategory != null">
        ITEM_CATEGORY,
      </if>
      <if test="itemInputTime != null">
        ITEM_INPUT_TIME,
      </if>
      <if test="itemOutputTime != null">
        ITEM_OUTPUT_TIME,
      </if>
      <if test="actionPreDate != null">
        ACTION_PRE_DATE,
      </if>
      <if test="itemBackTime != null">
        ITEM_BACK_TIME,
      </if>
      <if test="itemResource != null">
        ITEM_RESOURCE,
      </if>
      <if test="itemManager != null">
        ITEM_MANAGER,
      </if>
      <if test="itemAddrCode != null">
        ITEM_ADDR_CODE,
      </if>
      <if test="itemBusinessRemark != null">
        ITEM_BUSINESS_REMARK,
      </if>
      <if test="itemRemark != null">
        ITEM_REMARK,
      </if>
      <if test="itemStatus != null">
        ITEM_STATUS,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkid != null">
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null">
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCategory != null">
        #{itemCategory,jdbcType=VARCHAR},
      </if>
      <if test="itemInputTime != null">
        #{itemInputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemOutputTime != null">
        #{itemOutputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actionPreDate != null">
        #{actionPreDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemBackTime != null">
        #{itemBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemResource != null">
        #{itemResource,jdbcType=VARCHAR},
      </if>
      <if test="itemManager != null">
        #{itemManager,jdbcType=VARCHAR},
      </if>
      <if test="itemAddrCode != null">
        #{itemAddrCode,jdbcType=VARCHAR},
      </if>
      <if test="itemBusinessRemark != null">
        #{itemBusinessRemark,jdbcType=NVARCHAR},
      </if>
      <if test="itemRemark != null">
        #{itemRemark,jdbcType=NVARCHAR},
      </if>
      <if test="itemStatus != null">
        #{itemStatus,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  
  <insert id="insertSelective" parameterType="com.centaline.trans.material.entity.MmMaterialItem">
    insert into sctrans.T_MM_MATERIAL_ITEM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkid != null">
        PKID,
      </if>
      <if test="caseCode != null">
        CASE_CODE,
      </if>
      <if test="itemCode != null">
        ITEM_CODE,
      </if>
      <if test="itemName != null">
        ITEM_NAME,
      </if>
      <if test="itemCategory != null">
        ITEM_CATEGORY,
      </if>
      <if test="itemInputTime != null">
        ITEM_INPUT_TIME,
      </if>
      <if test="itemOutputTime != null">
        ITEM_OUTPUT_TIME,
      </if>
      <if test="actionPreDate != null">
        ACTION_PRE_DATE,
      </if>
      <if test="itemBackTime != null">
        ITEM_BACK_TIME,
      </if>
      <if test="itemResource != null">
        ITEM_RESOURCE,
      </if>
      <if test="itemManager != null">
        ITEM_MANAGER,
      </if>
      <if test="itemAddrCode != null">
        ITEM_ADDR_CODE,
      </if>
      <if test="itemBusinessRemark != null">
        ITEM_BUSINESS_REMARK,
      </if>
      <if test="itemRemark != null">
        ITEM_REMARK,
      </if>
      <if test="itemStatus != null">
        ITEM_STATUS,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkid != null">
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null">
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCategory != null">
        #{itemCategory,jdbcType=VARCHAR},
      </if>
      <if test="itemInputTime != null">
        #{itemInputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemOutputTime != null">
        #{itemOutputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actionPreDate != null">
        #{actionPreDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemBackTime != null">
        #{itemBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemResource != null">
        #{itemResource,jdbcType=VARCHAR},
      </if>
      <if test="itemManager != null">
        #{itemManager,jdbcType=VARCHAR},
      </if>
      <if test="itemAddrCode != null">
        #{itemAddrCode,jdbcType=VARCHAR},
      </if>
      <if test="itemBusinessRemark != null">
        #{itemBusinessRemark,jdbcType=NVARCHAR},
      </if>
      <if test="itemRemark != null">
        #{itemRemark,jdbcType=NVARCHAR},
      </if>
      <if test="itemStatus != null">
        #{itemStatus,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
 <update id="updateMaterialInfoByCaseCode" parameterType="java.lang.String">
    update sctrans.T_MM_MATERIAL_ITEM
    <set>
      <if test="caseCode != null">
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCategory != null">
        ITEM_CATEGORY = #{itemCategory,jdbcType=VARCHAR},
      </if>
      <if test="itemInputTime != null">
        ITEM_INPUT_TIME = #{itemInputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemOutputTime != null">
        ITEM_OUTPUT_TIME = #{itemOutputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actionPreDate != null">
        ACTION_PRE_DATE = #{actionPreDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemBackTime != null">
        ITEM_BACK_TIME = #{itemBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemResource != null">
        ITEM_RESOURCE = #{itemResource,jdbcType=VARCHAR},
      </if>
      <if test="itemManager != null">
        ITEM_MANAGER = #{itemManager,jdbcType=VARCHAR},
      </if>
      <if test="itemAddrCode != null">
        ITEM_ADDR_CODE = #{itemAddrCode,jdbcType=VARCHAR},
      </if>
      <if test="itemBusinessRemark != null">
        ITEM_BUSINESS_REMARK = #{itemBusinessRemark,jdbcType=NVARCHAR},
      </if>
      <if test="itemRemark != null">
        ITEM_REMARK = #{itemRemark,jdbcType=NVARCHAR},
      </if>
      <if test="itemStatus != null">
        ITEM_STATUS = #{itemStatus,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    ,UPDATE_TIME=GETDATE(),UPDATE_BY=@{SESSION_USER_ID}
    where ITEM_CODE = #{itemCode,jdbcType=VARCHAR} 
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.material.entity.MmMaterialItem">
    update sctrans.T_MM_MATERIAL_ITEM
    <set>
      <if test="caseCode != null">
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCategory != null">
        ITEM_CATEGORY = #{itemCategory,jdbcType=VARCHAR},
      </if>
      <if test="itemInputTime != null">
        ITEM_INPUT_TIME = #{itemInputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemOutputTime != null">
        ITEM_OUTPUT_TIME = #{itemOutputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actionPreDate != null">
        ACTION_PRE_DATE = #{actionPreDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemBackTime != null">
        ITEM_BACK_TIME = #{itemBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemResource != null">
        ITEM_RESOURCE = #{itemResource,jdbcType=VARCHAR},
      </if>
      <if test="itemManager != null">
        ITEM_MANAGER = #{itemManager,jdbcType=VARCHAR},
      </if>
      <if test="itemAddrCode != null">
        ITEM_ADDR_CODE = #{itemAddrCode,jdbcType=VARCHAR},
      </if>
      <if test="itemBusinessRemark != null">
        ITEM_BUSINESS_REMARK = #{itemBusinessRemark,jdbcType=NVARCHAR},
      </if>
      <if test="itemRemark != null">
        ITEM_REMARK = #{itemRemark,jdbcType=NVARCHAR},
      </if>
      <if test="itemStatus != null">
        ITEM_STATUS = #{itemStatus,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.material.entity.MmMaterialItem">
    update sctrans.T_MM_MATERIAL_ITEM
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      ITEM_CATEGORY = #{itemCategory,jdbcType=VARCHAR},
      ITEM_INPUT_TIME = #{itemInputTime,jdbcType=TIMESTAMP},
      ITEM_OUTPUT_TIME = #{itemOutputTime,jdbcType=TIMESTAMP},
      ACTION_PRE_DATE = #{actionPreDate,jdbcType=TIMESTAMP},
      ITEM_BACK_TIME = #{itemBackTime,jdbcType=TIMESTAMP},
      ITEM_RESOURCE = #{itemResource,jdbcType=VARCHAR},
      ITEM_MANAGER = #{itemManager,jdbcType=VARCHAR},
      ITEM_ADDR_CODE = #{itemAddrCode,jdbcType=VARCHAR},
      ITEM_BUSINESS_REMARK = #{itemBusinessRemark,jdbcType=NVARCHAR},
      ITEM_REMARK = #{itemRemark,jdbcType=NVARCHAR},
      ITEM_STATUS = #{itemStatus,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update> 
</mapper>