<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.spv.repository.toSpvCashFlowApplyMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.spv.entity.toSpvCashFlowApply" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="SPV_CODE" property="spvCode" jdbcType="VARCHAR" />
    <result column="CASHFLOW_APPLY_CODE" property="cashflowApplyCode" jdbcType="VARCHAR" />
    <result column="USAGE" property="usage" jdbcType="VARCHAR" />
    <result column="COMMENT" property="comment" jdbcType="NVARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="CHAR" />
    <result column="APPLIER" property="applier" jdbcType="VARCHAR" />
    <result column="APPLY_AUDITOR" property="applyAuditor" jdbcType="VARCHAR" />
    <result column="FT_PRE_AUDITOR" property="ftPreAuditor" jdbcType="VARCHAR" />
    <result column="FT_POST_AUDITOR" property="ftPostAuditor" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, SPV_CODE, CASHFLOW_APPLY_CODE, USAGE, COMMENT, STATUS, IS_DELETED, APPLIER, 
    APPLY_AUDITOR, FT_PRE_AUDITOR, FT_POST_AUDITOR, CREATE_TIME, CREATE_BY, UPDATE_TIME, 
    UPDATE_BY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_SPV_CASHFLOW_APPLY
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TO_SPV_CASHFLOW_APPLY
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.spv.entity.toSpvCashFlowApply" >
    insert into sctrans.T_TO_SPV_CASHFLOW_APPLY (PKID, SPV_CODE, CASHFLOW_APPLY_CODE, 
      USAGE, COMMENT, STATUS, 
      IS_DELETED, APPLIER, APPLY_AUDITOR, 
      FT_PRE_AUDITOR, FT_POST_AUDITOR, CREATE_TIME, 
      CREATE_BY, UPDATE_TIME, UPDATE_BY
      )
    values (#{pkid,jdbcType=BIGINT}, #{spvCode,jdbcType=VARCHAR}, #{cashflowApplyCode,jdbcType=VARCHAR}, 
      #{usage,jdbcType=VARCHAR}, #{comment,jdbcType=NVARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=CHAR}, #{applier,jdbcType=VARCHAR}, #{applyAuditor,jdbcType=VARCHAR}, 
      #{ftPreAuditor,jdbcType=VARCHAR}, #{ftPostAuditor,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.spv.entity.toSpvCashFlowApply" >
    insert into sctrans.T_TO_SPV_CASHFLOW_APPLY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="spvCode != null" >
        SPV_CODE,
      </if>
      <if test="cashflowApplyCode != null" >
        CASHFLOW_APPLY_CODE,
      </if>
      <if test="usage != null" >
        USAGE,
      </if>
      <if test="comment != null" >
        COMMENT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="applier != null" >
        APPLIER,
      </if>
      <if test="applyAuditor != null" >
        APPLY_AUDITOR,
      </if>
      <if test="ftPreAuditor != null" >
        FT_PRE_AUDITOR,
      </if>
      <if test="ftPostAuditor != null" >
        FT_POST_AUDITOR,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="spvCode != null" >
        #{spvCode,jdbcType=VARCHAR},
      </if>
      <if test="cashflowApplyCode != null" >
        #{cashflowApplyCode,jdbcType=VARCHAR},
      </if>
      <if test="usage != null" >
        #{usage,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="applier != null" >
        #{applier,jdbcType=VARCHAR},
      </if>
      <if test="applyAuditor != null" >
        #{applyAuditor,jdbcType=VARCHAR},
      </if>
      <if test="ftPreAuditor != null" >
        #{ftPreAuditor,jdbcType=VARCHAR},
      </if>
      <if test="ftPostAuditor != null" >
        #{ftPostAuditor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.spv.entity.toSpvCashFlowApply" >
    update sctrans.T_TO_SPV_CASHFLOW_APPLY
    <set >
      <if test="spvCode != null" >
        SPV_CODE = #{spvCode,jdbcType=VARCHAR},
      </if>
      <if test="cashflowApplyCode != null" >
        CASHFLOW_APPLY_CODE = #{cashflowApplyCode,jdbcType=VARCHAR},
      </if>
      <if test="usage != null" >
        USAGE = #{usage,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        COMMENT = #{comment,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="applier != null" >
        APPLIER = #{applier,jdbcType=VARCHAR},
      </if>
      <if test="applyAuditor != null" >
        APPLY_AUDITOR = #{applyAuditor,jdbcType=VARCHAR},
      </if>
      <if test="ftPreAuditor != null" >
        FT_PRE_AUDITOR = #{ftPreAuditor,jdbcType=VARCHAR},
      </if>
      <if test="ftPostAuditor != null" >
        FT_POST_AUDITOR = #{ftPostAuditor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.spv.entity.toSpvCashFlowApply" >
    update sctrans.T_TO_SPV_CASHFLOW_APPLY
    set SPV_CODE = #{spvCode,jdbcType=VARCHAR},
      CASHFLOW_APPLY_CODE = #{cashflowApplyCode,jdbcType=VARCHAR},
      USAGE = #{usage,jdbcType=VARCHAR},
      COMMENT = #{comment,jdbcType=NVARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=CHAR},
      APPLIER = #{applier,jdbcType=VARCHAR},
      APPLY_AUDITOR = #{applyAuditor,jdbcType=VARCHAR},
      FT_PRE_AUDITOR = #{ftPreAuditor,jdbcType=VARCHAR},
      FT_POST_AUDITOR = #{ftPostAuditor,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
</mapper>