<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centaline.trans.task.repository.AwardBaseMapper">
<insert id="insert" parameterType="com.centaline.trans.task.entity.AwardBase" >
	INSERT INTO [sctrans].[T_TS_AWARD_BASE]
           ([CASE_CODE]
           ,[PARTICIPANT]
           ,[JOB_ID]
           ,[ORG_ID]
           ,[BASE_AMOUNT]
           ,[CREATE_TIME]
           ,[BELONG_MONTH],CONFIG_ID)
     VALUES
           (#{caseCode,jdbcType=VARCHAR},
           #{participant,jdbcType=VARCHAR},
           #{jobId,jdbcType=VARCHAR},
          #{orgId,jdbcType=VARCHAR},
          #{baseAmount,jdbcType=DECIMAL},
          #{createTime,jdbcType=TIMESTAMP},
          #{belongMonth,jdbcType=TIMESTAMP},
          #{configId,jdbcType=BIGINT}
           )

  </insert>
   <select id="getDirectorOrgSize" resultType="java.lang.Integer">
   			select COUNT(o.id) from sctrans.SYS_USER_ORG_JOB uoj left join sctrans.SYS_JOB j
on j.id=uoj.JOB_ID left join sctrans.SYS_ORG o on uoj.ORG_ID=o.PARENT_ID and o.IS_DELETED='0'
where uoj.USER_ID=#{0} and j.JOB_CODE=#{1}
;
   </select>
      <select id="getGeneralManagerOrgSize" resultType="java.lang.Integer" >
   			select COUNT(o1.id) from sctrans.SYS_USER_ORG_JOB uoj left join sctrans.SYS_JOB j
on j.id=uoj.JOB_ID left join sctrans.SYS_ORG o on uoj.ORG_ID=o.PARENT_ID and o.IS_DELETED='0'
left join sctrans.SYS_ORG o1 on o.ID=o1.PARENT_ID and o1.IS_DELETED='0'
where uoj.USER_ID=#{0} and j.JOB_CODE=#{1} 
;
   </select>
  <delete id="deleteByCaseCode" parameterType="java.lang.String">
  		update [sctrans].[T_TS_AWARD_BASE] set IS_DELETED='1'  where CASE_CODE=#{0};
  </delete>
</mapper>