<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centaline.trans.task.repository.TaskPlanSetMapper">
  <resultMap id="BaseResultMap" type="com.centaline.trans.task.entity.TsTaskPlanSet">
    <id column="pkid" jdbcType="BIGINT" property="pkid" />
    <result column="part_Code" jdbcType="VARCHAR" property="partCode" />
    <result column="plan_Days" jdbcType="BIGINT" property="planDays" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_Manual_Set" jdbcType="VARCHAR" property="isManualSet" />

  </resultMap>
  <sql id="Base_Column_List">
     PKID
      ,PART_CODE
      ,PLAN_DAYS
      ,IS_MANUAL_SET
      ,CREATE_TIME
  </sql>
  <select id="getAutoTsTaskPlanSetByPartCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TS_TASK_PLAN_SET
    where IS_MANUAL_SET='0' and part_code=#{partCode,jdbcType=VARCHAR}
  </select>
  
  
</mapper>