<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.kpi.repository.ToPropertyResearchAttachMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.common.repository.ToPropertyResearchAttach" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="PR_CODE" property="prCode" jdbcType="VARCHAR" />
    <result column="PRE_FILE_ADRESS" property="preFileAdress" jdbcType="VARCHAR" />
    <result column="PRE_FILE_CODE" property="preFileCode" jdbcType="VARCHAR" />
    <result column="PART_CODE" property="partCode" jdbcType="VARCHAR" />
    <result column="FILE_CAT" property="fileCat" jdbcType="NVARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, PR_CODE, PRE_FILE_ADRESS, PRE_FILE_CODE, PART_CODE, FILE_CAT, FILE_NAME, CREATE_TIME, 
    CREATE_BY, UPDATE_TIME, UPDATE_BY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_PROPERTY_RESEARCH_ATTACH
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TO_PROPERTY_RESEARCH_ATTACH
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.common.repository.ToPropertyResearchAttach" >
    insert into sctrans.T_TO_PROPERTY_RESEARCH_ATTACH (PKID, PR_CODE, PRE_FILE_ADRESS, 
      PRE_FILE_CODE, PART_CODE, FILE_CAT, 
      FILE_NAME, CREATE_TIME, CREATE_BY, 
      UPDATE_TIME, UPDATE_BY)
    values (#{pkid,jdbcType=BIGINT}, #{prCode,jdbcType=VARCHAR}, #{preFileAdress,jdbcType=VARCHAR}, 
      #{preFileCode,jdbcType=VARCHAR}, #{partCode,jdbcType=VARCHAR}, #{fileCat,jdbcType=NVARCHAR}, 
      #{fileName,jdbcType=NVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.common.repository.ToPropertyResearchAttach" >
    insert into sctrans.T_TO_PROPERTY_RESEARCH_ATTACH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="prCode != null" >
        PR_CODE,
      </if>
      <if test="preFileAdress != null" >
        PRE_FILE_ADRESS,
      </if>
      <if test="preFileCode != null" >
        PRE_FILE_CODE,
      </if>
      <if test="partCode != null" >
        PART_CODE,
      </if>
      <if test="fileCat != null" >
        FILE_CAT,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="prCode != null" >
        #{prCode,jdbcType=VARCHAR},
      </if>
      <if test="preFileAdress != null" >
        #{preFileAdress,jdbcType=VARCHAR},
      </if>
      <if test="preFileCode != null" >
        #{preFileCode,jdbcType=VARCHAR},
      </if>
      <if test="partCode != null" >
        #{partCode,jdbcType=VARCHAR},
      </if>
      <if test="fileCat != null" >
        #{fileCat,jdbcType=NVARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.common.repository.ToPropertyResearchAttach" >
    update sctrans.T_TO_PROPERTY_RESEARCH_ATTACH
    <set >
      <if test="prCode != null" >
        PR_CODE = #{prCode,jdbcType=VARCHAR},
      </if>
      <if test="preFileAdress != null" >
        PRE_FILE_ADRESS = #{preFileAdress,jdbcType=VARCHAR},
      </if>
      <if test="preFileCode != null" >
        PRE_FILE_CODE = #{preFileCode,jdbcType=VARCHAR},
      </if>
      <if test="partCode != null" >
        PART_CODE = #{partCode,jdbcType=VARCHAR},
      </if>
      <if test="fileCat != null" >
        FILE_CAT = #{fileCat,jdbcType=NVARCHAR},
      </if>
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.common.repository.ToPropertyResearchAttach" >
    update sctrans.T_TO_PROPERTY_RESEARCH_ATTACH
    set PR_CODE = #{prCode,jdbcType=VARCHAR},
      PRE_FILE_ADRESS = #{preFileAdress,jdbcType=VARCHAR},
      PRE_FILE_CODE = #{preFileCode,jdbcType=VARCHAR},
      PART_CODE = #{partCode,jdbcType=VARCHAR},
      FILE_CAT = #{fileCat,jdbcType=NVARCHAR},
      FILE_NAME = #{fileName,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
</mapper>