<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.task.repository.ToSignMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.task.entity.ToSign" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="PART_CODE" property="partCode" jdbcType="VARCHAR" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="REAL_CON_TIME" property="realConTime" jdbcType="TIMESTAMP" />
    <result column="CON_PRICE" property="conPrice" jdbcType="DECIMAL" />
    <result column="REAL_PRICE" property="realPrice" jdbcType="DECIMAL" />
    <result column="IS_HUKOU" property="isHukou" jdbcType="CHAR" />
    <result column="IS_CON_CERT" property="isConCert" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.centaline.trans.task.entity.ToSign" extends="BaseResultMap" >
    <result column="COMMENT" property="comment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, PART_CODE, CASE_CODE, REAL_CON_TIME, CON_PRICE, REAL_PRICE, IS_HUKOU, IS_CON_CERT
  </sql>
  <sql id="Blob_Column_List" >
    COMMENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sctrans.T_TO_SIGN
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TO_SIGN
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.task.entity.ToSign" >
    insert into sctrans.T_TO_SIGN (PKID, PART_CODE, CASE_CODE, 
      REAL_CON_TIME, CON_PRICE, REAL_PRICE, 
      IS_HUKOU, IS_CON_CERT, COMMENT, CREATE_TIME,UPDATE_TIME,CREATY_BY,UPDATE_BY
      )
    values (#{pkid,jdbcType=BIGINT}, #{partCode,jdbcType=VARCHAR}, #{caseCode,jdbcType=VARCHAR}, 
      #{realConTime,jdbcType=TIMESTAMP}, #{conPrice,jdbcType=DECIMAL}, #{realPrice,jdbcType=DECIMAL}, 
      #{isHukou,jdbcType=CHAR}, #{isConCert,jdbcType=CHAR}, #{comment,jdbcType=LONGVARCHAR},GETDATE(),GETDATE(),@{SESSION_USER_ID},@{SESSION_USER_ID}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.task.entity.ToSign" >
    insert into sctrans.T_TO_SIGN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="partCode != null" >
        PART_CODE,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="realConTime != null" >
        REAL_CON_TIME,
      </if>
      <if test="conPrice != null" >
        CON_PRICE,
      </if>
      <if test="realPrice != null" >
        REAL_PRICE,
      </if>
      <if test="isHukou != null" >
        IS_HUKOU,
      </if>
      <if test="isConCert != null" >
        IS_CON_CERT,
      </if>
      <if test="comment != null and comment != ''" >
        COMMENT,
      </if>
        CREATE_TIME,UPDATE_TIME,CREATY_BY,UPDATE_BY,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="partCode != null" >
        #{partCode,jdbcType=VARCHAR},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="realConTime != null" >
        #{realConTime,jdbcType=TIMESTAMP},
      </if>
      <if test="conPrice != null" >
        #{conPrice,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null" >
        #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="isHukou != null" >
        #{isHukou,jdbcType=CHAR},
      </if>
      <if test="isConCert != null" >
        #{isConCert,jdbcType=CHAR},
      </if>
      <if test="comment != null and comment != ''" >
        #{comment,jdbcType=LONGVARCHAR},
      </if>
        GETDATE(),GETDATE(),@{SESSION_USER_ID},@{SESSION_USER_ID},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.task.entity.ToSign" >
    update sctrans.T_TO_SIGN
    <set >
      <if test="partCode != null" >
        PART_CODE = #{partCode,jdbcType=VARCHAR},
      </if>
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="realConTime != null" >
        REAL_CON_TIME = #{realConTime,jdbcType=TIMESTAMP},
      </if>
      <if test="conPrice != null" >
        CON_PRICE = #{conPrice,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null" >
        REAL_PRICE = #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="isHukou != null and isHukou != ''" >
        IS_HUKOU = #{isHukou,jdbcType=CHAR},
      </if>
      <if test="isConCert != null and isConCert != ''" >
        IS_CON_CERT = #{isConCert,jdbcType=CHAR},
      </if>
      <if test="comment != null and comment != ''" >
        COMMENT = #{comment,jdbcType=LONGVARCHAR},
      </if>
        UPDATE_TIME=GETDATE(),UPDATE_BY=@{SESSION_USER_ID},
    </set>
    ,IS_ACTIVE='1'
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.centaline.trans.task.entity.ToSign" >
    update sctrans.T_TO_SIGN
    set PART_CODE = #{partCode,jdbcType=VARCHAR},
      CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      REAL_CON_TIME = #{realConTime,jdbcType=TIMESTAMP},
      CON_PRICE = #{conPrice,jdbcType=DECIMAL},
      REAL_PRICE = #{realPrice,jdbcType=DECIMAL},
      IS_HUKOU = #{isHukou,jdbcType=CHAR},
      IS_CON_CERT = #{isConCert,jdbcType=CHAR},
      COMMENT = #{comment,jdbcType=LONGVARCHAR},
      UPDATE_TIME=GETDATE(),UPDATE_BY=@{SESSION_USER_ID}
      ,IS_ACTIVE='1'
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.task.entity.ToSign" >
    update sctrans.T_TO_SIGN
    set PART_CODE = #{partCode,jdbcType=VARCHAR},
      CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      REAL_CON_TIME = #{realConTime,jdbcType=TIMESTAMP},
      CON_PRICE = #{conPrice,jdbcType=DECIMAL},
      REAL_PRICE = #{realPrice,jdbcType=DECIMAL},
      IS_HUKOU = #{isHukou,jdbcType=CHAR},
      IS_CON_CERT = #{isConCert,jdbcType=CHAR}
      ,IS_ACTIVE='1', UPDATE_TIME=GETDATE(),UPDATE_BY=@{SESSION_USER_ID}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  
   <select id="findToSignByCaseCode" parameterType="java.lang.String" resultMap="BaseResultMap">

    select 

    <include refid="Base_Column_List" />,<include refid="Blob_Column_List"/>

    from sctrans.T_TO_SIGN

    where CASE_CODE = #{caseCode,jdbcType=VARCHAR}

  </select>
</mapper>