<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.task.repository.TsTransPlanHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.task.entity.TsTransPlanHistory" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="PART_CODE" property="partCode" jdbcType="VARCHAR" />
    <result column="OLD_EST_PART_TIME" property="oldEstPartTime" jdbcType="TIMESTAMP" />
    <result column="CHANGE_TIME" property="changeTime" jdbcType="TIMESTAMP" />
    <result column="CHANGER_ID" property="changerId" jdbcType="VARCHAR" />
    <result column="CHANGE_REASON" property="changeReason" jdbcType="NVARCHAR" />
    <result column="NEW_EST_PART_TIME" property="newEstPartTime" jdbcType="TIMESTAMP" />
    <result column="BATCH_ID" property="batchId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="queryTtsTransPlanHistorysMap" type="com.centaline.trans.transplan.vo.TsTransPlanHistoryVO" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="PART_CODE" property="partCode" jdbcType="VARCHAR" />
    <result column="oldEstPartTime" property="oldEstPartTime" jdbcType="VARCHAR" />
    <result column="CHANGE_TIME" property="changeTime" jdbcType="TIMESTAMP" />
    <result column="CHANGER_ID" property="changerId" jdbcType="VARCHAR" />
    <result column="CHANGE_REASON" property="changeReason" jdbcType="NVARCHAR" />
    <result column="newEstPartTime" property="newEstPartTime" jdbcType="VARCHAR" />
    <result column="BATCH_ID" property="batchId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, CASE_CODE, PART_CODE, OLD_EST_PART_TIME, CHANGE_TIME, CHANGER_ID, CHANGE_REASON, 
    NEW_EST_PART_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TS_TRANS_PLAN_HISTORY
    where PKID = #{pkid,jdbcType=BIGINT}
    order by NEW_EST_PART_TIME asc
  </select>
  
  <select id="queryTtsTransPlanHistorys" resultMap="queryTtsTransPlanHistorysMap" parameterType="com.centaline.trans.transplan.vo.TsTransPlanHistoryVO" >
    select 
    PKID, CASE_CODE,S.NAME AS PART_CODE, CONVERT(varchar(10),OLD_EST_PART_TIME,120)　AS oldEstPartTime　, CHANGE_TIME, CHANGER_ID, CHANGE_REASON,BATCH_ID,
    CONVERT(varchar(10),NEW_EST_PART_TIME,120)　AS newEstPartTime
    from sctrans.T_TS_TRANS_PLAN_HISTORY T
    left join sctrans.SYS_DICT S ON S.TYPE='part_code' AND S.CODE=T.PART_CODE
    where BATCH_ID = #{batchId,jdbcType=BIGINT}
          AND CASE_CODE = #{caseCode,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TS_TRANS_PLAN_HISTORY
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.task.entity.TsTransPlanHistory" >
    insert into sctrans.T_TS_TRANS_PLAN_HISTORY (PKID, CASE_CODE, PART_CODE, 
      OLD_EST_PART_TIME, CHANGE_TIME, CHANGER_ID, 
      CHANGE_REASON, NEW_EST_PART_TIME,CREATE_TIME,UPDATE_TIME,CREATE_BY,UPDATE_BY)
    values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR}, #{partCode,jdbcType=VARCHAR}, 
      #{oldEstPartTime,jdbcType=TIMESTAMP}, #{changeTime,jdbcType=TIMESTAMP}, #{changerId,jdbcType=VARCHAR}, 
      #{changeReason,jdbcType=NVARCHAR}, #{newEstPartTime,jdbcType=TIMESTAMP},GETDATE(),GETDATE(),@{SESSION_USER_ID},@{SESSION_USER_ID})
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.task.entity.TsTransPlanHistory" >
    insert into sctrans.T_TS_TRANS_PLAN_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="batchId != null" >
        BATCH_ID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="partCode != null" >
        PART_CODE,
      </if>
      <if test="oldEstPartTime != null" >
        OLD_EST_PART_TIME,
      </if>
      <if test="changeTime != null" >
        CHANGE_TIME,
      </if>
      <if test="changerId != null" >
        CHANGER_ID,
      </if>
      <if test="changeReason != null" >
        CHANGE_REASON,
      </if>
      <if test="newEstPartTime != null" >
        NEW_EST_PART_TIME,
      </if>
        CREATE_TIME,UPDATE_TIME,CREATE_BY,UPDATE_BY,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="partCode != null" >
        #{partCode,jdbcType=VARCHAR},
      </if>
      <if test="oldEstPartTime != null" >
        #{oldEstPartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null" >
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changerId != null" >
        #{changerId,jdbcType=VARCHAR},
      </if>
      <if test="changeReason != null" >
        #{changeReason,jdbcType=NVARCHAR},
      </if>
      <if test="newEstPartTime != null" >
        #{newEstPartTime,jdbcType=TIMESTAMP},
      </if>
        GETDATE(),GETDATE(),@{SESSION_USER_ID},@{SESSION_USER_ID},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.task.entity.TsTransPlanHistory" >
    update sctrans.T_TS_TRANS_PLAN_HISTORY
    <set >
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="partCode != null" >
        PART_CODE = #{partCode,jdbcType=VARCHAR},
      </if>
      <if test="oldEstPartTime != null" >
        OLD_EST_PART_TIME = #{oldEstPartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null" >
        CHANGE_TIME = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changerId != null" >
        CHANGER_ID = #{changerId,jdbcType=VARCHAR},
      </if>
      <if test="changeReason != null" >
        CHANGE_REASON = #{changeReason,jdbcType=NVARCHAR},
      </if>
      <if test="newEstPartTime != null" >
        NEW_EST_PART_TIME = #{newEstPartTime,jdbcType=TIMESTAMP},
      </if>
            CREATE_TIME = GETDATE(),
       UPDATE_TIME = GETDATE(),
       CREATE_BY = @{SESSION_USER_ID},
       UPDATE_BY = @{SESSION_USER_ID},
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.task.entity.TsTransPlanHistory" >
    update sctrans.T_TS_TRANS_PLAN_HISTORY
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      PART_CODE = #{partCode,jdbcType=VARCHAR},
      OLD_EST_PART_TIME = #{oldEstPartTime,jdbcType=TIMESTAMP},
      CHANGE_TIME = #{changeTime,jdbcType=TIMESTAMP},
      CHANGER_ID = #{changerId,jdbcType=VARCHAR},
      CHANGE_REASON = #{changeReason,jdbcType=NVARCHAR},
      NEW_EST_PART_TIME = #{newEstPartTime,jdbcType=TIMESTAMP},
        CREATE_TIME = GETDATE(),
       UPDATE_TIME = GETDATE(),
       CREATE_BY = @{SESSION_USER_ID},
       UPDATE_BY = @{SESSION_USER_ID}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  
  <!-- 查询代办任务和提醒任务列表   where processor.PROCESSOR_ID='11' 
	  and task.assignee_='caiji2'> -->
	  <select id="getTransPlanVOList" resultType="com.centaline.trans.task.vo.TransPlanVO" parameterType="com.centaline.trans.task.vo.TransPlanVO" >
	   	SELECT 
		   	(CASE
		   	  WHEN A.[day]=0 THEN '今日'      
			ELSE 
			  '提醒' END) as dayDescription,
	        A.estPartTime,
	        A.caseCode,
	        A.partCode,
	        A.propertyAddr,
            A.processInstanceId,
            A.taskId
   		FROM (
		  SELECT 
		      DATEDIFF(DD, transplan.EST_PART_TIME , GETDATE()) as 'day',
		      transplan.EST_PART_TIME as 'estPartTime',
		      transplan.CASE_CODE as 'caseCode',
		      transplan.PART_CODE as 'partCode',
		      propertyInfo.PROPERTY_ADDR as 'propertyAddr',
		      task.PROC_INST_ID_ as 'processInstanceId',
              task.ID_        as 'taskId'
		  FROM 
		      [sctrans].[T_TO_TRANS_PLAN] transplan
		  inner join 
		      sctrans.act_ru_task as task
		  on 
		      task.[TASK_DEF_KEY_]=transplan.PART_CODE
		  inner join sctrans.t_TO_workflow w
  			  on w.case_code=transplan.CASE_CODE and w.INST_CODE=task.[PROC_INST_ID_]
  	      inner join
  	          [sctrans].T_TO_PROPERTY_INFO as propertyInfo
  	      on
  	          transplan.CASE_CODE = propertyInfo.CASE_CODE
		  WHERE (DATEDIFF(DD, transplan.EST_PART_TIME , GETDATE()) > 2 OR DATEDIFF(DD, transplan.EST_PART_TIME , GETDATE()) = 0)
		  and task.assignee_=#{userName,jdbcType=VARCHAR}) AS A
			 WHERE EXISTS 
	         (
				SELECT * FROM [sctrans].[T_TS_MSG_SEND_HISTORY]
			    where CASE_CODE=a.caseCode and PART_CODE=a.partCode and IS_SUCCESS=1
	         )
	      ORDER BY a.estPartTime DESC
	  </select> 
 
</mapper>