*{font:14px '\5fae\8f6f\96c5\9ed1'}

.warning-info .ibox-content{height: 385px;overflow-x:hidden;overflow-y: auto }
.no-records .ibox-content{background:#fff url(../images/no-records.png) center center no-repeat;}

/*Add style at 11-30*/
.orange{background: #ff6600}
.badge-orange{background: #ff6600;color: #fff}
.text-orange{color: #ff6600}
.text-white{color: #fff}
.top-list .feed-element>.pull-left{position: relative; }
.top-list .feed-element>.pull-left>span{position: absolute;bottom: 0;left: 0 }

/*Add style at 12-01*/
.box-border{border:1px solid #ddd;}
.detail table>thead>tr>th{background: #fff9dd}

/* bonus */
.main-bonus{margin:10px 0 15px;}
.bonus-header{background-color: #fff;padding-bottom:5px;}
.bonus-m{height:56px;}
.bonus-m .ibox-title{height:56px;float: left;border:none;}
.ibox-title .month{color:#5e5e5e;font-size:22px;font-weight:normal;line-height: 30px;float: none;}
.bonus-m .btn{width:29px;height:30px;padding:0;font-size:22px;line-height:12px;vertical-align:top;}
.bonus-m .disable{background-color: #d2d2d2;border-color:#d2d2d2;}
.bonus-m .ibox-tools{height:56px;line-height: 56px;margin-right:15px;}
.bonus-m .nav-label{color:#2a2a2a;font-size:16px;margin:0 20px;}
.bonus-m .nav-label i{color:#fff;border-radius: 10px;background-color:#ed5565;padding:2px 10px;margin-left:10px;}
.bonus-m-con{padding-right:50px;padding-bottom:0;}
.bonus-m-con .m-t{margin-bottom:15px;}
.bonus-m-con label{color:#5e5e5e;font-size:14px;height:33px;line-height:33px;font-weight:normal;padding-right:10px;text-align:right;}
.bonus-m-con .form-control{height:33px;display:inline-block;border:1px solid #aeaeae;}
.bonus-m-con .btn{height:35px;padding:6px 22px;margin-left:20px;}
.bonus-m-con .alert{color:#a94442;font-size:14px;background-color: #f2dede;border:1px solid #ebccd1;border-radius:5px;}
.border-e7{border-bottom:1px solid #e7eaec;}
.bonus-table{width:100%;margin-top:20px;background-color: #fff;padding:20px 20px 100px;}
.bonus-table table {width: 100%;border-collapse: collapse;border-spacing: 0;text-align:center;}
.bonus-table thead{background-color: #f3f3f4;height:38px;border-bottom:1px solid #ddd;}
.bonus-table thead tr th{color:#545454;font-size:14px;font-weight:700;text-align: center;height:38px;}
.bonus-table tbody tr{height:45px;}
.bonus-table tbody tr td{color:#545454;}
.bonus-table tbody .expand{color:#3f70c1;text-decoration: underline;}
.bonus-table tbody .td-tag{width:40px;}
.bonus-table .toogle-show{width:100%;height:35px;}
.bonus-table .two-td{width:100%;}
.bonus-table .two-table{width:96%;margin:20px auto;}
.bonus-table .two-table thead{background:#fffdd9;}
.bonus-table .two-table tr{height:35px;}
.bonus-table .two-table thead tr th{font-weight:normal;border:1px solid #e7eaec;}
.bonus-table .two-table td{border:1px solid #e7eaec;background-color:#f8f8f8;}
.modal.in .modal-dialog{width:766px;min-height:370px;position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);}
.bonus-modal .modal-header{padding:0;text-align: left;}
.bonus-modal .modal-title{color:#fff;font-size:18px;font-weight: 500;padding:15px;border-bottom:1px solid #c6c6c6;background-color:#1c84c6;}
.bonus-modal .modal-body{background-color:#fff;padding:0 0 20px 0;text-align: left;}
.bonus-modal .modal-body ul{padding:5px 25px;}
.bonus-modal .ibox-content{border:0;padding:0;}
.bonus-modal .modal-body .wd88{width:88px;}
.bonus-modal .modal-body .wd126{width:128px;}
.bonus-modal .modal-body .wd110{width:110px;}
.bonus-modal .modal-body .wd243{width:243px;}
.tancen .add{padding:15px;}
.bonus-modal .modal-body li{border-bottom:1px solid #ddd;list-style: none;height:38px;line-height: 38px;padding:0 10px;}
.bonus-modal .modal-body li:nth-child(even){background-color: #f9f9f9;}
.bonus-modal .modal-body li:last-child{border:0;}
.bonus-modal .modal-body li span{color:#000;font-size: 14px;padding:0 2px;}
.bonus-modal .modal-body li.header span{display: inline-block;box-sizing: content-box;text-indent:5px;}
.bonus-modal .modal-body input{height:25px;border:1px solid #ccc;text-indent:5px;}
.bonus-modal .modal-body .add-btn{padding-left:38px;}
.add-btn .add-change{color:#393939;width:120px;background-color: #fff;border:1px solid #e7eaec;}
.bonus-modal .modal-footer button,.modal-footer a{width:116px;border:0;}
.bonus-modal .modal-footer{border:0;text-align: center;}
.bonus-modal .modal-footer .btn{color:#fff;padding:4px 20px;font-size:18px;}
.bonus-modal .modal-footer .confirm{background-color: #ff8400;border:1px solid #ff8400;}
.bonus-modal .modal-footer .cancel{background-color: #c2c2c2;border:1px solid #c2c2c2;}
.bonus-modal .close{opacity:1;}
.bonus-modal .close:hover{opacity: 0.5;}
.bonus-modal .close span{color:#fff;font-size:30px;font-weight:700;position: absolute;top:6px;right:15px;}
input,button{outline:none;}
.btn:focus,.btn:active:focus{outline: none;}