.table_blue thead tr th {
	color: #fff!important;
    background-color: #52cdec!important;
    font-weight: normal;
    font-family: "Microsoft Yahei";
}
table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: #fff!important;
}