/*
 *
 *   AIST - Mobile style for YC
 *   version 2.0
 *
*/

@media (min-width: 768px) {
}




.timeline-qz-icon {
    background: url(../img/yc-icon/bljd－qz@x2.png) no-repeat top;
    background-size: cover;
    border-radius: 0;
    border: 0px solid #52cdec
}

.timeline-aj-icon {
    background: url(../img/yc-icon/bljd－按揭@x2.png) no-repeat top;
    background-size: cover;
    border-radius: 0;
    border: 0px solid #52cdec
}

.timeline-ej-icon {
    background: url(../img/yc-icon/bljd－e+@x2.png) no-repeat top;
    background-size: cover;
    border-radius: 0;
    border: 0px solid #52cdec
}

.timeline-jg-icon {
    background: url(../img/yc-icon/bljd－资金监管@x3.png) no-repeat top;
    background-size: cover;
    border-radius: 0;
    border: 0px solid #52cdec
}
