<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.income.repository.TsIncomeStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.income.entity.TsIncomeStatistics" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="INCOME_CAT" property="incomeCat" jdbcType="VARCHAR" />
    <result column="INCOME_ITEM" property="incomeItem" jdbcType="VARCHAR" />
    <result column="INCOME_AMOUNT" property="incomeAmount" jdbcType="DECIMAL" />
    <result column="IMPORT_TIME" property="importTime" jdbcType="TIMESTAMP" />
    <result column="IMPORT_NO" property="importNo" jdbcType="INTEGER" />
    <result column="INCOME_BELONG_DAY" property="incomeBelongDay" jdbcType="TIMESTAMP" />
    <result column="FIN_CASE_CODE" property="finCaseCode" jdbcType="VARCHAR" />
    <result column="FIN_CODE" property="finCode" jdbcType="VARCHAR" />
    <result column="IS_CHANGE" property="isChange" jdbcType="CHAR" />
    <result column="org_Id" property="orgId" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    PKID, CASE_CODE, INCOME_CAT, INCOME_ITEM, INCOME_AMOUNT, IMPORT_TIME, IMPORT_NO, 
    INCOME_BELONG_DAY, FIN_CASE_CODE, FIN_CODE, IS_CHANGE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TS_INCOME_STATISTICS
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TS_INCOME_STATISTICS
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.income.entity.TsIncomeStatistics" >
    insert into sctrans.T_TS_INCOME_STATISTICS (PKID, CASE_CODE, INCOME_CAT, 
      INCOME_ITEM, INCOME_AMOUNT, IMPORT_TIME, 
      IMPORT_NO, INCOME_BELONG_DAY, FIN_CASE_CODE, 
      FIN_CODE, IS_CHANGE)
    values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR}, #{incomeCat,jdbcType=VARCHAR}, 
      #{incomeItem,jdbcType=VARCHAR}, #{incomeAmount,jdbcType=DECIMAL}, #{importTime,jdbcType=TIMESTAMP}, 
      #{importNo,jdbcType=INTEGER}, #{incomeBelongDay,jdbcType=TIMESTAMP}, #{finCaseCode,jdbcType=VARCHAR}, 
      #{finCode,jdbcType=VARCHAR}, #{isChange,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.income.entity.TsIncomeStatistics" >
    insert into sctrans.T_TS_INCOME_STATISTICS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="incomeCat != null" >
        INCOME_CAT,
      </if>
      <if test="incomeItem != null" >
        INCOME_ITEM,
      </if>
      <if test="incomeAmount != null" >
        INCOME_AMOUNT,
      </if>
      <if test="importTime != null" >
        IMPORT_TIME,
      </if>
      <if test="importNo != null" >
        IMPORT_NO,
      </if>
      <if test="incomeBelongDay != null" >
        INCOME_BELONG_DAY,
      </if>
      <if test="finCaseCode != null" >
        FIN_CASE_CODE,
      </if>
      <if test="finCode != null" >
        FIN_CODE,
      </if>
      <if test="isChange != null" >
        IS_CHANGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="incomeCat != null" >
        #{incomeCat,jdbcType=VARCHAR},
      </if>
      <if test="incomeItem != null" >
        #{incomeItem,jdbcType=VARCHAR},
      </if>
      <if test="incomeAmount != null" >
        #{incomeAmount,jdbcType=DECIMAL},
      </if>
      <if test="importTime != null" >
        #{importTime,jdbcType=TIMESTAMP},
      </if>
      <if test="importNo != null" >
        #{importNo,jdbcType=INTEGER},
      </if>
      <if test="incomeBelongDay != null" >
        #{incomeBelongDay,jdbcType=TIMESTAMP},
      </if>
      <if test="finCaseCode != null" >
        #{finCaseCode,jdbcType=VARCHAR},
      </if>
      <if test="finCode != null" >
        #{finCode,jdbcType=VARCHAR},
      </if>
      <if test="isChange != null" >
        #{isChange,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.income.entity.TsIncomeStatistics" >
    update sctrans.T_TS_INCOME_STATISTICS
    <set >
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="incomeCat != null" >
        INCOME_CAT = #{incomeCat,jdbcType=VARCHAR},
      </if>
      <if test="incomeItem != null" >
        INCOME_ITEM = #{incomeItem,jdbcType=VARCHAR},
      </if>
      <if test="incomeAmount != null" >
        INCOME_AMOUNT = #{incomeAmount,jdbcType=DECIMAL},
      </if>
      <if test="importTime != null" >
        IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP},
      </if>
      <if test="importNo != null" >
        IMPORT_NO = #{importNo,jdbcType=INTEGER},
      </if>
      <if test="incomeBelongDay != null" >
        INCOME_BELONG_DAY = #{incomeBelongDay,jdbcType=TIMESTAMP},
      </if>
      <if test="finCaseCode != null" >
        FIN_CASE_CODE = #{finCaseCode,jdbcType=VARCHAR},
      </if>
      <if test="finCode != null" >
        FIN_CODE = #{finCode,jdbcType=VARCHAR},
      </if>
      <if test="isChange != null" >
        IS_CHANGE = #{isChange,jdbcType=CHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.income.entity.TsIncomeStatistics" >
    update sctrans.T_TS_INCOME_STATISTICS
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      INCOME_CAT = #{incomeCat,jdbcType=VARCHAR},
      INCOME_ITEM = #{incomeItem,jdbcType=VARCHAR},
      INCOME_AMOUNT = #{incomeAmount,jdbcType=DECIMAL},
      IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP},
      IMPORT_NO = #{importNo,jdbcType=INTEGER},
      INCOME_BELONG_DAY = #{incomeBelongDay,jdbcType=TIMESTAMP},
      FIN_CASE_CODE = #{finCaseCode,jdbcType=VARCHAR},
      FIN_CODE = #{finCode,jdbcType=VARCHAR},
      IS_CHANGE = #{isChange,jdbcType=CHAR}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
    <select id="queryMaxNoByCaseCode" resultType="java.lang.Integer" parameterType="com.centaline.trans.income.entity.TsIncomeStatistics">
  SELECT ISNULL(MAX(IMPORT_NO),0) FROM [sctrans].[T_TS_INCOME_STATISTICS] where CASE_CODE=#{caseCode,jdbcType=VARCHAR} AND INCOME_ITEM = #{incomeItem,jdbcType=VARCHAR}
  
  </select>
     <select id="queryMonthCountByCaseCode" resultType="java.lang.Integer" parameterType="java.lang.String">
SELECT count(1) FROM [sctrans].[T_TS_INCOME_STATISTICS] where CASE_CODE=#{caseCode,jdbcType=VARCHAR}  AND datediff(month,IMPORT_TIME,getdate())&gt;0;  
  </select>
  
  
  <!-- 功能：收益  作者：zhangxb16 -->
  <select id="selectIncome" resultMap="BaseResultMap" parameterType="com.centaline.trans.income.entity.TsIncomeStatistics">
  		SELECT PKID, CASE_CODE, INCOME_ITEM, INCOME_AMOUNT, INCOME_CAT, IMPORT_NO FROM sctrans.T_TS_INCOME_STATISTICS 
  		where 1=1
  		<trim prefix="values (" suffix=")" suffixOverrides="," >
  		
  		<if test="pkid != null" >
        	and pkid = #{pkid,jdbcType=VARCHAR},
      	</if>
  		<if test="caseCode != null" >
        	and CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="incomeCat != null" >
        	and INCOME_CAT = #{incomeCat,jdbcType=VARCHAR},
      </if>
      <if test="incomeItem != null" >
        	and INCOME_ITEM = #{incomeItem,jdbcType=VARCHAR},
      </if>
      <if test="incomeAmount != null" >
        	and INCOME_AMOUNT = #{incomeAmount,jdbcType=DECIMAL},
      </if>
      <if test="importTime != null" >
        	and IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP},
      </if>
      <if test="importNo != null" >
        	and IMPORT_NO = #{importNo,jdbcType=INTEGER},
      </if>
      <if test="incomeBelongDay != null" >
        	and INCOME_BELONG_DAY = #{incomeBelongDay,jdbcType=TIMESTAMP},
      </if>
      <if test="finCaseCode != null" >
        	and FIN_CASE_CODE = #{finCaseCode,jdbcType=VARCHAR},
      </if>
      <if test="finCode != null" >
        	and FIN_CODE = #{finCode,jdbcType=VARCHAR},
      </if>
      <if test="isChange != null" >
        	and IS_CHANGE = #{isChange,jdbcType=CHAR},
      </if>
      </trim>
  </select>
  <select id="selectByFinCaseCode" resultMap="BaseResultMap" parameterType="java.lang.String">
  		SELECT 
  		    <include refid="Base_Column_List" />
  		  FROM [sctrans].[T_TS_INCOME_STATISTICS] 
  		where is_change='0' and fin_code is not null
  		and fin_case_code =#{0}
  		
  </select>
  <select id="selectWaitingProcessing" resultMap="BaseResultMap">
  	SELECT s.pkid,s.case_code,s.income_cat,s.INCOME_AMOUNT,s.income_belong_day,TSI.ORG_ID as org_Id,s.fin_case_code
	  FROM [sctrans].[T_TS_INCOME_STATISTICS]  s
	  left join [sctrans].t_to_case  c
	  on c.case_code=s.case_code
	  LEFT JOIN sctrans.T_TG_SERV_ITEM_AND_PROCESSOR AS TSI
	  ON TSI.CASE_CODE=S.CASE_CODE AND TSI.SRV_CODE=S.INCOME_CAT
	  where s.income_belong_day is null and S.IS_CHANGE=0 AND
	  ((s.INCOME_CAT='3000400101' and c.CASE_PROPERTY='30003002') or (s.INCOME_CAT &lt;&gt;'3000400101'))
  </select>
  
</mapper>