<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.centaline.trans.report.repository.CaseProcessStatisMapper">
	<resultMap id="CaseProcessStatis" type="com.centaline.trans.report.entity.CaseProcessStatis">
    	<id column="PKID" jdbcType="BIGINT" property="pkid" />
    	<result column="CASE_CODE" jdbcType="VARCHAR" property="caseCode" />
    	<result column="TEAM_ID" jdbcType="VARCHAR" property="teamId" />
    	<result column="DISTRICT_ID" jdbcType="VARCHAR" property="districtId" />
    	<result column="RECEIVED_TIME" jdbcType="TIMESTAMP" property="receivedTime" />
    	<result column="RECEIVED_USER" jdbcType="VARCHAR" property="receivedUser" />
    	<result column="RECEIVED_TEAM_ID" jdbcType="VARCHAR" property="receivedTeamId"  />
    	<result column="RECEIVED_DISTRICT_ID" jdbcType="VARCHAR" property="receivedDistrictId" />    
    	<result column="SIGN_TIME" jdbcType="TIMESTAMP" property="signTime" />
    	<result column="SIGN_USER" jdbcType="VARCHAR" property="signUser" />
    	<result column="SIGN_TEAM_ID" jdbcType="VARCHAR" property="signteamId" />
    	<result column="SIGN_DISTRICT_ID" jdbcType="VARCHAR" property="signDistrictId" />
    	<result column="HOUSE_TRANFER_TIME" jdbcType="TIMESTAMP" property="houseTranferTime" />
    	<result column="HOUSE_TRANFER_USER" jdbcType="VARCHAR" property="houseTranferUser" />
		<result column="HOUSE_TRANFER_TEAM_ID" jdbcType="VARCHAR" property="houseTranferTeamId" />
		<result column="HOUSE_TRANFER_DISTRICT_ID" jdbcType="VARCHAR" property="houseTranferDistrictId" />
		<result column="CLOSE_TIME" jdbcType="TIMESTAMP" property="closeTime" />
		<result column="CLOSE_USER" jdbcType="VARCHAR" property="closeUser"/>
		<result column="CLOSE_TEAM_ID" jdbcType="VARCHAR" property="closeTeamId"/>
		<result column="CLOSE_DISTRICT_ID" jdbcType="VARCHAR" property="closeDistrictId"/>
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="upTIMESTAMP"/>
		<result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
  	</resultMap>
  	
  	<insert id="insert" parameterType="com.centaline.trans.report.entity.CaseProcessStatis">
		INSERT INTO sctrans.V_RPT_CASE_PROCESS_STATIS ( 
			CASE_CODE,
        	TEAM_ID,
            DISTRICT_ID,
            RECEIVED_TIME,
            RECEIVED_USER,
            RECEIVED_TEAM_ID,
            RECEIVED_DISTRICT_ID,
            SIGN_TIME,
            SIGN_USER,
            SIGN_TEAM_ID,
            SIGN_DISTRICT_ID,
            HOUSE_TRANFER_TIME,
            HOUSE_TRANFER_USER,
            HOUSE_TRANFER_TEAM_ID,
            HOUSE_TRANFER_DISTRICT_ID,
            CLOSE_TIME,
            CLOSE_USER,
            CLOSE_TEAM_ID,
            CLOSE_DISTRICT_ID,
            CREATE_TIME,
            CREATE_BY,
            UPDATE_TIME,
            UPDATE_BY
        )
		VALUES ( 
			#{caseCode,jdbcType=VARCHAR},
			#{teamId,jdbcType=VARCHAR},
			#{districtId,jdbcType=VARCHAR},
			#{receivedTime,jdbcType=TIMESTAMP},
			#{receivedUser,jdbcType=VARCHAR},
			#{receivedTeamId,jdbcType=VARCHAR},
			#{receivedDistrictId,jdbcType=VARCHAR},
			#{signTime,jdbcType=TIMESTAMP},
			#{signUser,jdbcType=VARCHAR},
			#{signteamId,jdbcType=VARCHAR},
			#{signDistrictId,jdbcType=VARCHAR},
			#{houseTranferTime,jdbcType=TIMESTAMP},
			#{houseTranferUser,jdbcType=VARCHAR},
			#{houseTranferTeamId,jdbcType=VARCHAR},
			#{houseTranferDistrictId,jdbcType=VARCHAR},
			#{closeTime,jdbcType=TIMESTAMP},
			#{closeUser,jdbcType=VARCHAR},
			#{closeTeamId,jdbcType=VARCHAR},
			#{closeDistrictId,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{createBy,jdbcType=VARCHAR},
			#{upTIMESTAMP,jdbcType=TIMESTAMP},
			#{updateBy,jdbcType=VARCHAR}
        )
  	</insert>
  	
  	<update id="update" parameterType="com.centaline.trans.report.entity.CaseProcessStatis">
  		UPDATE sctrans.V_RPT_CASE_PROCESS_STATIS
  		<set >
      		<if test="caseCode != null" >
        	CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      		</if>
      		<if test="teamId != null" >
        	TEAM_ID = #{teamId,jdbcType=VARCHAR},
      		</if>
      		<if test="districtId != null" >
        	DISTRICT_ID = #{districtId,jdbcType=VARCHAR},
      		</if>
      		<if test="receivedTime != null" >
        	RECEIVED_TIME = #{receivedTime,jdbcType=TIMESTAMP},
      		</if>
      		<if test="receivedUser != null" >
        	RECEIVED_USER = #{receivedUser,jdbcType=VARCHAR},
      		</if>
      		<if test="receivedTeamId != null" >
        	RECEIVED_TEAM_ID = #{receivedTeamId,jdbcType=VARCHAR},
      		</if>
      		<if test="receivedDistrictId != null" >
        	RECEIVED_DISTRICT_ID = #{receivedDistrictId,jdbcType=VARCHAR},
      		</if>
      		<if test="signTime != null" >
        	SIGN_TIME = #{signTime,jdbcType=TIMESTAMP},
      		</if>
      		<if test="signUser != null" >
        	SIGN_USER = #{signUser,jdbcType=VARCHAR},
      		</if>
      		<if test="signTeamId != null" >
        	SIGN_TEAM_ID = #{signTeamId,jdbcType=VARCHAR},
      		</if>
      		<if test="signDistrictId != null" >
        	SIGN_DISTRICT_ID = #{signDistrictId,jdbcType=VARCHAR},
      		</if>
      		<if test="houseTranferTime != null" >
        	HOUSE_TRANFER_TIME = #{houseTranferTime,jdbcType=TIMESTAMP},
      		</if>
      		<if test="houseTranferUser != null" >
        	HOUSE_TRANFER_USER = #{houseTranferUser,jdbcType=VARCHAR},
      		</if>
      		<if test="houseTranferTeamId != null" >
        	HOUSE_TRANFER_TEAM_ID = #{houseTranferTeamId,jdbcType=VARCHAR},
      		</if>
      		<if test="houseTranferDistrictId != null" >
        	HOUSE_TRANFER_DISTRICT_ID = #{houseTranferDistrictId,jdbcType=VARCHAR},
      		</if>
      		<if test="closeTime != null" >
        	CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      		</if>
      		<if test="closeUser != null" >
        	CLOSE_USER = #{closeUser,jdbcType=VARCHAR},
      		</if>
      		<if test="closeTeamId != null" >
        	CLOSE_TEAM_ID = #{closeTeamId,jdbcType=VARCHAR},
      		</if>
      		<if test="closeDistrictId != null" >
        	CLOSE_DISTRICT_ID = #{closeDistrictId,jdbcType=VARCHAR},
      		</if>
      		<if test="createTime != null" >
        	CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      		</if>
      		<if test="createBy != null" >
        	CREATE_BY = #{createBy,jdbcType=VARCHAR},
      		</if>
      		<if test="updateTime != null" >
        	UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      		</if>
      		<if test="updateBy != null" >
        	UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      		</if>
    	</set>
    	where PKID = #{pkid,jdbcType=BIGINT}
  	</update>
</mapper>