
@font-face {font-family: "AistIconFont";
  src: url('iconfont.eot?t=1475995682'); /* IE9*/
  src: url('iconfont.eot?t=1475995682#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475995682') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475995682') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475995682#AistIconFont') format('svg'); /* iOS 4.1- */
}

.AistIconFont {
  font-family:"AistIconFont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.AistIconFont-eqianbao:before { content: "\e600"; }
.AistIconFont-anjiedaoru:before { content: "\e601"; }
.AistIconFont-anjian:before { content: "\e602"; }
.AistIconFont-dakaimimaxianshi:before { content: "\e603"; }
.AistIconFont-daikuanjine:before { content: "\e604"; }
.AistIconFont-daikuanjindu:before { content: "\e605"; }
.AistIconFont-daikuannianxian:before { content: "\e606"; }
.AistIconFont-daizi:before { content: "\e607"; }
.AistIconFont-fafangdaikuan:before { content: "\e608"; }
.AistIconFont-fandiandaoru:before { content: "\e609"; }
.AistIconFont-fuwubuzubie:before { content: "\e60a"; }
.AistIconFont-guanbimimaxianshi:before { content: "\e60b"; }
.AistIconFont-hetongjichu:before { content: "\e60c"; }
.AistIconFont-jisonghetong:before { content: "\e60d"; }
.AistIconFont-jiaoyijindu:before { content: "\e60e"; }
.AistIconFont-qiazi:before { content: "\e60f"; }
.AistIconFont-qianzhang:before { content: "\e610"; }
.AistIconFont-shenfenzheng:before { content: "\e611"; }
.AistIconFont-shenpitongguo:before { content: "\e612"; }
.AistIconFont-shoudaotazheng:before { content: "\e613"; }
.AistIconFont-shouji:before { content: "\e614"; }
.AistIconFont-shurumima:before { content: "\e615"; }
.AistIconFont-shuifeiqiadaoru:before { content: "\e616"; }
.AistIconFont-sousuo:before { content: "\e617"; }
.AistIconFont-wode:before { content: "\e618"; }
.AistIconFont-xiaoxi:before { content: "\e619"; }
.AistIconFont-yonghuming:before { content: "\e61a"; }
.AistIconFont-zijinjianguan:before { content: "\e61b"; }
.AistIconFont-caidananniu:before { content: "\e61c"; }
.AistIconFont-gou:before { content: "\e61d"; }
.AistIconFont-houtui:before { content: "\e61e"; }
.AistIconFont-zuojiantou:before { content: "\e61f"; }
