<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.wdcase.repository.TpdCommSubsMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.wdcase.entity.TpdCommSubs" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="biz_Code" property="bizCode" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="STD_RATE" property="stdRate" jdbcType="DECIMAL" />
    <result column="STD_COST" property="stdCost" jdbcType="DECIMAL" />
    <result column="DISCOUNT" property="discount" jdbcType="DECIMAL" />
    <result column="COMM_COST" property="commCost" jdbcType="DECIMAL" />
    <result column="BUYER_COST" property="buyerCost" jdbcType="DECIMAL" />
    <result column="BUYER_PAID" property="buyerPaid" jdbcType="DECIMAL" />
    <result column="SELLER_COST" property="sellerCost" jdbcType="DECIMAL" />
    <result column="SELLER_PAID" property="sellerPaid" jdbcType="DECIMAL" />
    <result column="PAYEE" property="payee" jdbcType="NVARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, biz_Code,CASE_CODE, remarks, STD_RATE, STD_COST, DISCOUNT, COMM_COST, BUYER_COST, 
    BUYER_PAID, SELLER_COST, SELLER_PAID, PAYEE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, 
    IS_DELETED
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_PD_COMM_SUBS
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <select id="selectByCaseCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_PD_COMM_SUBS
    where case_code = #{caseCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_PD_COMM_SUBS
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.wdcase.entity.TpdCommSubs" >
  <selectKey resultType="java.lang.Long" keyProperty="pkid" order="AFTER" >
    	SELECT @@IDENTITY
  	 </selectKey>
    insert into sctrans.T_PD_COMM_SUBS (PKID, CASE_CODE,biz_Code, remarks, 
      STD_RATE, STD_COST, DISCOUNT, 
      COMM_COST, BUYER_COST, BUYER_PAID, 
      SELLER_COST, SELLER_PAID, PAYEE, 
      CREATE_BY, CREATE_TIME, UPDATE_BY, 
      UPDATE_TIME, IS_DELETED)
    values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR}, #{bizCode,jdbcType=VARCHAR},#{remarks,jdbcType=VARCHAR}, 
      #{stdRate,jdbcType=DECIMAL}, #{stdCost,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, 
      #{commCost,jdbcType=DECIMAL}, #{buyerCost,jdbcType=DECIMAL}, #{buyerPaid,jdbcType=DECIMAL}, 
      #{sellerCost,jdbcType=DECIMAL}, #{sellerPaid,jdbcType=DECIMAL}, #{payee,jdbcType=NVARCHAR}, 
       @{SESSION_USER_ID}, GETDATE(),  @{SESSION_USER_ID}, 
      GETDATE(), #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.wdcase.entity.TpdCommSubs"  useGeneratedKeys="true" keyProperty="pkid">
  <selectKey resultType="java.lang.Long" keyProperty="pkid" order="AFTER" >
    	SELECT @@IDENTITY
  	 </selectKey>
    insert into sctrans.T_PD_COMM_SUBS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="bizCode != null" >
        BIZ_CODE,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="stdRate != null" >
        STD_RATE,
      </if>
      <if test="stdCost != null" >
        STD_COST,
      </if>
      <if test="discount != null" >
        DISCOUNT,
      </if>
      <if test="commCost != null" >
        COMM_COST,
      </if>
      <if test="buyerCost != null" >
        BUYER_COST,
      </if>
      <if test="buyerPaid != null" >
        BUYER_PAID,
      </if>
      <if test="sellerCost != null" >
        SELLER_COST,
      </if>
      <if test="sellerPaid != null" >
        SELLER_PAID,
      </if>
      <if test="payee != null" >
        PAYEE,
      </if>

        CREATE_BY,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_TIME,
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="bizCode != null" >
        #{bizCode,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="stdRate != null" >
        #{stdRate,jdbcType=DECIMAL},
      </if>
      <if test="stdCost != null" >
        #{stdCost,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="commCost != null" >
        #{commCost,jdbcType=DECIMAL},
      </if>
      <if test="buyerCost != null" >
        #{buyerCost,jdbcType=DECIMAL},
      </if>
      <if test="buyerPaid != null" >
        #{buyerPaid,jdbcType=DECIMAL},
      </if>
      <if test="sellerCost != null" >
        #{sellerCost,jdbcType=DECIMAL},
      </if>
      <if test="sellerPaid != null" >
        #{sellerPaid,jdbcType=DECIMAL},
      </if>
      <if test="payee != null" >
        #{payee,jdbcType=NVARCHAR},
      </if>
      @{SESSION_USER_ID},GETDATE(),@{SESSION_USER_ID},GETDATE(),
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.wdcase.entity.TpdCommSubs" >
    update sctrans.T_PD_COMM_SUBS
    <set >
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="bizCode != null" >
        BIZ_CODE = #{bizCode,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="stdRate != null" >
        STD_RATE = #{stdRate,jdbcType=DECIMAL},
      </if>
      <if test="stdCost != null" >
        STD_COST = #{stdCost,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        DISCOUNT = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="commCost != null" >
        COMM_COST = #{commCost,jdbcType=DECIMAL},
      </if>
      <if test="buyerCost != null" >
        BUYER_COST = #{buyerCost,jdbcType=DECIMAL},
      </if>
      <if test="buyerPaid != null" >
        BUYER_PAID = #{buyerPaid,jdbcType=DECIMAL},
      </if>
      <if test="sellerCost != null" >
        SELLER_COST = #{sellerCost,jdbcType=DECIMAL},
      </if>
      <if test="sellerPaid != null" >
        SELLER_PAID = #{sellerPaid,jdbcType=DECIMAL},
      </if>
      <if test="payee != null" >
        PAYEE = #{payee,jdbcType=NVARCHAR},
      </if>
        UPDATE_BY = @{SESSION_USER_ID},
        UPDATE_TIME = GETDATE(),
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.wdcase.entity.TpdCommSubs" >
    update sctrans.T_PD_COMM_SUBS
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      BIZ_CODE = #{bizCode,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      STD_RATE = #{stdRate,jdbcType=DECIMAL},
      STD_COST = #{stdCost,jdbcType=DECIMAL},
      DISCOUNT = #{discount,jdbcType=DECIMAL},
      COMM_COST = #{commCost,jdbcType=DECIMAL},
      BUYER_COST = #{buyerCost,jdbcType=DECIMAL},
      BUYER_PAID = #{buyerPaid,jdbcType=DECIMAL},
      SELLER_COST = #{sellerCost,jdbcType=DECIMAL},
      SELLER_PAID = #{sellerPaid,jdbcType=DECIMAL},
      PAYEE = #{payee,jdbcType=NVARCHAR},
      UPDATE_BY = @{SESSION_USER_ID},
      UPDATE_TIME = GETDATE(),
      IS_DELETED = #{isDeleted,jdbcType=INTEGER}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
</mapper>