h1,h2,h3,h4,h5,h6 {
  font-family: "Microsoft Yahei";
}
button, input, select, textarea {
  font-family: "Microsoft Yahei";
}
.nav > li.active {
    border-left: 0px;
}
#page-wrapper {
    padding: 0 5px;
}
.welcome, .table, .panel-heading, .nav-tabs li a  {
	font-family: "Microsoft Yahei";
}
.title {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

