@charset "utf-8";

.table_box .table {
    font-size: 14px;
}

.table_box .table {
    width: 100%;
    background-color: #fff;
}

.table_box .apply-table {
    width: 100%;
    border: 1px solid #eaeaea;
    border-right: 0;
}

.table_box .apply-table th {
    font-weight: normal;
    color: #fff;
    height: 35px;
    background-color: #52cdec;
}

.apply-table th,.apply-table td {
    text-align: left;
    padding-left: 10px;
    border-right: 1px solid #eaeaea;
}

.apply-table tr td {
    color: #333;
}

.apply-table .tr_odd {
    background-color: #fff;
}

.apply-table .tr_even {
    background-color: #f4f4f4;
}

.apply-table tr:nth-child(odd) td {
    padding: 12px 0 3px 10px;
}

.apply-table tr:nth-child(even) td {
    padding: 3px 0 12px 10px;
}

.apply-table tr .color-666 {
    color: #666;
}

.apply-table tr .fs12 {
    font-size: 12px;
}

.apply-table tr .btn-y {
    color: #fff;
    padding: 2px 10px;
    border-radius: 3px;
    background-color: #f9ad58;
    text-decoration: none;
}

.triangle-up,.triangle-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: relative;
    left: 8px;
    top: 16px;
}

.triangle-up {
    border-bottom: 10px solid #fff;
    top: -13px;
}

.triangle-down {
    border-top: 10px solid #fff;
}

.fs12 i,.sqr i {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    padding: 1px 3px;
    margin-right: 5px;
    border-radius: 2px;
    background-color: #52cdec;
}

.fs12 i.valid-label {
    background-color: #00cb1d;
}

.fs12 i.invalid-label {
    background-color: #ccc;
}

.sqr i.jl-label {
    background-color: #ee6384;
    margin-left: 5px;
}

.sqr i.yc-label {
    background-color: #52cdec;
    margin-left: 5px;
}

.fs12 span {
    display: block;
    padding: 3px 0;
}

.apply-table tr .sq-state {
    padding: 2px 0 2px 10px !important;
}

.apply-table tr:nth-child(odd) td.btn-g {
    padding: 10px 0 4px 10px;
}

.apply-table tr:nth-child(even) td.btn-g {
    padding: 5px 0 10px 10px;
}

.apply-table tr td.invalid {
    width: 150px;
    padding-right: 10px !important;
}

.apply-table tr em {
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
}

.apply-table tbody a {
    color: #1a5f8e;
}

.task-list tr td.pl10 {
    padding: 0 0 0 10px;
}

.task-list tr td .case-ctm {
    font-size: 12px;
}

.task-list .ctm-tag {
    width: 13px;
    height: 14px;
    border-radius: 2px;
    color: #fff;
    font-family: "Arial";
    font-size: 16px;
    line-height: 0;
    padding: 0 4px 1px;
    background-color: #ccc;
    margin-right: 5px;
}

.task-list .salesman-icon {
    width: 15px;
    height: 16px;
    display: inline-block;
    background: url(../img/data_salary_icon.png) no-repeat center;
    vertical-align: -3px;
    margin-right: 5px;
}

.task-list .salesman-info {
    font-size: 12px;
    text-decoration: none;
}

.sign_blue {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 2px;
    background-color: #52cdec;
}

#tooltip {
    position: absolute;
    border: 1px solid #333;
    background: #f7f5d1;
    padding: 1px;
    color: #333;
    display: none;
}


table p {
    margin: 0 0 8px;
    font-size: 12px;
}
table p.big {
    font-size: 14px;
}
table tr td {
    vertical-align:middle!important;
}
.tag_sign {
    width: 13px;
    height: 14px;
    border-radius: 2px;
    color: #fff;
    font-family: "Arial";
    font-size: 16px;
    line-height: 0;
    padding: 0 4px 1px;
    background-color: #ccc;
    margin-right: 5px;
}
table.dataTable thead .sorting_asc {
    background-img: none;
}
table.dataTable thead .sorting {
    background: none;
}
table.dataTable thead .sorting_desc {
    background: none;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}