<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.award.repository.AwardBaseEntityMapper">
	<resultMap id="BaseResultMap"
		type="com.centaline.trans.award.entity.AwardBaseEntity">
		<id column="PKID" property="pkid" jdbcType="BIGINT" />
		<result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
		<result column="PARTICIPANT" property="participant" jdbcType="VARCHAR" />
		<result column="JOB_ID" property="jobId" jdbcType="VARCHAR" />
		<result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
		<result column="BASE_AMOUNT" property="baseAmount" jdbcType="DECIMAL" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="BELONG_MONTH" property="belongMonth" jdbcType="TIMESTAMP" />
		<result column="CONFIG_ID" property="configId" jdbcType="BIGINT" />
		<result column="IS_DELETED" property="isDeleted" jdbcType="CHAR" />
		<result column="SRV_CODE" property="srvCode" jdbcType="VARCHAR" />
		<result column="TEAM_ID" property="teamId" jdbcType="VARCHAR" />
		<result column="DISTRICT_ID" property="districtId" jdbcType="VARCHAR" />
		<result column="SRV_PART" property="srvPart" jdbcType="DECIMAL" />
		<result column="SRV_PART_IN" property="srvPartIn" jdbcType="DECIMAL" />
		
		<result column="PAID" property="paid" jdbcType="CHAR" />
		<result column="GUOHU_TIME" property="guohuTime" jdbcType="TIMESTAMP" />
		<result column="CLOSE_TIME" property="closeTime" jdbcType="TIMESTAMP" />
		<result column="PAID_TIME" property="paidTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		PKID, CASE_CODE, PARTICIPANT, JOB_ID, ORG_ID, BASE_AMOUNT, CREATE_TIME,
		BELONG_MONTH,
		CONFIG_ID, IS_DELETED, SRV_CODE, TEAM_ID, DISTRICT_ID, SRV_PART, PAID,
		GUOHU_TIME,
		CLOSE_TIME, PAID_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY,SRV_PART_IN
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sctrans.T_TS_AWARD_BASE
		where PKID = #{pkid,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sctrans.T_TS_AWARD_BASE
		where PKID = #{pkid,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.centaline.trans.award.entity.AwardBaseEntity">
		insert into sctrans.T_TS_AWARD_BASE (PKID, CASE_CODE, PARTICIPANT,
		JOB_ID, ORG_ID, BASE_AMOUNT,
		CREATE_TIME, BELONG_MONTH, CONFIG_ID,
		IS_DELETED, SRV_CODE, TEAM_ID,
		DISTRICT_ID, SRV_PART, PAID,
		GUOHU_TIME, CLOSE_TIME, PAID_TIME,
		CREATE_BY, UPDATE_TIME, UPDATE_BY,SRV_PART_IN
		)
		values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR},
		#{participant,jdbcType=VARCHAR},
		#{jobId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{baseAmount,jdbcType=DECIMAL},
		#{createTime,jdbcType=TIMESTAMP}, #{belongMonth,jdbcType=TIMESTAMP},
		#{configId,jdbcType=BIGINT},
		#{isDeleted,jdbcType=CHAR}, #{srvCode,jdbcType=VARCHAR}, #{teamId,jdbcType=VARCHAR},
		#{districtId,jdbcType=VARCHAR}, #{srvPart,jdbcType=DECIMAL},
		#{paid,jdbcType=CHAR},
		#{guohuTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, #{paidTime,jdbcType=TIMESTAMP},
		#{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR},#{srvPartIn,jdbcType=DECIMAL}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.centaline.trans.award.entity.AwardBaseEntity">
		insert into sctrans.T_TS_AWARD_BASE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pkid != null">
				PKID,
			</if>
			<if test="caseCode != null">
				CASE_CODE,
			</if>
			<if test="participant != null">
				PARTICIPANT,
			</if>
			<if test="jobId != null">
				JOB_ID,
			</if>
			<if test="orgId != null">
				ORG_ID,
			</if>
			<if test="baseAmount != null">
				BASE_AMOUNT,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="belongMonth != null">
				BELONG_MONTH,
			</if>
			<if test="configId != null">
				CONFIG_ID,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
			<if test="srvCode != null">
				SRV_CODE,
			</if>
			<if test="teamId != null">
				TEAM_ID,
			</if>
			<if test="districtId != null">
				DISTRICT_ID,
			</if>
			<if test="srvPart != null">
				SRV_PART,
			</if>
			<if test="paid != null">
				PAID,
			</if>
			<if test="guohuTime != null">
				GUOHU_TIME,
			</if>
			<if test="closeTime != null">
				CLOSE_TIME,
			</if>
			<if test="paidTime != null">
				PAID_TIME,
			</if>
			<if test="createBy != null">
				CREATE_BY,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
			<if test="updateBy != null">
				UPDATE_BY,
			</if>
			<if test="srvPartIn !=null">
				srv_Part_In,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pkid != null">
				#{pkid,jdbcType=BIGINT},
			</if>
			<if test="caseCode != null">
				#{caseCode,jdbcType=VARCHAR},
			</if>
			<if test="participant != null">
				#{participant,jdbcType=VARCHAR},
			</if>
			<if test="jobId != null">
				#{jobId,jdbcType=VARCHAR},
			</if>
			<if test="orgId != null">
				#{orgId,jdbcType=VARCHAR},
			</if>
			<if test="baseAmount != null">
				#{baseAmount,jdbcType=DECIMAL},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="belongMonth != null">
				#{belongMonth,jdbcType=TIMESTAMP},
			</if>
			<if test="configId != null">
				#{configId,jdbcType=BIGINT},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=CHAR},
			</if>
			<if test="srvCode != null">
				#{srvCode,jdbcType=VARCHAR},
			</if>
			<if test="teamId != null">
				#{teamId,jdbcType=VARCHAR},
			</if>
			<if test="districtId != null">
				#{districtId,jdbcType=VARCHAR},
			</if>
			<if test="srvPart != null">
				#{srvPart,jdbcType=DECIMAL},
			</if>
			<if test="paid != null">
				#{paid,jdbcType=CHAR},
			</if>
			<if test="guohuTime != null">
				#{guohuTime,jdbcType=TIMESTAMP},
			</if>
			<if test="closeTime != null">
				#{closeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="paidTime != null">
				#{paidTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="srvPartIn !=null">
				#{srvPartIn,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.award.entity.AwardBaseEntity">
		update sctrans.T_TS_AWARD_BASE
		<set>
			<if test="caseCode != null">
				CASE_CODE = #{caseCode,jdbcType=VARCHAR},
			</if>
			<if test="participant != null">
				PARTICIPANT = #{participant,jdbcType=VARCHAR},
			</if>
			<if test="jobId != null">
				JOB_ID = #{jobId,jdbcType=VARCHAR},
			</if>
			<if test="orgId != null">
				ORG_ID = #{orgId,jdbcType=VARCHAR},
			</if>
			<if test="baseAmount != null">
				BASE_AMOUNT = #{baseAmount,jdbcType=DECIMAL},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="belongMonth != null">
				BELONG_MONTH = #{belongMonth,jdbcType=TIMESTAMP},
			</if>
			<if test="configId != null">
				CONFIG_ID = #{configId,jdbcType=BIGINT},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted,jdbcType=CHAR},
			</if>
			<if test="srvCode != null">
				SRV_CODE = #{srvCode,jdbcType=VARCHAR},
			</if>
			<if test="teamId != null">
				TEAM_ID = #{teamId,jdbcType=VARCHAR},
			</if>
			<if test="districtId != null">
				DISTRICT_ID = #{districtId,jdbcType=VARCHAR},
			</if>
			<if test="srvPart != null">
				SRV_PART = #{srvPart,jdbcType=DECIMAL},
			</if>
			<if test="paid != null">
				PAID = #{paid,jdbcType=CHAR},
			</if>
			<if test="guohuTime != null">
				GUOHU_TIME = #{guohuTime,jdbcType=TIMESTAMP},
			</if>
			<if test="closeTime != null">
				CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="paidTime != null">
				PAID_TIME = #{paidTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="srvPartIn !=null">
				srv_Part_In=#{srvPartIn,jdbcType=VARCHAR},
			</if>
		</set>
		where PKID = #{pkid,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.centaline.trans.award.entity.AwardBaseEntity">
		update sctrans.T_TS_AWARD_BASE
		set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
		PARTICIPANT = #{participant,jdbcType=VARCHAR},
		JOB_ID = #{jobId,jdbcType=VARCHAR},
		ORG_ID = #{orgId,jdbcType=VARCHAR},
		BASE_AMOUNT = #{baseAmount,jdbcType=DECIMAL},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		BELONG_MONTH = #{belongMonth,jdbcType=TIMESTAMP},
		CONFIG_ID = #{configId,jdbcType=BIGINT},
		IS_DELETED = #{isDeleted,jdbcType=CHAR},
		SRV_CODE = #{srvCode,jdbcType=VARCHAR},
		TEAM_ID = #{teamId,jdbcType=VARCHAR},
		DISTRICT_ID = #{districtId,jdbcType=VARCHAR},
		SRV_PART = #{srvPart,jdbcType=DECIMAL},
		PAID = #{paid,jdbcType=CHAR},
		GUOHU_TIME = #{guohuTime,jdbcType=TIMESTAMP},
		CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
		PAID_TIME = #{paidTime,jdbcType=TIMESTAMP},
		CREATE_BY = #{createBy,jdbcType=VARCHAR},
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
		srv_Part_In=#{srvPartIn,jdbcType=VARCHAR}
		where PKID = #{pkid,jdbcType=BIGINT}
	</update>
	<select id="selectByCaseCodeAndSrvCode" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sctrans.T_TS_AWARD_BASE
		where case_code = #{caseCode,jdbcType=VARCHAR}
		and srv_code = #{srvCode,jdbcType=VARCHAR}
		and IS_DELETED='0'
	</select>
	<delete id="deleteByCaseCode" parameterType="java.lang.String">
		update [sctrans].[T_TS_AWARD_BASE] set IS_DELETED='1' where CASE_CODE=#{0};
	</delete>
	<select id="countManagerTeam" resultType="java.lang.Integer">
		select count(distinct yd.TEAM_ID) from sctrans.t_yucui_org_hierarchy yd
		left join sctrans.V_USER_ORG_JOB uoj
		on yd.ORG_ID= uoj.ORG_ID and uoj.JOB_CODE in
		('Senior_Manager','Manager') and uoj.USER_ID=#{0}
		left join sctrans.V_USER_ORG_JOB uoj1
		on yd.DISTRICT_ID= uoj1.ORG_ID and uoj1.JOB_CODE ='director' and
		uoj1.USER_ID=#{0}
		left join sctrans.V_USER_ORG_JOB uoj2
		on yd.hq_id= uoj2.ORG_ID and uoj2.JOB_CODE ='GeneralManager' and
		uoj2.USER_ID=#{0}
		where (uoj.ORG_ID is not null or uoj1.ORG_ID is not null or uoj2.ORG_ID is
		not null) and yd.TEAM_ID is not null;
		;
	</select>
</mapper>