<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.award.repository.TsAwardCaseCentalMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.award.entity.TsAwardCaseCental" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="FRONT_LEADING_PROCESS" property="frontLeadingProcess" jdbcType="VARCHAR" />
    <result column="FRONT_ORG_ID" property="frontOrgId" jdbcType="VARCHAR" />
    <result column="FRONT_DISTRICT_ID" property="frontDistrictId" jdbcType="VARCHAR" />
    <result column="FRONT_MANAGER" property="frontManager" jdbcType="VARCHAR" />
    <result column="FRONT_SENIOR_MANAGER" property="frontSeniorManager" jdbcType="VARCHAR" />
    <result column="FRONT_DIRECTOR" property="frontDirector" jdbcType="VARCHAR" />
    <result column="FRONT_TEAM_ASSISTANT" property="frontTeamAssistant" jdbcType="VARCHAR" />
    <result column="FRONT_OPERATIONS_MANAGER" property="frontOperationsManager" jdbcType="VARCHAR" />
    <result column="FRONT_GENERAL_MANAGER" property="frontGeneralManager" jdbcType="VARCHAR" />
    <result column="BACK_LEADING_PROCESS" property="backLeadingProcess" jdbcType="VARCHAR" />
    <result column="BACK_ORG_ID" property="backOrgId" jdbcType="VARCHAR" />
    <result column="BACK_DISTRICT_ID" property="backDistrictId" jdbcType="VARCHAR" />
    <result column="BACK_MANAGER" property="backManager" jdbcType="VARCHAR" />
    <result column="BACK_SENIOR_MANAGER" property="backSeniorManager" jdbcType="VARCHAR" />
    <result column="BACK_DIRECTOR" property="backDirector" jdbcType="VARCHAR" />
    <result column="BACK_TEAM_ASSISTANT" property="backTeamAssistant" jdbcType="VARCHAR" />
    <result column="BACK_OPERATIONS_MANAGER" property="backOperationsManager" jdbcType="VARCHAR" />
    <result column="BACK_GENERAL_MANAGER" property="backGeneralManager" jdbcType="VARCHAR" />
    <result column="GUOHU_APPROVE_TIME" property="guohuApproveTime" jdbcType="TIMESTAMP" />
    <result column="GUOHU_APPROVE_RECORD" property="guohuApproveRecord" jdbcType="VARCHAR" />
    <result column="AWARD_STATUS" property="awardStatus" jdbcType="CHAR" />
    <result column="AWARD_MONTH" property="awardMonth" jdbcType="TIMESTAMP" />
    <result column="AWARD_DESC" property="awardDesc" jdbcType="NVARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, CASE_CODE, FRONT_LEADING_PROCESS, FRONT_ORG_ID, FRONT_DISTRICT_ID, FRONT_MANAGER, 
    FRONT_SENIOR_MANAGER, FRONT_DIRECTOR, FRONT_TEAM_ASSISTANT, FRONT_OPERATIONS_MANAGER, 
    FRONT_GENERAL_MANAGER, BACK_LEADING_PROCESS, BACK_ORG_ID, BACK_DISTRICT_ID, BACK_MANAGER, 
    BACK_SENIOR_MANAGER, BACK_DIRECTOR, BACK_TEAM_ASSISTANT, BACK_OPERATIONS_MANAGER, 
    BACK_GENERAL_MANAGER, GUOHU_APPROVE_TIME, GUOHU_APPROVE_RECORD, AWARD_STATUS, AWARD_MONTH, 
    AWARD_DESC, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TS_AWARD_CASE_CENTAL
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TS_AWARD_CASE_CENTAL
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.award.entity.TsAwardCaseCental" >
    insert into sctrans.T_TS_AWARD_CASE_CENTAL (PKID, CASE_CODE, FRONT_LEADING_PROCESS, 
      FRONT_ORG_ID, FRONT_DISTRICT_ID, FRONT_MANAGER, 
      FRONT_SENIOR_MANAGER, FRONT_DIRECTOR, FRONT_TEAM_ASSISTANT, 
      FRONT_OPERATIONS_MANAGER, FRONT_GENERAL_MANAGER, 
      BACK_LEADING_PROCESS, BACK_ORG_ID, BACK_DISTRICT_ID, 
      BACK_MANAGER, BACK_SENIOR_MANAGER, BACK_DIRECTOR, 
      BACK_TEAM_ASSISTANT, BACK_OPERATIONS_MANAGER, 
      BACK_GENERAL_MANAGER, GUOHU_APPROVE_TIME, 
      GUOHU_APPROVE_RECORD, AWARD_STATUS, AWARD_MONTH, 
      AWARD_DESC, CREATE_BY, CREATE_TIME, 
      UPDATE_BY, UPDATE_TIME)
    values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR}, #{frontLeadingProcess,jdbcType=VARCHAR}, 
      #{frontOrgId,jdbcType=VARCHAR}, #{frontDistrictId,jdbcType=VARCHAR}, #{frontManager,jdbcType=VARCHAR}, 
      #{frontSeniorManager,jdbcType=VARCHAR}, #{frontDirector,jdbcType=VARCHAR}, #{frontTeamAssistant,jdbcType=VARCHAR}, 
      #{frontOperationsManager,jdbcType=VARCHAR}, #{frontGeneralManager,jdbcType=VARCHAR}, 
      #{backLeadingProcess,jdbcType=VARCHAR}, #{backOrgId,jdbcType=VARCHAR}, #{backDistrictId,jdbcType=VARCHAR}, 
      #{backManager,jdbcType=VARCHAR}, #{backSeniorManager,jdbcType=VARCHAR}, #{backDirector,jdbcType=VARCHAR}, 
      #{backTeamAssistant,jdbcType=VARCHAR}, #{backOperationsManager,jdbcType=VARCHAR}, 
      #{backGeneralManager,jdbcType=VARCHAR}, #{guohuApproveTime,jdbcType=TIMESTAMP}, 
      #{guohuApproveRecord,jdbcType=VARCHAR}, #{awardStatus,jdbcType=CHAR}, #{awardMonth,jdbcType=TIMESTAMP}, 
      #{awardDesc,jdbcType=NVARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.centaline.trans.award.entity.TsAwardCaseCental" >
    insert into sctrans.T_TS_AWARD_CASE_CENTAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="frontLeadingProcess != null" >
        FRONT_LEADING_PROCESS,
      </if>
      <if test="frontOrgId != null" >
        FRONT_ORG_ID,
      </if>
      <if test="frontDistrictId != null" >
        FRONT_DISTRICT_ID,
      </if>
      <if test="frontManager != null" >
        FRONT_MANAGER,
      </if>
      <if test="frontSeniorManager != null" >
        FRONT_SENIOR_MANAGER,
      </if>
      <if test="frontDirector != null" >
        FRONT_DIRECTOR,
      </if>
      <if test="frontTeamAssistant != null" >
        FRONT_TEAM_ASSISTANT,
      </if>
      <if test="frontOperationsManager != null" >
        FRONT_OPERATIONS_MANAGER,
      </if>
      <if test="frontGeneralManager != null" >
        FRONT_GENERAL_MANAGER,
      </if>
      <if test="backLeadingProcess != null" >
        BACK_LEADING_PROCESS,
      </if>
      <if test="backOrgId != null" >
        BACK_ORG_ID,
      </if>
      <if test="backDistrictId != null" >
        BACK_DISTRICT_ID,
      </if>
      <if test="backManager != null" >
        BACK_MANAGER,
      </if>
      <if test="backSeniorManager != null" >
        BACK_SENIOR_MANAGER,
      </if>
      <if test="backDirector != null" >
        BACK_DIRECTOR,
      </if>
      <if test="backTeamAssistant != null" >
        BACK_TEAM_ASSISTANT,
      </if>
      <if test="backOperationsManager != null" >
        BACK_OPERATIONS_MANAGER,
      </if>
      <if test="backGeneralManager != null" >
        BACK_GENERAL_MANAGER,
      </if>
      <if test="guohuApproveTime != null" >
        GUOHU_APPROVE_TIME,
      </if>
      <if test="guohuApproveRecord != null" >
        GUOHU_APPROVE_RECORD,
      </if>
      <if test="awardStatus != null" >
        AWARD_STATUS,
      </if>
      <if test="awardMonth != null" >
        AWARD_MONTH,
      </if>
      <if test="awardDesc != null" >
        AWARD_DESC,
      </if>      
      	CREATE_TIME,
	    CREATE_BY,
	    UPDATE_TIME,
	    UPDATE_BY
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="frontLeadingProcess != null" >
        #{frontLeadingProcess,jdbcType=VARCHAR},
      </if>
      <if test="frontOrgId != null" >
        #{frontOrgId,jdbcType=VARCHAR},
      </if>
      <if test="frontDistrictId != null" >
        #{frontDistrictId,jdbcType=VARCHAR},
      </if>
      <if test="frontManager != null" >
        #{frontManager,jdbcType=VARCHAR},
      </if>
      <if test="frontSeniorManager != null" >
        #{frontSeniorManager,jdbcType=VARCHAR},
      </if>
      <if test="frontDirector != null" >
        #{frontDirector,jdbcType=VARCHAR},
      </if>
      <if test="frontTeamAssistant != null" >
        #{frontTeamAssistant,jdbcType=VARCHAR},
      </if>
      <if test="frontOperationsManager != null" >
        #{frontOperationsManager,jdbcType=VARCHAR},
      </if>
      <if test="frontGeneralManager != null" >
        #{frontGeneralManager,jdbcType=VARCHAR},
      </if>
      <if test="backLeadingProcess != null" >
        #{backLeadingProcess,jdbcType=VARCHAR},
      </if>
      <if test="backOrgId != null" >
        #{backOrgId,jdbcType=VARCHAR},
      </if>
      <if test="backDistrictId != null" >
        #{backDistrictId,jdbcType=VARCHAR},
      </if>
      <if test="backManager != null" >
        #{backManager,jdbcType=VARCHAR},
      </if>
      <if test="backSeniorManager != null" >
        #{backSeniorManager,jdbcType=VARCHAR},
      </if>
      <if test="backDirector != null" >
        #{backDirector,jdbcType=VARCHAR},
      </if>
      <if test="backTeamAssistant != null" >
        #{backTeamAssistant,jdbcType=VARCHAR},
      </if>
      <if test="backOperationsManager != null" >
        #{backOperationsManager,jdbcType=VARCHAR},
      </if>
      <if test="backGeneralManager != null" >
        #{backGeneralManager,jdbcType=VARCHAR},
      </if>
      <if test="guohuApproveTime != null" >
        #{guohuApproveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="guohuApproveRecord != null" >
        #{guohuApproveRecord,jdbcType=VARCHAR},
      </if>
      <if test="awardStatus != null" >
        #{awardStatus,jdbcType=CHAR},
      </if>
      <if test="awardMonth != null" >
        #{awardMonth,jdbcType=TIMESTAMP},
      </if>
      <if test="awardDesc != null" >
        #{awardDesc,jdbcType=NVARCHAR},
      </if>
     	GETDATE(),@{SESSION_USER_ID},GETDATE(),@{SESSION_USER_ID}
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.award.entity.TsAwardCaseCental" >
    update sctrans.T_TS_AWARD_CASE_CENTAL
    <set >
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="frontLeadingProcess != null" >
        FRONT_LEADING_PROCESS = #{frontLeadingProcess,jdbcType=VARCHAR},
      </if>
      <if test="frontOrgId != null" >
        FRONT_ORG_ID = #{frontOrgId,jdbcType=VARCHAR},
      </if>
      <if test="frontDistrictId != null" >
        FRONT_DISTRICT_ID = #{frontDistrictId,jdbcType=VARCHAR},
      </if>
      <if test="frontManager != null" >
        FRONT_MANAGER = #{frontManager,jdbcType=VARCHAR},
      </if>
      <if test="frontSeniorManager != null" >
        FRONT_SENIOR_MANAGER = #{frontSeniorManager,jdbcType=VARCHAR},
      </if>
      <if test="frontDirector != null" >
        FRONT_DIRECTOR = #{frontDirector,jdbcType=VARCHAR},
      </if>
      <if test="frontTeamAssistant != null" >
        FRONT_TEAM_ASSISTANT = #{frontTeamAssistant,jdbcType=VARCHAR},
      </if>
      <if test="frontOperationsManager != null" >
        FRONT_OPERATIONS_MANAGER = #{frontOperationsManager,jdbcType=VARCHAR},
      </if>
      <if test="frontGeneralManager != null" >
        FRONT_GENERAL_MANAGER = #{frontGeneralManager,jdbcType=VARCHAR},
      </if>
      <if test="backLeadingProcess != null" >
        BACK_LEADING_PROCESS = #{backLeadingProcess,jdbcType=VARCHAR},
      </if>
      <if test="backOrgId != null" >
        BACK_ORG_ID = #{backOrgId,jdbcType=VARCHAR},
      </if>
      <if test="backDistrictId != null" >
        BACK_DISTRICT_ID = #{backDistrictId,jdbcType=VARCHAR},
      </if>
      <if test="backManager != null" >
        BACK_MANAGER = #{backManager,jdbcType=VARCHAR},
      </if>
      <if test="backSeniorManager != null" >
        BACK_SENIOR_MANAGER = #{backSeniorManager,jdbcType=VARCHAR},
      </if>
      <if test="backDirector != null" >
        BACK_DIRECTOR = #{backDirector,jdbcType=VARCHAR},
      </if>
      <if test="backTeamAssistant != null" >
        BACK_TEAM_ASSISTANT = #{backTeamAssistant,jdbcType=VARCHAR},
      </if>
      <if test="backOperationsManager != null" >
        BACK_OPERATIONS_MANAGER = #{backOperationsManager,jdbcType=VARCHAR},
      </if>
      <if test="backGeneralManager != null" >
        BACK_GENERAL_MANAGER = #{backGeneralManager,jdbcType=VARCHAR},
      </if>
      <if test="guohuApproveTime != null" >
        GUOHU_APPROVE_TIME = #{guohuApproveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="guohuApproveRecord != null" >
        GUOHU_APPROVE_RECORD = #{guohuApproveRecord,jdbcType=VARCHAR},
      </if>
      <if test="awardStatus != null" >
        AWARD_STATUS = #{awardStatus,jdbcType=CHAR},
      </if>
      <if test="awardMonth != null" >
        AWARD_MONTH = #{awardMonth,jdbcType=TIMESTAMP},
      </if>
      <if test="awardDesc != null" >
        AWARD_DESC = #{awardDesc,jdbcType=NVARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.award.entity.TsAwardCaseCental" >
    update sctrans.T_TS_AWARD_CASE_CENTAL
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      FRONT_LEADING_PROCESS = #{frontLeadingProcess,jdbcType=VARCHAR},
      FRONT_ORG_ID = #{frontOrgId,jdbcType=VARCHAR},
      FRONT_DISTRICT_ID = #{frontDistrictId,jdbcType=VARCHAR},
      FRONT_MANAGER = #{frontManager,jdbcType=VARCHAR},
      FRONT_SENIOR_MANAGER = #{frontSeniorManager,jdbcType=VARCHAR},
      FRONT_DIRECTOR = #{frontDirector,jdbcType=VARCHAR},
      FRONT_TEAM_ASSISTANT = #{frontTeamAssistant,jdbcType=VARCHAR},
      FRONT_OPERATIONS_MANAGER = #{frontOperationsManager,jdbcType=VARCHAR},
      FRONT_GENERAL_MANAGER = #{frontGeneralManager,jdbcType=VARCHAR},
      BACK_LEADING_PROCESS = #{backLeadingProcess,jdbcType=VARCHAR},
      BACK_ORG_ID = #{backOrgId,jdbcType=VARCHAR},
      BACK_DISTRICT_ID = #{backDistrictId,jdbcType=VARCHAR},
      BACK_MANAGER = #{backManager,jdbcType=VARCHAR},
      BACK_SENIOR_MANAGER = #{backSeniorManager,jdbcType=VARCHAR},
      BACK_DIRECTOR = #{backDirector,jdbcType=VARCHAR},
      BACK_TEAM_ASSISTANT = #{backTeamAssistant,jdbcType=VARCHAR},
      BACK_OPERATIONS_MANAGER = #{backOperationsManager,jdbcType=VARCHAR},
      BACK_GENERAL_MANAGER = #{backGeneralManager,jdbcType=VARCHAR},
      GUOHU_APPROVE_TIME = #{guohuApproveTime,jdbcType=TIMESTAMP},
      GUOHU_APPROVE_RECORD = #{guohuApproveRecord,jdbcType=VARCHAR},
      AWARD_STATUS = #{awardStatus,jdbcType=CHAR},
      AWARD_MONTH = #{awardMonth,jdbcType=TIMESTAMP},
      AWARD_DESC = #{awardDesc,jdbcType=NVARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
</mapper>