#view-fullscreen{display:block;bottom: 1.2rem;height: 3rem;position: fixed;right:1.2rem;width: 3rem;z-index: 1000;opacity: 0.3;background: url(../images/fullscreen.png) no-repeat scroll 0 0 / 100% 100%;}
.slides-container { text-align: center; font: 5rem "Microsoft Yahei"; color: #fff;}
		#play_mv{
				height: 108rem;
			width: 192rem;
			position: absolute;
			z-index: 9999;
		    top: 0%;
    		margin-top: -0px;
    		left: 0%;
    		margin-left: 0px;
			color: black;
			display: none;
		}
/* 		#div_none{
		height: 1080px;
			width: 1920px;
			position: absolute;
			z-index: 9998;
			 background-color:#000000; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50);
		
		} */
		#play_mv div{
			display: inline-block;
		border-color: red;
		border:0.2rem;
		}
		
		#play_mv div:last-child{
		margin-left: -8.1rem;
    margin-right: -25rem

		}
		p{font-size: 2.8rem;
			width: 100%;
		}
		div{word-break:break-all;}
		div p{word-break:break-all;}
		#play_mv div.mask{position:absolute;top:0;right:0; background:rgba(0,0,0,.75);width:100%;height:100%;margin:0;}
		#play_mv div.cont{position: absolute;z-index: 2;color: #ff0;left: 50%;margin-left: -350px;top:50%;margin-top:-300px;width:70rem;height:40rem; display:block; background:url(../../../momedia/images/medal.png) 0 0 no-repeat;}
		#play_mv div.cont p{width: 80%; margin: 17rem auto;color: #333;font-family: 'Microsoft Yahei';text-align: center;}
		#play_mv div.cont em{color:#fa7c00}#play_mv div.cont strong{color:#f00}
		#play_mv [class^=firework]{position: absolute;z-index: 3;top:50%;margin-top:-20rem}
		.firework1{left:23rem;}
		.firework2{left:120rem}
		.nodata-img{display:block;width:100%; height:100%;}