* {margin: 0; padding: 0; box-sizing: border-box; -webkit-border-sizing: border-box;-o-border-sizing: border-box; tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -o-tap-highlight-color: rgba(0, 0, 0, 0); focus-ring-color: rgba(0, 0, 0, 0); }
html{ font-size:5pt;}
body { font: 1.2rem/1.6 'Microsoft Yahei'; color: #434343; background: #f3f3f4 }
ul,li{list-style: none;}
h2,h3{font-size: 3.6rem;font-weight: 400}
.pull-left{float: left;}.pull-right{float: right;}
.container{width:100%; ; position:absolute; height:100%;overflow-x: auto;}
.badge{display: inline-block; min-width:4rem; padding: 0.3rem 0.7rem;line-height: 1;margin-right:1rem; text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 50%;-webkit-border-radius: 50%; background: #ddd;color: #fff;}
.badge-warning{background: #ff8042}
.badge-danger{background: #ed5565}
.badge-yellow{background: #ffb400}
.text{color: #ddd}
.text-red{color: #ed5565}
.text-orange{color: #ff8042}
.text-yellow{color: #ffb400}
.logo{text-align: right;width:18.8rem;height:7.8%;background: url(../images/logo.png) right center no-repeat;background-size: 100%;-webkit-background-size:100%;-o-background-size:100% 100%; margin-top: 1rem;margin-top: 0.3rem\0}

/*style for list.html*/
.col-1,.col-2{width:57.2rem }
.col-3{width:71.3rem}
.ibox{width: 57.2rem;height:18.3rem;margin-bottom:1rem;text-align: right; background-position: 0 0;background-repeat: no-repeat;}
.ibox p{color: #fff;margin-right:2rem;line-height: 7rem;padding-top:2rem;}
.ibox-red{background-image: url(../images/red.png);}
.ibox-yellow{background-image: url(../images/yellow.png);}
.panel{border:0.1rem solid #ddd;background: #fff;border-radius:0.4rem;-webkit-border-radius:0.4rem;}
.panel-danger .panel-heading{background: #e95354;color: #fff}
.panel-heading{padding: 1rem 1.5rem;border-bottom:0.1rem solid #ddd; font-size:3.6rem;border-top-left-radius:0.3rem; -webkit-border-top-left-radius:0.3rem; border-top-right-radius:0.3rem;-webkit-border-top-right-radius:0.3rem;color: #ed5565;}
.panel-body{padding:1.5rem}

.icon-light{display: inline-block;height:3.7rem;padding-left:4rem; background: url(../images/light.png) 0 center no-repeat;}
.icon-person,.icon-date{display: inline-block;height:3.2rem;padding-left:4rem;color:#959595  }
.icon-person{background: url(../images/person.png) 0 center no-repeat;width: 16rem;}
.icon-date{background: url(../images/date.png) 0 center no-repeat;width:21.5rem;}
.col-2{margin:0 1rem;}
.col-2 .panel-body,.col-2 ul,.col-3 .panel-body{padding: 0}
.col-2 li,.col-3 li{overflow: hidden;border-bottom:0.1rem solid #ddd;padding: 0.5rem 1.5rem 0; }
.col-3 li{padding: }
.col-2 li:last-child,.col-2 li:last-child,#workload li:last-child{border:0;}
.feed-element{position: relative;width:9.8rem;  text-align: center;}
#workload .feed-element{width:7.4rem}
.img-circle + span{position: absolute;bottom:1.2rem;left: 0;}
.triangle{display: block;content: '';width: 0;height: 0;position: absolute;bottom:1.2rem;left: 0; border-bottom: 3rem solid #ed5565;border-right:2rem solid transparent;border-left: 2rem solid transparent;}
.red{border-bottom-color: #ed5565}
.orange{border-bottom-color: #ff8042}
.yellow{border-bottom-color: #ffb400}
.warning{color: #fff;position: absolute;bottom:0.5rem;left:1.5rem;font-size:3rem}
.img-circle{border-radius: 50%;-webkit-border-radius: 50%;}
.media-body{ font-size:2.4rem;overflow: hidden; position: relative;}
.danger{background:#fdedee url(../images/label.png) center center  no-repeat;}
.name{line-height:6.4rem;padding-left:1rem}
.col-1 .icon-light{margin-top:0.5rem}
.col-2 .icon-light{margin-top:1.8rem}
.col-2 .badge,#rank .badge,#workload .badge{font-size:2.5rem; min-width:3rem;}
.col-3 li{padding:2.5rem 1.5rem;}
.col-3 li span{display: inline-block;font-size:3rem}
.col-3 .icon-light{width:28.5rem}
.col-3 .panel-body{max-height:80rem;overflow:hidden;}
/* .btn{text-decoration: none;display: block; color: #ff7113;border:1px solid #ff7113;border-radius: 5px;line-height: 58px;width: 286px;margin: 20px auto; -webkit-border-radius: 5px;background: #ffeed1; text-align: center;} */

/*style for rank.html*/
#rank{font: 3rem/1.428 'Microsoft Yahei';}
#rank .media-body{padding-left:2.5rem}
#rank .img-circle{display: block;margin:1rem 0 1rem 2rem;}
#rank p{line-height: 1.6}
.part{ width: 93rem;border:0.1rem solid #c6c6c6; overflow: hidden;}
.part>div{width: 46.4rem;float: left;}
.part li{padding-left:1rem}
.part li:not(:last-child){overflow: hidden;border-bottom: 0.1rem solid #ddd;}
.monthly-rank{border-right:0.1rem solid #ccc}
#rank h2,#rank h3{background-repeat: no-repeat;text-align: center;}
#rank h2{background-image: url(../images/title-red.jpg);background-position: 0 0;height:7.8rem;line-height:7.8rem; color:#fff;font-size:3.5rem}
#rank .pull-right h2{background-image: url(../images/title-yellow.jpg);}
.part h3{background-image: url(../images/month.png);background-position:15rem center;background-color: #f3a1a1; height:5.7rem; line-height: 5.7rem;}
.weekly-rank  h3{background-image: url(../images/week.png);}
.part.pull-right h3{background-color: #fccc7f; }
.medal{display: block; position: absolute;top: 0;left: 0;width:4.7rem;height:6.4rem;background-image: url(../images/medal-1.png);background-repeat: no-repeat;background-position: 0 0;}
.medal-2{background-image: url(../images/medal-2.png);}
.medal-3{background-image: url(../images/medal-3.png);}
.part .danger{background-image:url(../images/first.png); background-position:  37rem center; }
.part.pull-right .danger{background-color: #fef6e7}
.part .second{background-image:url(../images/second.png); }
.part .third{background-image:url(../images/third.png); }
#rank .badge{left: 1rem}
#rank .logo,#rank .container{margin-top:1rem}

/*style for workload.html*/
#workload .container{margin-bottom: 0}
#workload .logo{margin-top:0}
.item-1,.item-2{height:100%;overflow: hidden;}
#workload h2{height: 7.2rem;background: url(../images/title.jpg) 0 0 no-repeat #ffa7a8; background-size:auto 100%;color: #fff;padding-left: 1.5rem;margin-bottom: 1rem}
#workload .panel-body{padding: 0}
.item-1{width:25%}
#workload .img-circle{display: block;  margin-left: 1rem;}
#workload li{overflow: hidden;border-bottom:0.1rem solid #ddd;}
.item-1 li{padding:3.8rem 1.5rem 4rem;padding-bottom:3.75rem\0;}
.item-2 li{padding:0.5rem 1.5rem 0.5rem;}
.item-1 .media-body p{width:23rem;}
#workload .media-body p{margin-left: 1.5rem;  overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.media-body strong{position: absolute; right: 0; top: 0;}
.item-2 .panel{width: 49%;float: left;}
.item-2 .panel:nth-child(2n+1){margin:0 1%;}
.item-2 .panel-heading{font-size: 2.4rem;padding:0.4rem 1.5rem;}
.item-2 .media-body p,.item-2 .media-body strong{font-size: 1.8rem;}
.item-2 .media-body{line-height: 7rem;}
.panel-red,.panel-yellow{margin-bottom:1rem}
.panel-red .panel-heading{color: #94504f;border-bottom-color:#f7e7e8 }
.panel-yellow .panel-heading{color: #b48638;border-bottom-color:#b48638;background:#fdf8e4; }
.panel-green .panel-heading{color: #73916f;border-bottom-color:#73916f;background:#e8f5e4; }
.panel-blue .panel-heading{color: #027bb4;border-bottom-color:#027bb4;background:#e2f0f9; }
.box-sm .panel-danger .panel-heading{  padding: 1.7rem 1.5rem;}
.box-sm .item-1 .media-body p{width: auto;font: 3rem/1.428 'Microsoft Yahei';}
.box-sm .item-1 li{padding:0.6rem 1.5rem}
.box-sm .item-1,.box-sm .item-2{height:78.2rem;}
.box-sm .item-1{height: 78.3rem\0}
.box-sm .item-2 ul{overflow: hidden;width: 50%;float: left;}
.box-sm .item-2 ul:first-child{border-right:0.1rem solid #ddd}
.box-sm .panel-red,.box-sm .panel-yellow{margin-bottom:1.3rem}

.img-circle{
			width:7.4rem;
			height: 7.4rem;
		}

		