* {margin: 0; padding: 0; box-sizing: border-box; -webkit-border-sizing: border-box;-o-border-sizing: border-box; tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -o-tap-highlight-color: rgba(0, 0, 0, 0); focus-ring-color: rgba(0, 0, 0, 0); }

body { font: 35px/1.428 'Microsoft Yahei'; color: #434343; background: #f3f3f4 }
ul,li{list-style: none;}
h2,h3{font-size: 100%;font-weight: 400}
.pull-left{float: left;}.pull-right{float: right;}
.container{width: 1879px;margin: 10px auto;margin-top:2px\0;overflow-x: auto;}
.badge{display: inline-block; min-width: 41px; padding: 3px 7px;line-height: 1;margin-right: 10px; text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 50%;-webkit-border-radius: 50%; background: #ddd;color: #fff;}
.badge-warning{background: #ff8042}
.badge-danger{background: #ed5565}
.badge-yellow{background: #ffb400}
.text{color: #ddd}
.text-red{color: #ed5565}
.text-orange{color: #ff8042}
.text-yellow{color: #ffb400}
.logo{text-align: right;width: 188px;height: 29px;background: url(../images/logo.png) right center no-repeat;background-size: 100%;-webkit-background-size:100%;-o-background-size:100% 100%; margin-top: 10px;margin-top: 3px\0}

/*style for list.html*/
.col-1,.col-2{width:572px }
.col-3{width:713px }
.ibox{width: 572px;height:183px;margin-bottom:10px;text-align: right; background-position: 0 0;background-repeat: no-repeat;}
.ibox p{color: #fff;margin-right: 20px;line-height: 70px;padding-top: 20px;}
.ibox-red{background-image: url(../images/red.png);}
.ibox-yellow{background-image: url(../images/yellow.png);}
.panel{border:1px solid #ddd;background: #fff;border-radius: 4px;-webkit-border-radius: 4px;}
.panel-danger .panel-heading{background: #e95354;color: #fff}
.panel-heading{padding: 10px 15px;border-bottom: 1px solid #ddd;border-top-left-radius: 3px; -webkit-border-top-left-radius: 3px; border-top-right-radius: 3px;-webkit-border-top-right-radius: 3px;color: #ed5565;}
.panel-body{padding: 15px}

.icon-light{display: inline-block;height: 37px;padding-left: 40px; background: url(../images/light.png) 0 center no-repeat;}
.icon-person,.icon-date{display: inline-block;height: 32px;padding-left: 40px;color:#959595  }
.icon-person{background: url(../images/person.png) 0 center no-repeat;width: 160px;}
.icon-date{background: url(../images/date.png) 0 center no-repeat;width:215px;}
.col-2{margin:0 10px;}
.col-2 .panel-body,.col-2 ul,.col-3 .panel-body{padding: 0}
.col-2 li,.col-3 li{overflow: hidden;border-bottom:1px solid #ddd;padding: 5px 15px 0; }
.col-3 li{padding: }
.col-2 li:last-child,.col-2 li:last-child,#workload li:last-child{border:0;}
.feed-element{position: relative;width: 98px;  text-align: center;}
#workload .feed-element{width:74px}
.img-circle + span{position: absolute;bottom: 12px;left: 0;}
.triangle{display: block;content: '';width: 0;height: 0;position: absolute;bottom: 12px;left: 0; border-bottom: 30px solid #ed5565;border-right: 20px solid transparent;border-left: 20px solid transparent;}
.red{border-bottom-color: #ed5565}
.orange{border-bottom-color: #ff8042}
.yellow{border-bottom-color: #ffb400}
.warning{color: #fff;position: absolute;bottom: 5px;left: 15px;font-size: 30px}
.img-circle{border-radius: 50%;-webkit-border-radius: 50%;}
.media-body{  overflow: hidden;}
.danger{background:#fdedee url(../images/label.png) center center  no-repeat;}
.name{line-height: 64px;padding-left: 10px}
.col-1 .icon-light{margin-top: 5px}
.col-2 .icon-light{margin-top: 18px}
.col-2 .badge,#rank .badge,#workload .badge{font-size: 25px; min-width: 30px;}
.col-3 li{padding: 25px 15px;}
.col-3 li span{display: inline-block;font-size: 30px}
.col-3 .icon-light{width: 285px}
.col-3 .panel-body{max-height: 800px;overflow:hidden;}
/* .btn{text-decoration: none;display: block; color: #ff7113;border:1px solid #ff7113;border-radius: 5px;line-height: 58px;width: 286px;margin: 20px auto; -webkit-border-radius: 5px;background: #ffeed1; text-align: center;} */

/*style for rank.html*/
#rank{font: 30px/1.428 'Microsoft Yahei';}
#rank .media-body{padding-left: 25px}
#rank .img-circle{display: block;margin: 10px 0 10px 20px;}
#rank p{line-height: 1.6}
.part{ width: 930px;border: 1px solid #c6c6c6; overflow: hidden;}
.part>div{width: 464px;float: left;}
.part li{padding-left: 10px}
.part li:not(:last-child){overflow: hidden;border-bottom: 1px solid #ddd;}
.monthly-rank{border-right: 1px solid #ccc}
#rank h2,#rank h3{background-repeat: no-repeat;text-align: center;}
#rank h2{background-image: url(../images/title-red.jpg);background-position: 0 0;height: 78px;line-height: 78px; color:#fff;font-size: 35px}
#rank .pull-right h2{background-image: url(../images/title-yellow.jpg);}
.part h3{background-image: url(../images/month.png);background-position: 150px center;background-color: #f3a1a1; height: 57px; line-height: 57px;}
.weekly-rank  h3{background-image: url(../images/week.png);}
.part.pull-right h3{background-color: #fccc7f; }
.medal{display: block; position: absolute;top: 0;left: 0;width: 47px;height: 64px;background-image: url(../images/medal-1.png);background-repeat: no-repeat;background-position: 0 0;}
.medal-2{background-image: url(../images/medal-2.png);}
.medal-3{background-image: url(../images/medal-3.png);}
.part .danger{background-image:url(../images/first.png); background-position:  370px center; }
.part.pull-right .danger{background-color: #fef6e7}
.part .second{background-image:url(../images/second.png); }
.part .third{background-image:url(../images/third.png); }
#rank .badge{left: 10px}
#rank .logo,#rank .container{margin-top: 10px}

/*style for workload.html*/
#workload .container{margin-bottom: 0}
#workload .logo{margin-top: 5px}
.item-1,.item-2{height: 779px;overflow: hidden;}
#workload h2{height: 78px;background: url(../images/title.jpg) 0 0 no-repeat #ffa7a8;color: #fff;line-height: 78px;padding-left: 15px;margin-bottom: 10px}
#workload .panel-body{padding: 0}
.item-1{width: 480px}
#workload .img-circle{display: block;  margin-left: 10px;}
#workload li{overflow: hidden;border-bottom: 1px solid #ddd;}
.item-1 li{padding: 38px 15px 40px;padding-bottom:37.5px\0;}
.item-2 li{padding: 5px 15px 5px}
.item-1 .media-body p{width: 230px;}
#workload .media-body p{margin-left: 15px;  overflow: hidden;}
.item-2 .panel{width: 689px;float: left;}
.item-2 .panel:nth-child(2n+1){margin:0 10px;}
.item-2 .panel-heading{font-size: 24px;padding: 4px 15px}
.item-2 .media-body p,.item-2 .media-body strong{font-size: 18px}
.item-2 .media-body{line-height: 70px}
.panel-red,.panel-yellow{margin-bottom: 10px}
.panel-red .panel-heading{color: #94504f;border-bottom-color:#f7e7e8 }
.panel-yellow .panel-heading{color: #b48638;border-bottom-color:#b48638;background:#fdf8e4; }
.panel-green .panel-heading{color: #73916f;border-bottom-color:#73916f;background:#e8f5e4; }
.panel-blue .panel-heading{color: #027bb4;border-bottom-color:#027bb4;background:#e2f0f9; }
.box-sm .panel-danger .panel-heading{  padding: 17px 15px;}
.box-sm .item-1 .media-body p{width: auto;font: 30px/1.428 'Microsoft Yahei';}
.box-sm .item-1 li{padding: 6px 15px}
.box-sm .item-1,.box-sm .item-2{height: 782px}
.box-sm .item-1{height: 783px\0}
.box-sm .item-2 ul{overflow: hidden;width: 50%;float: left;}
.box-sm .item-2 ul:first-child{border-right: 1px solid #ddd}
.box-sm .panel-red,.box-sm .panel-yellow{margin-bottom: 13px}