<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.common.repository.ToCcaiAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.common.entity.ToCcaiAttachment" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="CCAI_FILEID" property="ccaiFileid" jdbcType="VARCHAR" />
    <result column="CCAI_CODE" property="ccaiCode" jdbcType="VARCHAR" />
    <result column="FILE_CAT" property="fileCat" jdbcType="NVARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="NVARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="AVAILABLE" property="available" jdbcType="NVARCHAR" />
    <result column="UPLOAD_TIME" property="uploadTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, CASE_CODE, CCAI_FILEID, CCAI_CODE, FILE_CAT, FILE_NAME, CREATE_BY, UPDATE_TIME, 
    UPDATE_BY, CREATE_TIME, AVAILABLE, UPLOAD_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_CCAI_ATTACHMENT
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TO_CCAI_ATTACHMENT
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.common.entity.ToCcaiAttachment" >
    insert into sctrans.T_TO_CCAI_ATTACHMENT (PKID, CASE_CODE, CCAI_FILEID, 
      CCAI_CODE, FILE_CAT, FILE_NAME, 
      CREATE_BY, UPDATE_TIME, UPDATE_BY, 
      CREATE_TIME, AVAILABLE, UPLOAD_TIME
      )
    values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR}, #{ccaiFileid,jdbcType=VARCHAR}, 
      #{ccaiCode,jdbcType=VARCHAR}, #{fileCat,jdbcType=NVARCHAR}, #{fileName,jdbcType=NVARCHAR}, 
      @{SESSION_USER_ID}, GETDATE(), @{SESSION_USER_ID}, 
      GETDATE(), #{available,jdbcType=NVARCHAR}, #{uploadTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.common.entity.ToCcaiAttachment" >
    insert into sctrans.T_TO_CCAI_ATTACHMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	CREATE_TIME,UPDATE_TIME,CREATE_BY,UPDATE_BY,
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="ccaiFileid != null" >
        CCAI_FILEID,
      </if>
      <if test="ccaiCode != null" >
        CCAI_CODE,
      </if>
      <if test="fileCat != null" >
        FILE_CAT,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="available != null" >
        AVAILABLE,
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	GETDATE(),GETDATE(),@{SESSION_USER_ID},@{SESSION_USER_ID},
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="ccaiFileid != null" >
        #{ccaiFileid,jdbcType=VARCHAR},
      </if>
      <if test="ccaiCode != null" >
        #{ccaiCode,jdbcType=VARCHAR},
      </if>
      <if test="fileCat != null" >
        #{fileCat,jdbcType=NVARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=NVARCHAR},
      </if>
      <if test="available != null" >
        #{available,jdbcType=NVARCHAR},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.common.entity.ToCcaiAttachment" >
    update sctrans.T_TO_CCAI_ATTACHMENT
    <set >
    	 UPDATE_TIME = GETDATE(), UPDATE_BY = @{SESSION_USER_ID},
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="ccaiFileid != null" >
        CCAI_FILEID = #{ccaiFileid,jdbcType=VARCHAR},
      </if>
      <if test="ccaiCode != null" >
        CCAI_CODE = #{ccaiCode,jdbcType=VARCHAR},
      </if>
      <if test="fileCat != null" >
        FILE_CAT = #{fileCat,jdbcType=NVARCHAR},
      </if>
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=NVARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="available != null" >
        AVAILABLE = #{available,jdbcType=NVARCHAR},
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.common.entity.ToCcaiAttachment" >
    update sctrans.T_TO_CCAI_ATTACHMENT
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      CCAI_FILEID = #{ccaiFileid,jdbcType=VARCHAR},
      CCAI_CODE = #{ccaiCode,jdbcType=VARCHAR},
      FILE_CAT = #{fileCat,jdbcType=NVARCHAR},
      FILE_NAME = #{fileName,jdbcType=NVARCHAR},
      UPDATE_TIME = GETDATE(),
      UPDATE_BY = @{SESSION_USER_ID},
      AVAILABLE = #{available,jdbcType=NVARCHAR},
      UPLOAD_TIME = #{uploadTime,jdbcType=TIMESTAMP}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <select id="findAttachmentsByCcaiCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_CCAI_ATTACHMENT
    where CCAI_CODE = #{ccaiCode,jdbcType=VARCHAR}
  </select>
  
</mapper>