<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.common.repository.ToWorkFlowMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.common.entity.ToWorkFlow" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="INST_CODE" property="instCode" jdbcType="VARCHAR" />
    <result column="BUSINESS_KEY" property="businessKey" jdbcType="VARCHAR" />
    <result column="PROCESS_DEFINITION_ID" property="processDefinitionId" jdbcType="VARCHAR" />
    <result column="PROCESS_OWNER" property="processOwner" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="OutTimeTaskResultMap" type="com.centaline.trans.common.entity.ToOutTimeTask" >
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="INST_CODE" property="instCode" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_REAL_NAME" property="userRealName" jdbcType="VARCHAR" />
    <result column="PART_CODE" property="partCode" jdbcType="VARCHAR" />
    <result column="PART_NAME" property="partName" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="SERV_ORG_ID" property="servOrgId" jdbcType="VARCHAR" />
    <result column="MANAGER_ID" property="managerId" jdbcType="VARCHAR" />
    <result column="SERV_MANAGER_ID" property="servManagerId" jdbcType="VARCHAR" />
    <result column="MANAGER_NAME" property="managerName" jdbcType="VARCHAR" />
    <result column="SERV_MANAGER_NAME" property="servManagerName" jdbcType="VARCHAR" />
    <result column="PLAN_ID" property="planId" jdbcType="BIGINT" />
    <result column="EST_PART_TIME" property="estPartTime" jdbcType="TIMESTAMP" />
    <result column="DATELAMP" property="dateLamp" jdbcType="INTEGER" />
    <result column="PROPERTY_ADDR" property="propertyAddr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, CASE_CODE, INST_CODE,BUSINESS_KEY,PROCESS_DEFINITION_ID,PROCESS_OWNER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_WORKFLOW
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <select id="queryWorkFlowByInstCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
  select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_WORKFLOW
    where INST_CODE = #{instCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TO_WORKFLOW
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCaseCode" parameterType="java.lang.String" >
    delete from sctrans.T_TO_WORKFLOW
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByToWorkFlow" parameterType="com.centaline.trans.common.entity.ToWorkFlow" >
    delete from sctrans.T_TO_WORKFLOW
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR} and BUSINESS_KEY = #{businessKey,jdbcType=VARCHAR} 
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.common.entity.ToWorkFlow" >
    insert into sctrans.T_TO_WORKFLOW (PKID, CASE_CODE, INST_CODE,BUSINESS_KEY,PROCESS_DEFINITION_ID,PROCESS_OWNER
      )
    values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR}, #{instCode,jdbcType=VARCHAR},
     #{businessKey,jdbcType=VARCHAR}, #{processDefinitionId,jdbcType=VARCHAR},#{processOwner,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.common.entity.ToWorkFlow" >
    insert into sctrans.T_TO_WORKFLOW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="instCode != null" >
        INST_CODE,
      </if>
      <if test="businessKey != null" >
        BUSINESS_KEY,
      </if>
      <if test="processDefinitionId != null" >
        PROCESS_DEFINITION_ID,
      </if>
      <if test="processOwner != null" >
        PROCESS_OWNER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="instCode != null" >
        #{instCode,jdbcType=VARCHAR},
      </if>
      <if test="businessKey != null" >
        #{businessKey,jdbcType=VARCHAR},
      </if>
      <if test="processDefinitionId != null" >
        #{processDefinitionId,jdbcType=VARCHAR},
      </if>
      <if test="processOwner != null" >
        #{processOwner,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.common.entity.ToWorkFlow" >
    update sctrans.T_TO_WORKFLOW
    <set >
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="instCode != null" >
        INST_CODE = #{instCode,jdbcType=VARCHAR},
      </if>
      <if test="businessKey != null" >
        BUSINESS_KEY = #{businessKey,jdbcType=VARCHAR},
      </if>
      <if test="processDefinitionId != null" >
        PROCESS_DEFINITION_ID = #{processDefinitionId,jdbcType=VARCHAR},
      </if>
      <if test="processOwner != null" >
        PROCESS_OWNER = #{processOwner,jdbcType=VARCHAR},
      </if>
       <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.common.entity.ToWorkFlow" >
    update sctrans.T_TO_WORKFLOW
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      INST_CODE = #{instCode,jdbcType=VARCHAR},
      BUSINESS_KEY = #{businessKey,jdbcType=VARCHAR},
      PROCESS_DEFINITION_ID = #{processDefinitionId,jdbcType=VARCHAR},
      PROCESS_OWNER = #{processOwner,jdbcType=VARCHAR} 
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  
  
  <select id="queryCaseInfoByInstCode" resultType="java.lang.String" parameterType="com.centaline.trans.common.entity.ToWorkFlow" >
    SELECT 
		tw.CASE_CODE,
		tw.INST_CODE,
		A.AGENT_CODE,
		A.AGENT_NAME,
		C.GUEST_NAME AS SELLER,
		F.GUEST_NAME AS BUYER,
		E.PROPERTY_ADDR,
		tp.EST_PART_TIME
		FROM
		sctrans.T_TO_WORKFLOW tw,
		sctrans.T_TO_CASE_INFO A
		LEFT JOIN sctrans.T_TG_GUEST_INFO AS C ON A.CASE_CODE = C.CASE_CODE
		AND C.TRANS_POSITION = '30006001'
		LEFT JOIN sctrans.T_TO_PROPERTY_INFO AS E ON A.CASE_CODE = E.CASE_CODE
		LEFT JOIN sctrans.T_TG_GUEST_INFO AS F ON A.CASE_CODE = F.CASE_CODE
		AND F.TRANS_POSITION = '30006002'
		LEFT JOIN sctrans.T_TO_TRANS_PLAN AS tp ON A.CASE_CODE = tp.CASE_CODE
		AND tp.PART_CODE = #{taskName,jdbcType=VARCHAR}
	WHERE 1=1
        AND tw.CASE_CODE=A.CASE_CODE
        AND INST_CODE = #{instCode,jdbcType=VARCHAR}
  </select>
  <select id="queryInstCodesByCaseCode" resultType="java.lang.String" parameterType="java.lang.String" >
    select 
    INST_CODE
    from sctrans.T_TO_WORKFLOW
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR}
    and status=0
  </select>
  <select id="queryToWorkFlowByCaseCodeBusKey" resultMap="BaseResultMap" parameterType="com.centaline.trans.common.entity.ToWorkFlow" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_WORKFLOW
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR}
    AND BUSINESS_KEY = #{businessKey,jdbcType=VARCHAR}
    and status=0
  </select>
  <select id="queryActiveToWorkFlowByCaseCodeBusKey" resultMap="BaseResultMap" parameterType="com.centaline.trans.common.entity.ToWorkFlow" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_WORKFLOW
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR}
    AND BUSINESS_KEY = #{businessKey,jdbcType=VARCHAR}
    and status=0
  </select>
  <select id="queryActiveToWorkFlowByCaseCode" resultMap="BaseResultMap" parameterType="com.centaline.trans.common.entity.ToWorkFlow" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_WORKFLOW
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR}
    and status=0
  </select>
  <select id="queryOutTimeTaskList" resultMap="OutTimeTaskResultMap">
	    
	SELECT 
	TW.CASE_CODE,
  TC.ORG_ID,
  SU.ORG_ID AS SERV_ORG_ID,
  V1.real_name AS MANAGER_NAME,
  V2.real_name AS SERV_MANAGER_NAME,
  V1.user_id AS MANAGER_ID,
  V2.user_id AS SERV_MANAGER_ID,
	SU.REAL_NAME AS USER_REAL_NAME,
	TW.INST_CODE,
	TR.PART_CODE,
	TR.EST_PART_TIME,
	ART.NAME_ AS PART_NAME,
	ART.ASSIGNEE_ AS USER_NAME,
	SU.ID AS USER_ID,
	TR.PKID AS PLAN_ID,
	DATEDIFF(DAY, TR.EST_PART_TIME, GETDATE()) AS DATELAMP,
	TP.PROPERTY_ADDR
	FROM
	sctrans.ACT_RU_TASK ART
	INNER JOIN sctrans.T_TO_WORKFLOW TW ON TW.INST_CODE = ART.PROC_INST_ID_
	INNER JOIN sctrans.T_TO_PROPERTY_INFO TP ON TP.CASE_CODE = TW.CASE_CODE
	INNER JOIN sctrans.T_TO_TRANS_PLAN TR ON TR.PART_CODE=ART.TASK_DEF_KEY_ AND TR.CASE_CODE=TW.CASE_CODE
	INNER JOIN sctrans.SYS_USER SU ON SU.USERNAME = ART.ASSIGNEE_
  INNER JOIN sctrans.T_TO_CASE TC ON TC.CASE_CODE = TW.CASE_CODE
  LEFT JOIN sctrans.V_USER_ORG_JOB V1 ON V1.job_code = 'Manager' AND V1.ORG_id = TC.ORG_ID
  LEFT JOIN sctrans.V_USER_ORG_JOB V2 ON V2.job_code = 'Manager' AND V2.ORG_id = SU.ORG_ID
  WHERE ART.SUSPENSION_STATE_ = 1
  </select>
  <select id="inActiveForm" parameterType="java.lang.String" >
  	update sctrans.t_to_close_loan set IS_ACTIVE='0' where CASE_CODE=#{caseCode,jdbcType=VARCHAR};
	update sctrans.T_TO_FIRST_FOLLOW set IS_ACTIVE='0' where CASE_CODE=#{caseCode,jdbcType=VARCHAR};
	update sctrans.T_TO_GET_PROPERTY_BOOK set IS_ACTIVE='0' where CASE_CODE=#{caseCode,jdbcType=VARCHAR};
	update sctrans.T_TO_HOUSE_TRANSFER set IS_ACTIVE='0' where CASE_CODE=#{caseCode,jdbcType=VARCHAR};
	update sctrans.T_TO_PAYMENT set IS_ACTIVE='0' where CASE_CODE=#{caseCode,jdbcType=VARCHAR};
	update sctrans.T_TO_PURCHASE_LIMIT_SEARCH set IS_ACTIVE='0' where CASE_CODE=#{caseCode,jdbcType=VARCHAR};
	update sctrans.T_TO_SIGN set IS_ACTIVE='0' where CASE_CODE=#{caseCode,jdbcType=VARCHAR};
	update sctrans.T_TO_TAX set IS_ACTIVE='0' where CASE_CODE=#{caseCode,jdbcType=VARCHAR};
	update sctrans.T_TO_PRICING set IS_ACTIVE='0' where CASE_CODE=#{caseCode,jdbcType=VARCHAR};
	update sctrans.T_TO_mortgage set IS_ACTIVE='0' where CASE_CODE=#{caseCode,jdbcType=VARCHAR};
  </select>
</mapper>