swagger: "2.0"
info:
  version: "0.0.1"
  title: Hello World App
# during dev, should point to your local machine
host: swagger.centaline.com:8086
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /swagger:
    x-swagger-pipe: swagger_raw
  /getUser:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: demo config
      # used as the method name of the controller
      operationId: responseJSON
      parameters:
        - name: id
          in: query
          description: provide a user id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/getUserSuccessResponse"

# complex objects have schema definitions
definitions:
  user:
    type: object
    properties:
      name:
        type: string
      id:
        type: string
      orgId:
       type: string
  getUserSuccessResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
        $ref: "#/definitions/getUserSuccessResponse"
      
  