swagger: "2.0"
info:
  version: "0.0.1"
  title: Hello World App
# during dev, should point to your local machine
host: swagger.centaline.com:8086
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /swagger:
    x-swagger-pipe: swagger_raw
  /getUser:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: demo config
      # used as the method name of the controller
      operationId: responseJSON
      parameters:
        - name: id
          in: query
          description: provide a user id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/getUserSuccessResponse"
  /chat/contact:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: demo config
      # used as the method name of the controller
      operationId: contactRsponse
      parameters:
        - name: token
          in: query
          description: token
          required: true
          type: string
        - name: page
          in: query
          description: page
          required: true
          type: integer
        - name: pageSize
          in: query
          description: pageSize
          required: true
          type: integer 
        - name: sidx
          in: query
          description: sidx
          required: true
          type: string
        - name: sord
          in: query
          description: sord
          required: false
          type: string  
        - name: q_text
          in: query
          description: q_text
          required: false
          type: string 
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/getContactSuccessResponse"
  /chat/casecontact:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    post:
      description: demo config
      # used as the method name of the controller
      operationId: casecontactRsponse
      parameters:
        - name: token
          in: query
          description: token
          required: true
          type: string
        - name: caseCode
          in: query
          description: token
          required: true
          type: string
      responses:
       "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/getCasecontactSuccessResponse"
  /task/pricing:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: pricing
          # used as the method name of the controller
      operationId: pricingRsponse
      parameters:
        - name: partCode
          in: query
          description: ww# 环节code,本接口为'Pricing'
          required: true
          type: string

        - name: caseCode
          in: query
          description: 案件编号
          required: true
          type: string

        - name: taskId
          in: query
          description: 任务id
          required: true
          type: string

        - name: processInstanceId
          in: query
          description: 流程id
          required: true
          type: string

        - name: pricingTime
          in: query
          description: 核价时间
          required: true
          type: string
        - name: taxPricing
          in: query
          description: 税务核定价
          required: true
          type: string


        - name: houseProperty
          in: query
          description: ww#房屋性质（普通：0;非普通：1;非居：2）
          required: true
          type: string
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/getPricingSuccessResponse"    
# complex objects have schema definitions
definitions:
  user:
    type: object
    properties:
      name:
        type: string
      id:
        type: string
      orgId:
       type: string
  getUserSuccessResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
        $ref: "#/definitions/user"
  contactUser:
    type: object
    properties:
      org: 
        type: string
      avatarUrl:
        type: string
      name:
        type: string
      mobile: 
        type: string
      userName:
        type: string
      job: 
        type: string
      userId: 
        type: string
  getContactSuccessResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
       $ref: "#/definitions/contactContent"
  contactContent:
    properties:
      total:
        type: integer
      records:
        type: integer
      pageSize:
        type: integer
      page:
        type: integer
      rows:
        type: array
        items:
          $ref: '#/definitions/contactUser'
  getCasecontactSuccessResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
        $ref: "#/definitions/casecontactContent"
  casecontactContent:
     properties:
      total:
        type: integer
      rows:
        type: array
        items:
          $ref: '#/definitions/contactUser'
  getPricingSuccessResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
        $ref: "#/definitions/pricingContent"
  pricingContent:
    properties:
      processInstanceId:
        type: integer
      taskId:
        type: integer
      