swagger: "2.0"
info:
  version: "0.0.1"
  title: Hello World App
# during dev, should point to your local machine
host: swagger.centaline.com:8086
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /swagger:
    x-swagger-pipe: swagger_raw
  /getUser:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: demo config
      # used as the method name of the controller
      operationId: responseJSON
      parameters:
        - name: id
          in: query
          description: provide a user id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/getUserSuccessResponse"
  /chat/contact:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: demo config
      # used as the method name of the controller
      operationId: contactRsponse
      parameters:
        - name: token
          in: query
          description: token
          required: true
          type: string
        - name: page
          in: query
          description: page
          required: true
          type: integer
        - name: pageSize
          in: query
          description: pageSize
          required: true
          type: integer 
        - name: sidx
          in: query
          description: sidx
          required: true
          type: string
        - name: sord
          in: query
          description: sord
          required: false
          type: string  
        - name: q_text
          in: query
          description: q_text
          required: false
          type: string 
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/getContactSuccessResponse"
  /chat/casecontact:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    post:
      description: demo config
      # used as the method name of the controller
      operationId: casecontactRsponse
      parameters:
        - name: token
          in: query
          description: token
          required: true
          type: string
        - name: caseCode
          in: query
          description: token
          required: true
          type: string
      responses:
       "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/getCasecontactSuccessResponse"
  /task/loanlostApprove/loanlostApproveFirstNew:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: pricing
          # used as the method name of the controller
      operationId: pricingRsponse
      parameters:
        - name: partCode
          in: query
          description: partCode
          required: true
          type: string

        - name: caseCode
          in: query
          description: 案件编号
          required: true
          type: string

        - name: taskId
          in: query
          description: 任务id
          required: true
          type: string

        - name: processInstanceId
          in: query
          description: 流程id
          required: true
          type: string

        - name: approveType
          in: query
          description: 审批类型
          required: true
          type: integer
        - name: operator
          in: query
          description: 操作人id
          required: true
          type: string


        - name: LoanLost_manager
          in: query
          description: 是否同意
          required: true
          type: boolean
        - name: LoanLost_manager_response
          in: query
          description: 备注
          required: true
          type: string
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/getLoanlostApproveResponse"
  /task/ToHouseTransfer/process:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: 过户任务详情接口
      # used as the method name of the controller
      operationId: loanlostApproveFirstNew11
      parameters:
        - name: taskid
          in: query
          description:  任务id
          required: true
          type: string
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/getHouseTransferResponse"
              
  /task/taxReview/process:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: 审税任务详情接口
      # used as the method name of the controller
      operationId: loanlostApproveFirstNew7
      parameters:
        - name: taskid
          in: query
          description:  任务id
          required: true
          type: string
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/getPricingSuccessResponse"
  /task/purchaseLimit/process:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: 查限购任务详情接口
      # used as the method name of the controller
      operationId: loanlostApproveFirstNew9
      parameters:
        - name: taskid
          in: query
          description:  任务id
          required: true
          type: string
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/getPurchaseLimitResponse"
              
  /task/pricing/process:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: 核价任务详情接口
      # used as the method name of the controller
      operationId: loanlostApproveFirstNew2
      parameters:
        - name: taskid
          in: query
          description:  任务id
          required: true
          type: string
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/getPricingSuccessResponse" 
  /task/PSFApply/process:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    get:
      description: 公积金申请任务详情接口
      # used as the method name of the controller
      operationId: loanlostApproveFirstNew3
      parameters:
        - name: taskid
          in: query
          description:  任务id
          required: true
          type: string
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/getPSFApplyResponse"
  /task/mortgage/submitPsfApply:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    post:
      description: 提交公积金申请情接口
      # used as the method name of the controller
      operationId: loanlostApproveFirstNew5
      parameters:
        - name: caseCode
          in: query
          description: 案件编号
          required: true
          type: string

        - name: taskId
          in: query
          description: 任务id
          required: true
          type: string

        - name: processInstanceId
          in: query
          description: 流程id
          required: true
          type: string
        - name: prfApplyDate
          in: query
          description: 公积金申请时间
          required: true
          type: string
        - name: ifRequireReconsider
          in: query
          description: 是否需要复议
          required: true
          type: string
        - name: estPartTime
          in: query
          description: 预计签约时间
          required: true
          type: string
          
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/subPricingSuccessResponse"   
  /task/ToHouseTransfer/submitToHouseTransfer:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    post:
      description: 提交过户接口
      # used as the method name of the controller
      operationId: loanlostApproveFirstNew13
      parameters:
        - name: caseCode
          in: query
          description: 案件编号
          required: true
          type: string

        - name: taskId
          in: query
          description: 任务id
          required: true
          type: string

        - name: processInstanceId
          in: query
          description: 流程id
          required: true
          type: string
          
        - name: partCode
          in: query
          description: "Guohu"
          required: true
          type: string
          
        - name: pkid
          in: query
          description: 过户交易计划的pkid
          required: true
          type: string
          
        - name: approveType
          in: query
          description: "2"
          required: true
          type: string
          
        - name: operator
          in: query
          description: 执行人
          required: true
          type: string  
          
        - name: realHtTime
          in: query
          description: 实际过户时间
          required: true
          type: string
          
        - name: houseHodingTax
          in: query
          description: 房产税
          required: true
          type: string  
          
        - name: personalIncomeTax
          in: query
          description: 个人所得税
          required: true
          type: string
          
        - name: businessTax
          in: query
          description: 上家营业税
          required: true
          type: string            
          
        - name: contractTax
          in: query
          description: 下家契税
          required: true
          type: string
          
        - name: landIncrementTax
          in: query
          description: 土地增值税
          required: true
          type: string            
        
        - name: useCardPay
          in: query
          description: 是否刷卡(是：1;否：0)
          required: true
          type: string
          
        - name: cardPayAmount
          in: query
          description: 刷卡金额
          required: true
          type: number   
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/subPricingSuccessResponse" 
              
  /task/pricing/submitPricing:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    post:
      description: 提交核价接口
      # used as the method name of the controller
      operationId: loanlostApproveFirstNew
      parameters:
        - name: partCode
          in: query
          description:  环节code,本接口为'Pricing'
          required: true
          type: string

        - name: caseCode
          in: query
          description: 案件编号
          required: true
          type: string

        - name: taskId
          in: query
          description: 任务id
          required: true
          type: string

        - name: processInstanceId
          in: query
          description: 流程id
          required: true
          type: string

        - name: pricingTime
          in: query
          description: 核价时间
          required: true
          type: string
        - name: taxPricing
          in: query
          description: 税务核定价
          required: true
          type: number


        - name: houseProperty
          in: query
          description: 房屋性质（普通：0;非普通：1;非居：2）
          required: true
          type: string
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/subPricingSuccessResponse"
  /task/taxReview/submitTaxReview:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    post:
      description: 提交核价接口
      # used as the method name of the controller
      operationId: loanlostApproveFirstNew8
      parameters:
        - name: partCode
          in: query
          description:  环节code,本接口为'TaxReview'
          required: true
          type: string

        - name: caseCode
          in: query
          description: 案件编号
          required: true
          type: string

        - name: taskId
          in: query
          description: 任务id
          required: true
          type: string

        - name: processInstanceId
          in: query
          description: 流程id
          required: true
          type: string

        - name: taxTime
          in: query
          description: 审税时间
          required: true
          type: string
          
        - name: isUniqueHome
          in: query
          description: 是否是唯一住房(是：1;否：0)
          required: true
          type: string


        - name: holdYear
          in: query
          description: 购房年数（满二：0;满五：1;两年内：2）
          required: true
          type: string
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/subPricingSuccessResponse" 
              
  /task/purchaseLimit/submitPls:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    post:
      description: 提交查限购接口
      # used as the method name of the controller
      operationId: loanlostApproveFirstNew10
      parameters:
        - name: partId
          in: query
          description:  环节code,本接口为'PurchaseLimit'
          required: true
          type: string

        - name: caseCode
          in: query
          description: 案件编号
          required: true
          type: string

        - name: taskId
          in: query
          description: 任务id
          required: true
          type: string

        - name: processInstanceId
          in: query
          description: 流程id
          required: true
          type: string

        - name: realPlsTime
          in: query
          description: 查限购时间
          required: true
          type: string
          
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/subPricingSuccessResponse"
              
  /test/testInterface:
    # binds a127 app logic to a route
    x-swagger-router-controller: defult_response
    post:
      description: 测试接口
      # used as the method name of the controller
      operationId: testRsponse
      parameters:
        - name: userId
          in: formData 
          description:  用户id
          required: true
          type: string

        - name: username
          in: formData
          description: 用户名
          required: true
          type: string

        - name: realName
          in: formData
          description: 真实姓名
          required: true
          type: string
      responses:
         "200":
            description: Success
            schema:
              # a pointer to a definition
              $ref: "#/definitions/testInterfaceResponse"
              
# complex objects have schema definitions
definitions:
  testInterfaceResponse:
	required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
  user:
    type: object
    properties:
      name:
        type: string
      id:
        type: string
      orgId:
       type: string
  getUserSuccessResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
        $ref: "#/definitions/user"
  contactUser:
    type: object
    properties:
      org: 
        type: string
      avatarUrl:
        type: string
      name:
        type: string
      mobile: 
        type: string
      userName:
        type: string
      job: 
        type: string
      userId: 
        type: string
  getContactSuccessResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
       $ref: "#/definitions/contactContent"
  contactContent:
    properties:
      total:
        type: integer
      records:
        type: integer
      pageSize:
        type: integer
      page:
        type: integer
      rows:
        type: array
        items:
          $ref: '#/definitions/contactUser'
  getCasecontactSuccessResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
        $ref: "#/definitions/casecontactContent"
  casecontactContent:
     properties:
      total:
        type: integer
      rows:
        type: array
        items:
          $ref: '#/definitions/contactUser'
  subPricingSuccessResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
        $ref: "#/definitions/subpricingContent"
  getPricingSuccessResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
        $ref: "#/definitions/getpricingContent"
  getPSFApplyResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
        $ref: "#/definitions/getPSFApplyContent"      
  getHouseTransferResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
        $ref: "#/definitions/getHouseTransferContent"
        
  getPurchaseLimitResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
      content:
        $ref: "#/definitions/getPurchaseLimitContent"        
        
  subpricingContent:
    properties:
      success:
        type: boolean
      message:
        type: string
  getLoanlostApproveResponse:
    required:
      - isSuccess
    properties:
      isSuccess:
        type: boolean
      msg:
        type: string
      empId:
        type: string
      token:
        type: string
  getpricingContent:
    properties:
      success:
        type: boolean
      partCode:
        type: string
      taskId:
        type: string
      processInstanceId:
        type: string
      pkid:
        type: string  
        description: 核价主键
      pricingTime:
        type: string  
        description: 核价时间  
      taxPricing:
        type: string  
        description: 税务核定价  
      houseProperty:
        type: string  
        description: 房屋性质（普通：0;非普通：1;非居：2）
        
        
  getPurchaseLimitContent:
    properties:
      success:
        type: boolean
      partCode:
        type: string
      taskId:
        type: string
      processInstanceId:
        type: string        
      pkid:
        type: string
        description: 查限购的pkid
      realPlsTime:
        type: string  
        description: 查限购的时间
        
  getPSFApplyContent:
    properties:
      taskId:
        type: string
      processInstanceId:
        type: string
      partCode:
        type: string
      estPartTime:
        type: string
        description: 预计签约时间（提交时用）
      prfApplyDate:
        type: string
        description: 公积金申请时间（提交时用）
      ifRequireReconsider:
        type: string
        description: 是否需要复议（提交时用）
  getHouseTransferContent:
    properties:
      taskId:
        type: string
      processInstanceId:
        type: string
      partCode:
        type: string  
        description: "Guohu"
      operator:
        type: string
        description: 执行人
      approveType:
        type: string  
      loanReq:
        type: string
        description: 是否有贷款需求      
      toMortgage:
        type: string
        description: 贷款相关字段 
      houseTransfer:
        type: string
        description: 过户交易相关字段
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        