<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.signroom.repository.ReservationMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.signroom.entity.Reservation" >
    <result column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="RES_NO" property="resNo" jdbcType="VARCHAR" />
    <result column="RES_TYPE" property="resType" jdbcType="VARCHAR" />
    <result column="CHECK IN_TIME" property="checkInTime" jdbcType="TIMESTAMP" />
    <result column="CHECKED_OUT_TIME" property="checkedOutTime" jdbcType="TIMESTAMP" />
    <result column="RES_PERSON_ORG_ID" property="resPersonOrgId" jdbcType="VARCHAR" />
    <result column="RES_PERSON_ID" property="resPersonId" jdbcType="CHAR" />
    <result column="RES_ORG_ID" property="resOrgId" jdbcType="CHAR" />
    <result column="RES_STATUS" property="resStatus" jdbcType="VARCHAR" />
    <result column="SCHEDULE_ID" property="scheduleId" jdbcType="VARCHAR" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="PROPERTY_ADDRESS" property="propertyAddress" jdbcType="NVARCHAR" />
    <result column="SIGNING_CENTER" property="signingCenter" jdbcType="NVARCHAR" />
    <result column="NUMBER_OF_PARTICIPANTS" property="numberOfParticipants" jdbcType="INTEGER" />
    <result column="TRANSACT_ITEM_CODE" property="transactItemCode" jdbcType="VARCHAR" />
    <result column="SPECIAL_REQUIREMENT" property="specialRequirement" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insertSelective" parameterType="com.centaline.trans.signroom.entity.Reservation" useGeneratedKeys="true" keyProperty="pkid">
    insert into sctrans.T_RM_RESERVATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resNo != null" >
        RES_NO,
      </if>
      <if test="resType != null" >
        RES_TYPE,
      </if>
      <if test="checkInTime != null" >
        "CHECK IN_TIME",
      </if>
      <if test="checkedOutTime != null" >
        CHECKED_OUT_TIME,
      </if>
      <if test="resPersonOrgId != null" >
        RES_PERSON_ORG_ID,
      </if>
      <if test="resPersonId != null" >
        RES_PERSON_ID,
      </if>
      <if test="resOrgId != null" >
        RES_ORG_ID,
      </if>
      <if test="resStatus != null" >
        RES_STATUS,
      </if>
      <if test="scheduleId != null" >
        SCHEDULE_ID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="propertyAddress != null" >
        PROPERTY_ADDRESS,
      </if>
      <if test="signingCenter != null" >
        SIGNING_CENTER,
      </if>
      <if test="numberOfParticipants != null" >
        NUMBER_OF_PARTICIPANTS,
      </if>
      <if test="transactItemCode != null" >
        TRANSACT_ITEM_CODE,
      </if>
      <if test="specialRequirement != null" >
        SPECIAL_REQUIREMENT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resNo != null" >
        #{resNo,jdbcType=VARCHAR},
      </if>
      <if test="resType != null" >
        #{resType,jdbcType=VARCHAR},
      </if>
      <if test="checkInTime != null" >
        #{checkInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkedOutTime != null" >
        #{checkedOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resPersonOrgId != null" >
        #{resPersonOrgId,jdbcType=VARCHAR},
      </if>
      <if test="resPersonId != null" >
        #{resPersonId,jdbcType=CHAR},
      </if>
      <if test="resOrgId != null" >
        #{resOrgId,jdbcType=CHAR},
      </if>
      <if test="resStatus != null" >
        #{resStatus,jdbcType=VARCHAR},
      </if>
      <if test="scheduleId != null" >
        #{scheduleId,jdbcType=VARCHAR},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="propertyAddress != null" >
        #{propertyAddress,jdbcType=NVARCHAR},
      </if>
      <if test="signingCenter != null" >
        #{signingCenter,jdbcType=NVARCHAR},
      </if>
      <if test="numberOfParticipants != null" >
        #{numberOfParticipants,jdbcType=INTEGER},
      </if>
      <if test="transactItemCode != null" >
        #{transactItemCode,jdbcType=VARCHAR},
      </if>
      <if test="specialRequirement != null" >
        #{specialRequirement,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="getBespeakTime" resultType="java.lang.String">
    SELECT  v.value FROM sctrans.SYS_PARAM_DEFINE d
    LEFT JOIN sctrans.SYS_PARAM_VALUE v ON d.id = v.DEF_ID
	WHERE   d.CODE = 'SIGN_ROOM_OPEN_DATE';
  </select>
  
  <select id="getOrgIdByGrpcode" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT ID FROM sctrans.SYS_ORG 
	WHERE ORG_CODE = (select YU_TEAM_CODE from sctrans_dev.sctrans.T_TS_TEAM_SCOPE_TARGET where GRP_CODE = #{grpCode,jdbcType=VARCHAR});
  </select>
  
   <select id="getSignRoomInfoListByCondition" parameterType="com.centaline.trans.signroom.vo.ReservationSearchVo" resultType="com.centaline.trans.signroom.vo.ReservationInfo">
    	SELECT sr.NUMBE_OF_ACCOMMODATE_PEOPLE as numberOfPeople,COUNT(*) AS residualNumber FROM sctrans.T_RM_SIGN_ROOM sr
		LEFT JOIN sctrans.T_RM_ROOM_SCHEDULE rs ON rs.ROOM_ID = sr.PKID
		WHERE rs.IS_DELETE = 0 AND rs.USE_STATUS = 'N' AND rs.START_DATE = #{startTime,jdbcType=VARCHAR} AND rs.END_DATE = #{endTime,jdbcType=VARCHAR} AND sr.ORG_ID = #{orgId,jdbcType=VARCHAR}
		GROUP BY sr.NUMBE_OF_ACCOMMODATE_PEOPLE;
  </select>
  
  <select id="getTransactItemList" resultType="com.centaline.trans.signroom.vo.TransactItemVo">
    	SELECT CODE AS code,NAME AS name FROM sctrans.SYS_DICT
		WHERE TYPE = 'transactItem' AND PARENT_ID != '';
  </select>
  
   <select id="getFreeRoomByCondition" parameterType="com.centaline.trans.signroom.vo.FreeRoomVo" resultType="com.centaline.trans.signroom.vo.FreeRoomInfo">
    	SELECT rs.PKID AS scheduleId,rs.ROOM_ID AS roomId,sr.ROOM_NO AS roomNo,sr.ORG_ID AS orgId,sr.NUMBE_OF_ACCOMMODATE_PEOPLE AS numberOfPeople,rs.START_DATE AS startDate,rs.END_DATE AS endDate FROM sctrans.T_RM_SIGN_ROOM sr
		LEFT JOIN sctrans.T_RM_ROOM_SCHEDULE rs ON rs.ROOM_ID = sr.PKID
		where sr.ORG_ID = #{orgId,jdbcType=VARCHAR} AND sr.NUMBE_OF_ACCOMMODATE_PEOPLE >= #{numberOfParticipants,jdbcType=INTEGER} AND sr.ROOM_STATUS = '1' AND sr.IS_DELETE = 0
		AND rs.START_DATE = #{startDate,jdbcType=VARCHAR} AND rs.END_DATE = #{endDate,jdbcType=VARCHAR} AND rs.CAN_RES = 1 AND rs.USE_STATUS = 'N' AND rs.IS_DELETE = 0
		ORDER BY sr.NUMBE_OF_ACCOMMODATE_PEOPLE ASC
		OFFSET 0 ROWS FETCH  next 1 ROWS ONLY;
  </select>
  
  <update id="updateReservationInfo" parameterType="com.centaline.trans.signroom.vo.FreeRoomVo">
  		UPDATE sctrans.T_RM_RESERVATION SET RES_ORG_ID = #{resOrgId,jdbcType=VARCHAR},SCHEDULE_ID = #{scheduleId,jdbcType=VARCHAR},SIGNING_CENTER = #{signingCenter,jdbcType=VARCHAR},UPDATE_TIME = GETDATE(),UPDATE_BY = @{SESSION_USER_ID}  WHERE PKID = #{resId,jdbcType=BIGINT};
  </update>
  
</mapper>