<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.signroom.repository.ReservationMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.signroom.entity.Reservation" >
    <result column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="RES_NO" property="resNo" jdbcType="VARCHAR" />
    <result column="RES_TYPE" property="resType" jdbcType="VARCHAR" />
    <result column="CHECK_IN_TIME" property="checkInTime" jdbcType="TIMESTAMP" />
    <result column="CHECKED_OUT_TIME" property="checkedOutTime" jdbcType="TIMESTAMP" />
    <result column="RES_PERSON_ORG_ID" property="resPersonOrgId" jdbcType="VARCHAR" />
    <result column="RES_PERSON_ID" property="resPersonId" jdbcType="CHAR" />
    <result column="RES_STATUS" property="resStatus" jdbcType="VARCHAR" />
    <result column="SCHEDULE_ID" property="scheduleId" jdbcType="VARCHAR" />
    <result column="NUMBE_OF_ACCOMMODATE_PEOPLE" property="numberOfPeople" jdbcType="INTEGER" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="PROPERTY_ADDRESS" property="propertyAddress" jdbcType="NVARCHAR" />
    <result column="SIGNING_CENTER" property="signingCenter" jdbcType="NVARCHAR" />
    <result column="SIGNING_CENTER_ID" property="signingCenterId" jdbcType="BIGINT" />
    <result column="NUMBER_OF_PARTICIPANTS" property="numberOfParticipants" jdbcType="INTEGER" />
    <result column="TRANSACT_ITEM_CODE" property="transactItemCode" jdbcType="VARCHAR" />
    <result column="SPECIAL_REQUIREMENT" property="specialRequirement" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    PKID, RES_NO,RES_TYPE,CHECK_IN_TIME,CHECKED_OUT_TIME,RES_PERSON_ORG_ID,RES_PERSON_ID,RES_STATUS,SCHEDULE_ID,NUMBE_OF_ACCOMMODATE_PEOPLE,CASE_CODE,PROPERTY_ADDRESS,
    SIGNING_CENTER,SIGNING_CENTER_ID,NUMBER_OF_PARTICIPANTS,NUMBER_OF_PARTICIPANTS,TRANSACT_ITEM_CODE,SPECIAL_REQUIREMENT,CREATE_TIME,CREATE_BY,UPDATE_TIME,UPDATE_BY
  </sql>
  
  <insert id="insertSelective" parameterType="com.centaline.trans.signroom.entity.Reservation" useGeneratedKeys="true" keyProperty="pkid">
    insert into sctrans.T_RM_RESERVATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resNo != null" >
        RES_NO,
      </if>
      <if test="resType != null" >
        RES_TYPE,
      </if>
      <if test="checkInTime != null" >
        "CHECK IN_TIME",
      </if>
      <if test="checkedOutTime != null" >
        CHECKED_OUT_TIME,
      </if>
      <if test="resPersonOrgId != null" >
        RES_PERSON_ORG_ID,
      </if>
      <if test="resPersonId != null" >
        RES_PERSON_ID,
      </if>
      <if test="signingCenterId != null" >
        SIGNING_CENTER_ID,
      </if>
      <if test="resStatus != null" >
        RES_STATUS,
      </if>
      <if test="scheduleId != null" >
        SCHEDULE_ID,
      </if>
      <if test="numberOfPeople != null" >
        NUMBE_OF_ACCOMMODATE_PEOPLE,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="propertyAddress != null" >
        PROPERTY_ADDRESS,
      </if>
      <if test="signingCenter != null" >
        SIGNING_CENTER,
      </if>
      <if test="numberOfParticipants != null" >
        NUMBER_OF_PARTICIPANTS,
      </if>
      <if test="transactItemCode != null" >
        TRANSACT_ITEM_CODE,
      </if>
      <if test="specialRequirement != null" >
        SPECIAL_REQUIREMENT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resNo != null" >
        #{resNo,jdbcType=VARCHAR},
      </if>
      <if test="resType != null" >
        #{resType,jdbcType=VARCHAR},
      </if>
      <if test="checkInTime != null" >
        #{checkInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkedOutTime != null" >
        #{checkedOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resPersonOrgId != null" >
        #{resPersonOrgId,jdbcType=VARCHAR},
      </if>
      <if test="resPersonId != null" >
        #{resPersonId,jdbcType=CHAR},
      </if>
      <if test="signingCenterId != null" >
        #{signingCenterId,jdbcType=BIGINT},
      </if>
      <if test="resStatus != null" >
        #{resStatus,jdbcType=VARCHAR},
      </if>
      <if test="scheduleId != null" >
        #{scheduleId,jdbcType=VARCHAR},
      </if>
      <if test="numberOfPeople != null" >
        #{numberOfPeople,jdbcType=INTEGER},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="propertyAddress != null" >
        #{propertyAddress,jdbcType=NVARCHAR},
      </if>
      <if test="signingCenter != null" >
        #{signingCenter,jdbcType=NVARCHAR},
      </if>
      <if test="numberOfParticipants != null" >
        #{numberOfParticipants,jdbcType=INTEGER},
      </if>
      <if test="transactItemCode != null" >
        #{transactItemCode,jdbcType=VARCHAR},
      </if>
      <if test="specialRequirement != null" >
        #{specialRequirement,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="getBespeakTime" resultType="java.lang.String">
    SELECT  v.value FROM sctrans.SYS_PARAM_DEFINE d
    LEFT JOIN sctrans.SYS_PARAM_VALUE v ON d.id = v.DEF_ID
	WHERE   d.CODE = 'SIGN_ROOM_OPEN_DATE';
  </select>
  
  <select id="getOrgIdByGrpcode" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT ID FROM sctrans.SYS_ORG 
	WHERE ORG_CODE = (select YU_TEAM_CODE from sctrans_dev.sctrans.T_TS_TEAM_SCOPE_TARGET where GRP_CODE = #{grpCode,jdbcType=VARCHAR});
  </select>
  
   <select id="getSignRoomInfoListByCondition" parameterType="com.centaline.trans.signroom.vo.ReservationSearchVo" resultType="com.centaline.trans.signroom.vo.ReservationInfo">
    	SELECT DISTINCT sr.NUMBE_OF_ACCOMMODATE_PEOPLE as numberOfPeople,
		(
		SELECT count(*) FROM sctrans.T_RM_SIGN_ROOM sr1
		LEFT JOIN sctrans.T_RM_ROOM_SCHEDULE rs1 ON rs1.ROOM_ID = sr1.PKID
		WHERE rs1.IS_DELETE = 0 AND rs1.USE_STATUS = 'N' AND sr1.ROOM_TYPE = 0  and sr1.NUMBE_OF_ACCOMMODATE_PEOPLE = sr.NUMBE_OF_ACCOMMODATE_PEOPLE AND rs1.START_DATE = #{startTime,jdbcType=VARCHAR} AND rs1.END_DATE = #{endTime,jdbcType=VARCHAR} AND sr1.TRADE_CENTER_ID = #{tradeCenterId,jdbcType=BIGINT}
		) as residualNumber
		FROM sctrans.T_RM_SIGN_ROOM sr
		LEFT JOIN sctrans.T_RM_ROOM_SCHEDULE rs ON rs.ROOM_ID = sr.PKID
		WHERE rs.IS_DELETE = 0 AND sr.ROOM_TYPE = 0 and rs.START_DATE = #{startTime,jdbcType=VARCHAR} AND rs.END_DATE = #{endTime,jdbcType=VARCHAR} AND sr.TRADE_CENTER_ID = #{tradeCenterId,jdbcType=BIGINT}
  </select>
  
  <select id="getTransactItemList" resultType="com.centaline.trans.signroom.vo.TransactItemVo">
    	SELECT CODE AS code,NAME AS name FROM sctrans.SYS_DICT
		WHERE TYPE = 'transactItem' AND PARENT_ID != '';
  </select>
  
   <select id="getFreeRoomByCondition" parameterType="com.centaline.trans.signroom.vo.FreeRoomVo" resultType="com.centaline.trans.signroom.vo.FreeRoomInfo">
    	SELECT rs.PKID AS scheduleId,rs.ROOM_ID AS roomId,sr.ROOM_NO AS roomNo,sr.ROOM_TYPE AS roomType,sr.TRADE_CENTER AS tradeCenter,sr.TRADE_CENTER_ID as tradeCenerId,sr.NUMBE_OF_ACCOMMODATE_PEOPLE AS numberOfPeople,rs.START_DATE AS startDate,rs.END_DATE AS endDate FROM sctrans.T_RM_SIGN_ROOM sr
		LEFT JOIN sctrans.T_RM_ROOM_SCHEDULE rs ON rs.ROOM_ID = sr.PKID
		where sr.TRADE_CENTER_ID = #{tradeCenterId,jdbcType=VARCHAR} AND sr.ROOM_TYPE = 0 and sr.NUMBE_OF_ACCOMMODATE_PEOPLE >= #{numberOfParticipants,jdbcType=INTEGER} AND sr.ROOM_STATUS = '1' AND sr.IS_DELETE = 0
		AND rs.START_DATE = #{startDate,jdbcType=VARCHAR} AND rs.END_DATE = #{endDate,jdbcType=VARCHAR} 
		and sr.PKID not in (
			SELECT DISTINCT rs1.ROOM_ID FROM sctrans.T_RM_RESERVATION r1
			LEFT JOIN sctrans.T_RM_ROOM_SCHEDULE rs1 ON r1.SCHEDULE_ID = rs1.PKID
			WHERE (r1.RES_STATUS = '1' OR (r1.RES_STATUS = '0' AND GETDATE() &lt; rs1.END_DATE)) AND r1.SIGNING_CENTER_ID = #{tradeCenterId,jdbcType=BIGINT} and rs1.START_DATE = #{startDate,jdbcType=VARCHAR} AND rs1.END_DATE = #{endDate,jdbcType=VARCHAR} 
		) 
		AND rs.CAN_RES = 1 AND rs.USE_STATUS = 'N' AND rs.IS_DELETE = 0
		ORDER BY sr.NUMBE_OF_ACCOMMODATE_PEOPLE ASC
		OFFSET 0 ROWS FETCH  next 1 ROWS ONLY;
  </select>
  
  <update id="updateReservationInfo" parameterType="com.centaline.trans.signroom.vo.FreeRoomVo">
  		UPDATE sctrans.T_RM_RESERVATION SET SCHEDULE_ID = #{scheduleId,jdbcType=VARCHAR},NUMBE_OF_ACCOMMODATE_PEOPLE = #{numberOfPeople,jdbcType=INTEGER},UPDATE_TIME = GETDATE(),UPDATE_BY = @{SESSION_USER_ID}  WHERE PKID = #{resId,jdbcType=BIGINT};
  </update>
  
  <select id="getReservationById" parameterType="java.lang.Long" resultMap="BaseResultMap">	
		SELECT <include refid="Base_Column_List" />
		FROM sctrans.T_RM_RESERVATION
		WHERE PKID = #{resId,jdbcType=BIGINT};
  </select>
  
  <update id="cancelReservation" parameterType="java.lang.Long">
  		UPDATE sctrans.T_RM_RESERVATION SET RES_STATUS = '4',UPDATE_TIME = GETDATE(),UPDATE_BY = @{SESSION_USER_ID}  WHERE PKID = #{resId,jdbcType=BIGINT};
  </update>
  
   <select id="getTradeCenterIdListByGrpCode" parameterType="java.lang.String" resultType="java.lang.Long">
    	SELECT DISTINCT TRADE_CENTER_ID FROM sctrans.T_RM_SIGN_ROOM_ORG_MAPPING WHERE TEAM_ID IN (SELECT ID FROM sctrans.SYS_ORG WHERE ORG_CODE IN (SELECT YU_TEAM_CODE FROM sctrans_dev.sctrans.T_TS_TEAM_SCOPE_TARGET WHERE GRP_CODE = #{grpCode,jdbcType=VARCHAR}));
  </select>
  
   <update id="startUse" parameterType="java.lang.Long">
  		UPDATE sctrans.T_RM_RESERVATION SET RES_STATUS = '1',CHECK_IN_TIME = GETDATE() , UPDATE_TIME = GETDATE(),UPDATE_BY = @{SESSION_USER_ID}  WHERE PKID = #{resId,jdbcType=BIGINT};
  </update>
  
   <update id="endUse" parameterType="java.lang.Long">
  		UPDATE sctrans.T_RM_RESERVATION SET RES_STATUS = '2',CHECKED_OUT_TIME = GETDATE(),UPDATE_TIME = GETDATE(),UPDATE_BY = @{SESSION_USER_ID}  WHERE PKID = #{resId,jdbcType=BIGINT};
  </update>
  
  <select id="getReservationNotCancleCount"  resultType="java.lang.Integer" parameterType="com.centaline.trans.signroom.entity.RmSignRoom">
    SELECT  COUNT(1)
FROM    sctrans.T_RM_RESERVATION T
        INNER JOIN sctrans.T_RM_ROOM_SCHEDULE R ON R.PKID = T.SCHEDULE_ID
        INNER JOIN sctrans.T_RM_SIGN_ROOM S ON S.PKID = R.ROOM_ID
WHERE   DATEDIFF(mi,R.START_DATE,GETDATE()) >= 30
		AND S.IS_DELETE = 0
		AND T.RES_STATUS IN ('0','1')
		<if test="pkid != null" >
			AND s.PKID = #{pkid}
		</if>
  </select>
  
</mapper>