<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.signroom.repository.TradeCenterScheduleMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.signroom.entity.TradeCenterSchedule" >
    <result column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="DUTY_OFFICER" property="dutyOfficer" jdbcType="VARCHAR" />
    <result column="DUTY_DATE" property="dutyDate" jdbcType="VARCHAR" />
    <result column="TRADE_CENTER_ID" property="tradeCenterId" jdbcType="BIGINT" />
    <result column="DUTY_TYPE" property="dutyType" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="officerName" property="officerName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List">
    PKID, DUTY_OFFICER,DUTY_DATE,TRADE_CENTER_ID,DUTY_TYPE,CREATE_TIME,CREATE_BY,UPDATE_TIME,UPDATE_BY
  </sql>
  <select id="queryTradeCenterSchedules" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT 
    T.PKID,
	T.DUTY_OFFICER,
	T.DUTY_DATE,
	T.TRADE_CENTER_ID,
	T.DUTY_TYPE,
	T.CREATE_TIME,
	T.CREATE_BY,
	T.UPDATE_TIME,
	T.UPDATE_BY,
		S.REAL_NAME AS officerName
FROM    sctrans.T_RM_TRADECENTER_SCHEDULE T
        LEFT JOIN sctrans.SYS_USER S ON S.ID = T.DUTY_OFFICER
    	<where>
    	<if test="dutyDateStart != null" >
          DUTY_DATE &gt;= #{dutyDateStart,jdbcType=VARCHAR}
        </if>
        <if test="dutyDateEnd != null" >
         AND DUTY_DATE &lt;= #{dutyDateEnd,jdbcType=VARCHAR}
        </if>
        <if test="centerId != null" >
          AND TRADE_CENTER_ID = #{centerId,jdbcType=BIGINT}
        </if>
        <if test="dutyDate != null" >
         AND DUTY_DATE = #{dutyDate,jdbcType=VARCHAR}
        </if>
        <if test="dutyOfficer != null" >
         AND DUTY_OFFICER = #{dutyOfficer,jdbcType=VARCHAR}
        </if>
    </where>
  </select>
  
  <insert id="addTradeCenterSchedule" parameterType="com.centaline.trans.signroom.entity.TradeCenterSchedule" useGeneratedKeys="true" keyProperty="pkid">
    insert into sctrans.T_RM_TRADECENTER_SCHEDULE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dutyOfficer != null" >
        DUTY_OFFICER,
      </if>
      <if test="dutyDate != null" >
        DUTY_DATE,
      </if>
      <if test="tradeCenterId != null" >
        TRADE_CENTER_ID,
      </if>
      <if test="dutyType != null" >
        DUTY_TYPE,
      </if>
        CREATE_TIME,
        CREATE_BY,
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dutyOfficer != null" >
        #{dutyOfficer,jdbcType=VARCHAR},
      </if>
      <if test="dutyDate != null" >
        #{dutyDate,jdbcType=VARCHAR},
      </if>
      <if test="tradeCenterId != null" >
        #{tradeCenterId,jdbcType=BIGINT},
      </if>
      <if test="dutyType != null" >
        #{dutyType,jdbcType=VARCHAR},
      </if>
      GETDATE(),
      @{SESSION_USER_ID},
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <delete id="deleteTradeCenterSchedule" parameterType="com.centaline.trans.signroom.entity.TradeCenterSchedule" >
    delete sctrans.T_RM_TRADECENTER_SCHEDULE 
    <where>
    	<if test="pkid != null" >
        PKID = #{pkid,jdbcType=BIGINT},
      </if>
      <if test="tradeCenterId != null" >
          AND TRADE_CENTER_ID = #{tradeCenterId,jdbcType=BIGINT}
      </if>
      <if test="dutyType != null" >
          AND DUTY_TYPE = #{dutyType,jdbcType=BIGINT}
      </if>
      <if test="dutyDate != null" >
          AND DUTY_DATE = #{dutyDate,jdbcType=BIGINT}
      </if>  
    </where>
  </delete>
  
  <update id="updateTradeCenterSchedule" parameterType="com.centaline.trans.signroom.entity.TradeCenterSchedule" >
    update sctrans.T_RM_TRADECENTER_SCHEDULE 
    <set >
      <if test="dutyOfficer != null" >
        DUTY_OFFICER = #{dutyOfficer,jdbcType=VARCHAR},
      </if>
      UPDATE_TIME = GETDATE(),
      UPDATE_BY = @{SESSION_USER_ID}
    </set>
    <where>
    	<if test="pkid != null" >
        PKID = #{pkid,jdbcType=BIGINT},
      </if>
      <if test="tradeCenterId != null" >
          AND TRADE_CENTER_ID = #{tradeCenterId,jdbcType=BIGINT}
      </if>
      <if test="dutyType != null" >
          AND DUTY_TYPE = #{dutyType,jdbcType=BIGINT}
      </if>
      <if test="dutyDate != null" >
          AND DUTY_DATE = #{dutyDate,jdbcType=BIGINT}
      </if>  
    </where>
  </update>
  
</mapper>