<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.signroom.repository.TradeCenterMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.signroom.entity.TradeCenter" >
    <result column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CENTER_NAME" property="centerName" jdbcType="VARCHAR" />
    <result column="CENTER_ADDRESS" property="centerAddress" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List">
    PKID, CENTER_NAME,CENTER_ADDRESS
  </sql>
  <select id="getTradeCenterList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_RM_TRADE_CENTER
  </select>
  
  <select id="getTradeCenterListByDistrictId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_RM_TRADE_CENTER
    <if test="districtId!=null">
           WHERE PKID in (SELECT DISTINCT T.TRADE_CENTER_ID  
           from sctrans.T_RM_SIGN_ROOM_ORG_MAPPING T WHERE T.DISTRICT_ID = #{districtId} OR T.TEAM_ID = #{districtId})
       </if>
  </select>
  
  <select id="getTradeCenter" resultType="com.centaline.trans.signroom.entity.TradeCenter" parameterType="java.util.Map">
    select 
    PKID as pkid, CENTER_NAME as centerName
    from sctrans.T_RM_TRADE_CENTER
    <where>
       <if test="pkid!=null">
           PKID = #{pkid}
       </if>
    </where>
  </select>
  
  <select id="getConsultantListByTradecentId" resultType="com.centaline.trans.signroom.vo.Consultant" parameterType="java.lang.Long">
   SELECT distinct U.REAL_NAME as label,U.REAL_NAME as value FROM sctrans.SYS_USER_ORG_JOB UOJ
   LEFT JOIN sctrans.SYS_JOB J ON J.ID = UOJ.JOB_ID
   LEFT JOIN sctrans.SYS_USER U ON UOJ.USER_ID = U.ID
   LEFT JOIN sctrans.SYS_ORG O ON UOJ.ORG_ID = O.ID
   LEFT JOIN sctrans.T_TS_TEAM_PROPERTY T ON T.YU_TEAM_CODE = O.ORG_CODE 
   WHERE UOJ.ORG_ID IN (
       SELECT TEAM_ID FROM sctrans.T_RM_SIGN_ROOM_ORG_MAPPING 
       WHERE TRADE_CENTER_ID = #{tradeCenterId}
   ) AND J.JOB_CODE = 'consultant' AND T.TEAM_PROPERTY != 'yu_back' AND J.IS_DELETED = 0;
  </select>
  
</mapper>