<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.kpi.repository.TsAwardKpiPayDetailMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.kpi.entity.TsAwardKpiPayDetail" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="BELONG_MONTH" property="belongMonth" jdbcType="TIMESTAMP" />
    <result column="AWARD_KPI_PAY_ID" property="awardKpiPayId" jdbcType="BIGINT" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="SRV_CODE" property="srvCode" jdbcType="VARCHAR" />
    <result column="PARTICIPANT" property="participant" jdbcType="VARCHAR" />
    <result column="AWARD_BASE_ID" property="awardBaseId" jdbcType="BIGINT" />
    <result column="KPI_RATE_ID" property="kpiRateId" jdbcType="BIGINT" />
    <result column="AWARD_KPI_MONEY" property="awardKpiMoney" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, BELONG_MONTH, AWARD_KPI_PAY_ID, TYPE, CASE_CODE, SRV_CODE, PARTICIPANT, AWARD_BASE_ID, 
    KPI_RATE_ID, AWARD_KPI_MONEY, REMARK, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TS_AWARD_KPI_PAY_DETAIL
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TS_AWARD_KPI_PAY_DETAIL
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.kpi.entity.TsAwardKpiPayDetail" >
    insert into sctrans.T_TS_AWARD_KPI_PAY_DETAIL (PKID, BELONG_MONTH, AWARD_KPI_PAY_ID, 
      TYPE, CASE_CODE, SRV_CODE, 
      PARTICIPANT, AWARD_BASE_ID, KPI_RATE_ID, 
      AWARD_KPI_MONEY, REMARK, CREATE_TIME, 
      CREATE_BY, UPDATE_TIME, UPDATE_BY
      )
    values (#{pkid,jdbcType=BIGINT}, #{belongMonth,jdbcType=TIMESTAMP}, #{awardKpiPayId,jdbcType=BIGINT}, 
      #{type,jdbcType=VARCHAR}, #{caseCode,jdbcType=VARCHAR}, #{srvCode,jdbcType=VARCHAR}, 
      #{participant,jdbcType=VARCHAR}, #{awardBaseId,jdbcType=BIGINT}, #{kpiRateId,jdbcType=BIGINT}, 
      #{awardKpiMoney,jdbcType=DECIMAL}, #{remark,jdbcType=NVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.kpi.entity.TsAwardKpiPayDetail" >
    insert into sctrans.T_TS_AWARD_KPI_PAY_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="belongMonth != null" >
        BELONG_MONTH,
      </if>
      <if test="awardKpiPayId != null" >
        AWARD_KPI_PAY_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="srvCode != null" >
        SRV_CODE,
      </if>
      <if test="participant != null" >
        PARTICIPANT,
      </if>
      <if test="awardBaseId != null" >
        AWARD_BASE_ID,
      </if>
      <if test="kpiRateId != null" >
        KPI_RATE_ID,
      </if>
      <if test="awardKpiMoney != null" >
        AWARD_KPI_MONEY,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="belongMonth != null" >
        #{belongMonth,jdbcType=TIMESTAMP},
      </if>
      <if test="awardKpiPayId != null" >
        #{awardKpiPayId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="srvCode != null" >
        #{srvCode,jdbcType=VARCHAR},
      </if>
      <if test="participant != null" >
        #{participant,jdbcType=VARCHAR},
      </if>
      <if test="awardBaseId != null" >
        #{awardBaseId,jdbcType=BIGINT},
      </if>
      <if test="kpiRateId != null" >
        #{kpiRateId,jdbcType=BIGINT},
      </if>
      <if test="awardKpiMoney != null" >
        #{awardKpiMoney,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.kpi.entity.TsAwardKpiPayDetail" >
    update sctrans.T_TS_AWARD_KPI_PAY_DETAIL
    <set >
      <if test="belongMonth != null" >
        BELONG_MONTH = #{belongMonth,jdbcType=TIMESTAMP},
      </if>
      <if test="awardKpiPayId != null" >
        AWARD_KPI_PAY_ID = #{awardKpiPayId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="srvCode != null" >
        SRV_CODE = #{srvCode,jdbcType=VARCHAR},
      </if>
      <if test="participant != null" >
        PARTICIPANT = #{participant,jdbcType=VARCHAR},
      </if>
      <if test="awardBaseId != null" >
        AWARD_BASE_ID = #{awardBaseId,jdbcType=BIGINT},
      </if>
      <if test="kpiRateId != null" >
        KPI_RATE_ID = #{kpiRateId,jdbcType=BIGINT},
      </if>
      <if test="awardKpiMoney != null" >
        AWARD_KPI_MONEY = #{awardKpiMoney,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.kpi.entity.TsAwardKpiPayDetail" >
    update sctrans.T_TS_AWARD_KPI_PAY_DETAIL
    set BELONG_MONTH = #{belongMonth,jdbcType=TIMESTAMP},
      AWARD_KPI_PAY_ID = #{awardKpiPayId,jdbcType=BIGINT},
      TYPE = #{type,jdbcType=VARCHAR},
      CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      SRV_CODE = #{srvCode,jdbcType=VARCHAR},
      PARTICIPANT = #{participant,jdbcType=VARCHAR},
      AWARD_BASE_ID = #{awardBaseId,jdbcType=BIGINT},
      KPI_RATE_ID = #{kpiRateId,jdbcType=BIGINT},
      AWARD_KPI_MONEY = #{awardKpiMoney,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  
  <select id="getPAwardKpiRate" parameterMap="getUserMap" statementType="CALLABLE">
        {CALL [sctrans].[P_AWARD_KPI_RATE](#{belongMonth},#{createBy},#{createTime})}
  </select>

  <parameterMap type="java.util.Map" id="getUserMap">
     <parameter property="belongMonth" mode="IN" jdbcType="TIMESTAMP"/>
     <parameter property="createBy" mode="IN" jdbcType="VARCHAR"/>
     <parameter property="createTime" mode="IN" jdbcType="TIMESTAMP"/>
  </parameterMap>

</mapper>