<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.kpi.repository.TsKpiSrvCaseMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.kpi.entity.TsKpiSrvCase" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="BELONG_MONTH" property="belongMonth" jdbcType="TIMESTAMP" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="SRV_CODE" property="srvCode" jdbcType="VARCHAR" />
    <result column="SATISFACTION" property="satisfaction" jdbcType="INTEGER" />
    <result column="CAN_CALLBACK" property="canCallback" jdbcType="CHAR" />
    <result column="TEAM_ID" property="teamId" jdbcType="VARCHAR" />
    <result column="DISTRICT_ID" property="districtId" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, BELONG_MONTH, CASE_CODE, SRV_CODE, SATISFACTION, CAN_CALLBACK, TEAM_ID, DISTRICT_ID, 
    TYPE, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TS_KPI_SRV_CASE
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TS_KPI_SRV_CASE
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.kpi.entity.TsKpiSrvCase" >
    insert into sctrans.T_TS_KPI_SRV_CASE (PKID, BELONG_MONTH, CASE_CODE, 
      SRV_CODE, SATISFACTION, CAN_CALLBACK, 
      TEAM_ID, DISTRICT_ID, TYPE, 
      CREATE_TIME, CREATE_BY, UPDATE_TIME, 
      UPDATE_BY)
    values (#{pkid,jdbcType=BIGINT}, #{belongMonth,jdbcType=TIMESTAMP}, #{caseCode,jdbcType=VARCHAR}, 
      #{srvCode,jdbcType=VARCHAR}, #{satisfaction,jdbcType=INTEGER}, #{canCallback,jdbcType=CHAR}, 
      #{teamId,jdbcType=VARCHAR}, #{districtId,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.kpi.entity.TsKpiSrvCase" >
    insert into sctrans.T_TS_KPI_SRV_CASE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="belongMonth != null" >
        BELONG_MONTH,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="srvCode != null" >
        SRV_CODE,
      </if>
      <if test="satisfaction != null" >
        SATISFACTION,
      </if>
      <if test="canCallback != null" >
        CAN_CALLBACK,
      </if>
      <if test="teamId != null" >
        TEAM_ID,
      </if>
      <if test="districtId != null" >
        DISTRICT_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="belongMonth != null" >
        #{belongMonth,jdbcType=TIMESTAMP},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="srvCode != null" >
        #{srvCode,jdbcType=VARCHAR},
      </if>
      <if test="satisfaction != null" >
        #{satisfaction,jdbcType=INTEGER},
      </if>
      <if test="canCallback != null" >
        #{canCallback,jdbcType=CHAR},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null" >
        #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.kpi.entity.TsKpiSrvCase" >
    update sctrans.T_TS_KPI_SRV_CASE
    <set >
      <if test="belongMonth != null" >
        BELONG_MONTH = #{belongMonth,jdbcType=TIMESTAMP},
      </if>
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="srvCode != null" >
        SRV_CODE = #{srvCode,jdbcType=VARCHAR},
      </if>
      <if test="satisfaction != null" >
        SATISFACTION = #{satisfaction,jdbcType=INTEGER},
      </if>
      <if test="canCallback != null" >
        CAN_CALLBACK = #{canCallback,jdbcType=CHAR},
      </if>
      <if test="teamId != null" >
        TEAM_ID = #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null" >
        DISTRICT_ID = #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.kpi.entity.TsKpiSrvCase" >
    update sctrans.T_TS_KPI_SRV_CASE
    set BELONG_MONTH = #{belongMonth,jdbcType=TIMESTAMP},
      CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      SRV_CODE = #{srvCode,jdbcType=VARCHAR},
      SATISFACTION = #{satisfaction,jdbcType=INTEGER},
      CAN_CALLBACK = #{canCallback,jdbcType=CHAR},
      TEAM_ID = #{teamId,jdbcType=VARCHAR},
      DISTRICT_ID = #{districtId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
</mapper>