<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.award.repository.TsKpiPsnMonthMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.award.entity.TsKpiPsnMonth" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="BELONG_MONTH" property="belongMonth" jdbcType="TIMESTAMP" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="PARTICIPANT" property="participant" jdbcType="VARCHAR" />
    <result column="TEAM_ID" property="teamId" jdbcType="VARCHAR" />
    <result column="DISTRICT_ID" property="districtId" jdbcType="VARCHAR" />
    <result column="FIN_ORDER" property="finOrder" jdbcType="INTEGER" />
    <result column="FIN_ORDER_ROLL" property="finOrderRoll" jdbcType="INTEGER" />
    <result column="FIN_ORDER_RATE" property="finOrderRate" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="ORG_ORDER" property="orgOrder" jdbcType="INTEGER" />
    <result column="TOTAL_CASE" property="totalCase" jdbcType="INTEGER" />
    
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="participant_Name" property="participantName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, BELONG_MONTH, TYPE, PARTICIPANT, TEAM_ID, DISTRICT_ID, FIN_ORDER, FIN_ORDER_ROLL, 
    FIN_ORDER_RATE, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY, ORG_ORDER, TOTAL_CASE,comments,participant_Name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TS_KPI_PSN_MONTH
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TS_KPI_PSN_MONTH
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.centaline.trans.award.entity.TsKpiPsnMonth" >
    insert into sctrans.T_TS_KPI_PSN_MONTH (PKID, BELONG_MONTH, TYPE, 
      PARTICIPANT, TEAM_ID, DISTRICT_ID, 
      FIN_ORDER, FIN_ORDER_ROLL, FIN_ORDER_RATE, 
      CREATE_TIME, CREATE_BY, UPDATE_TIME, 
      UPDATE_BY, ORG_ORDER, TOTAL_CASE
      )
    values (#{pkid,jdbcType=BIGINT}, #{belongMonth,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR}, 
      #{participant,jdbcType=VARCHAR}, #{teamId,jdbcType=VARCHAR}, #{districtId,jdbcType=VARCHAR}, 
      #{finOrder,jdbcType=INTEGER}, #{finOrderRoll,jdbcType=INTEGER}, #{finOrderRate,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{orgOrder,jdbcType=INTEGER}, #{totalCase,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.award.entity.TsKpiPsnMonth" >
    insert into sctrans.T_TS_KPI_PSN_MONTH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="belongMonth != null" >
        BELONG_MONTH,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="participant != null" >
        PARTICIPANT,
      </if>
      <if test="teamId != null" >
        TEAM_ID,
      </if>
      <if test="districtId != null" >
        DISTRICT_ID,
      </if>
      <if test="finOrder != null" >
        FIN_ORDER,
      </if>
      <if test="finOrderRoll != null" >
        FIN_ORDER_ROLL,
      </if>
      <if test="finOrderRate != null" >
        FIN_ORDER_RATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="orgOrder != null" >
        ORG_ORDER,
      </if>
      <if test="totalCase != null" >
        TOTAL_CASE,
      </if>
      <if test="participantName != null" >
        participant_Name,
      </if>
      <if test="comments != null" >
        comments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="belongMonth != null" >
        #{belongMonth,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="participant != null" >
        #{participant,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null" >
        #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="finOrder != null" >
        #{finOrder,jdbcType=INTEGER},
      </if>
      <if test="finOrderRoll != null" >
        #{finOrderRoll,jdbcType=INTEGER},
      </if>
      <if test="finOrderRate != null" >
        #{finOrderRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="orgOrder != null" >
        #{orgOrder,jdbcType=INTEGER},
      </if>
      <if test="totalCase != null" >
        #{totalCase,jdbcType=INTEGER},
      </if>
         <if test="participantName != null" >
        #{participantName,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
         #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.award.entity.TsKpiPsnMonth" >
    update sctrans.T_TS_KPI_PSN_MONTH
    <set >
      <if test="belongMonth != null" >
        BELONG_MONTH = #{belongMonth,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="participant != null" >
        PARTICIPANT = #{participant,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null" >
        TEAM_ID = #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null" >
        DISTRICT_ID = #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="finOrder != null" >
        FIN_ORDER = #{finOrder,jdbcType=INTEGER},
      </if>
      <if test="finOrderRoll != null" >
        FIN_ORDER_ROLL = #{finOrderRoll,jdbcType=INTEGER},
      </if>
      <if test="finOrderRate != null" >
        FIN_ORDER_RATE = #{finOrderRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="orgOrder != null" >
        ORG_ORDER = #{orgOrder,jdbcType=INTEGER},
      </if>
       <if test="participantName != null" >
        participant_Name = #{participantName,jdbcType=VARCHAR},
      </if>
      <if test="totalCase != null" >
        TOTAL_CASE = #{totalCase,jdbcType=INTEGER},
      </if>
       <if test="comments != null" >
         comments=#{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.award.entity.TsKpiPsnMonth" >
    update sctrans.T_TS_KPI_PSN_MONTH
    set BELONG_MONTH = #{belongMonth,jdbcType=TIMESTAMP},
      TYPE = #{type,jdbcType=VARCHAR},
      PARTICIPANT = #{participant,jdbcType=VARCHAR},
      participant_Name = #{participant,jdbcType=VARCHAR},
      comments=#{comments,jdbcType=VARCHAR},
      TEAM_ID = #{teamId,jdbcType=VARCHAR},
      DISTRICT_ID = #{districtId,jdbcType=VARCHAR},
      FIN_ORDER = #{finOrder,jdbcType=INTEGER},
      FIN_ORDER_ROLL = #{finOrderRoll,jdbcType=INTEGER},
      FIN_ORDER_RATE = #{finOrderRate,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      ORG_ORDER = #{orgOrder,jdbcType=INTEGER},
      TOTAL_CASE = #{totalCase,jdbcType=INTEGER}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  
  <select id="getTsKpiPsnMonthListByPro" resultMap="BaseResultMap" parameterType="com.centaline.trans.award.entity.TsKpiPsnMonth" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TS_KPI_PSN_MONTH
    <where>
		<if test="participant != null">
			PARTICIPANT = #{participant}
		</if>
		<if test="belongMonth!= null">
			<!-- AND BELONG_MONTH <![CDATA[ >=  ]]> DATEADD(mm, DATEDIFF(mm,0,#{belongMonth})-1, 0) 
			AND BELONG_MONTH <![CDATA[ <  ]]> DATEADD(mm, DATEDIFF(mm,0,#{belongMonth}), 0)  -->
			AND DATEDIFF(mm,BELONG_MONTH,#{belongMonth}) = 0
		</if>
	</where>
  </select>
  
   <insert id="insertTsKpiPsnMonthList" parameterType="java.util.List"> 
	     <selectKey resultType="java.lang.Long" order="AFTER" >
	       select @@IDENTITY as  PKID
	     </selectKey>
         insert into sctrans.T_TS_KPI_PSN_MONTH
         (BELONG_MONTH,TYPE, PARTICIPANT,participant_Name, comments,TEAM_ID, DISTRICT_ID, FIN_ORDER, FIN_ORDER_ROLL,FIN_ORDER_RATE,ORG_ORDER,TOTAL_CASE, CREATE_TIME,CREATE_BY)
	     values
         <foreach collection="list" item="item" index="index" separator=","> 
	          (#{item.belongMonth,jdbcType=TIMESTAMP},#{item.type,jdbcType=VARCHAR},#{item.participant,jdbcType=VARCHAR}, #{item.participantName,jdbcType=VARCHAR},
	          #{item.comments,jdbcType=VARCHAR},
	           #{item.teamId,jdbcType=VARCHAR},#{item.districtId,jdbcType=VARCHAR},#{item.finOrder,jdbcType=INTEGER},
	           #{item.finOrderRoll,jdbcType=INTEGER},#{item.finOrderRate,jdbcType=DECIMAL},#{item.orgOrder,jdbcType=INTEGER},
	           #{item.totalCase,jdbcType=INTEGER},#{item.createTime,jdbcType=TIMESTAMP},#{item.createBy,jdbcType=VARCHAR})
        </foreach> 
   </insert>
   
   <select id="getPMonthKpiStastic" parameterType="java.util.Date" statementType="CALLABLE"> 
        {CALL [sctrans].[P_MONTH_KPI_STASTIC](#{belongMonth,jdbcType=TIMESTAMP},@{SESSION_USER_ID}) }
   </select>
   
   <delete id="deleteTsKpiPsnMonthByProperty" parameterType="com.centaline.trans.award.entity.TsKpiPsnMonth" >
    delete from sctrans.T_TS_KPI_PSN_MONTH
   <where>
		<if test="participant != null">
			PARTICIPANT = #{participant}
		</if>
		<if test="belongMonth!= null">
			AND DATEDIFF(mm,BELONG_MONTH,#{belongMonth}) = 0
		</if>
	</where>
  </delete>
</mapper>