<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.spv.repository.toSpvAduitMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.spv.entity.toSpvAduit" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="APPLY_ID" property="applyId" jdbcType="VARCHAR" />
    <result column="ACT_PROC_ID" property="actProcId" jdbcType="VARCHAR" />
    <result column="TASK_DEF_KEY" property="taskDefKey" jdbcType="VARCHAR" />
    <result column="TASK_ID" property="taskId" jdbcType="NVARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="RESULT" property="result" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, APPLY_ID, ACT_PROC_ID, TASK_DEF_KEY, TASK_ID, OPERATOR, RESULT, CONTENT, CREATE_TIME, 
    CREATE_BY, UPDATE_TIME, UPDATE_BY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_SPV_AUDIT
    where PKID = #{pkid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TO_SPV_AUDIT
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.spv.entity.toSpvAduit" >
    insert into sctrans.T_TO_SPV_AUDIT (PKID, APPLY_ID, ACT_PROC_ID, 
      TASK_DEF_KEY, TASK_ID, OPERATOR, 
      RESULT, CONTENT, CREATE_TIME, 
      CREATE_BY, UPDATE_TIME, UPDATE_BY
      )
    values (#{pkid,jdbcType=BIGINT}, #{applyId,jdbcType=VARCHAR}, #{actProcId,jdbcType=VARCHAR}, 
      #{taskDefKey,jdbcType=VARCHAR}, #{taskId,jdbcType=NVARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR}, #{content,jdbcType=NVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.spv.entity.toSpvAduit" >
    insert into sctrans.T_TO_SPV_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="applyId != null" >
        APPLY_ID,
      </if>
      <if test="actProcId != null" >
        ACT_PROC_ID,
      </if>
      <if test="taskDefKey != null" >
        TASK_DEF_KEY,
      </if>
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="result != null" >
        RESULT,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="actProcId != null" >
        #{actProcId,jdbcType=VARCHAR},
      </if>
      <if test="taskDefKey != null" >
        #{taskDefKey,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=NVARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.spv.entity.toSpvAduit" >
    update sctrans.T_TO_SPV_AUDIT
    <set >
      <if test="applyId != null" >
        APPLY_ID = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="actProcId != null" >
        ACT_PROC_ID = #{actProcId,jdbcType=VARCHAR},
      </if>
      <if test="taskDefKey != null" >
        TASK_DEF_KEY = #{taskDefKey,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        TASK_ID = #{taskId,jdbcType=NVARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        RESULT = #{result,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.spv.entity.toSpvAduit" >
    update sctrans.T_TO_SPV_AUDIT
    set APPLY_ID = #{applyId,jdbcType=VARCHAR},
      ACT_PROC_ID = #{actProcId,jdbcType=VARCHAR},
      TASK_DEF_KEY = #{taskDefKey,jdbcType=VARCHAR},
      TASK_ID = #{taskId,jdbcType=NVARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      RESULT = #{result,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
</mapper>