<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centaline.trans.spv.repository.ToSpvMapper" >
  <resultMap id="BaseResultMap" type="com.centaline.trans.spv.entity.ToSpv" >
    <id column="PKID" property="pkid" jdbcType="BIGINT" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="SPV_CODE" property="spvCode" jdbcType="VARCHAR" />
    <result column="SPV_CON_CODE" property="spvConCode" jdbcType="VARCHAR" />
    <result column="SPV_INSTI" property="spvInsti" jdbcType="VARCHAR" />
    <result column="SPV_ACCOUNT" property="spvAccount" jdbcType="VARCHAR" />
    <result column="PRD_CODE" property="prdCode" jdbcType="VARCHAR" />
    <result column="SPV_TYPE" property="spvType" jdbcType="NVARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="AMOUNT_OWN" property="amountOwn" jdbcType="DECIMAL" />
    <result column="AMOUNT_MORT" property="amountMort" jdbcType="DECIMAL" />
    <result column="AMOUNT_MORT_COM" property="amountMortCom" jdbcType="DECIMAL" />
    <result column="AMOUNT_MORT_PSF" property="amountMortPsf" jdbcType="DECIMAL" />
    <result column="SIGN_TIME" property="signTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="NVARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="CHAR" />
    <result column="BUYER_PAYMENT" property="buyerPayment" jdbcType="VARCHAR" />
    <result column="APPLY_TIME" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="CLOSE_TIME" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="APPLY_USER" property="applyUser" jdbcType="VARCHAR" /> 
    <result column="APPLY_TEAM" property="applyTeam" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PKID, CASE_CODE, SPV_CODE, SPV_CON_CODE, SPV_INSTI, SPV_ACCOUNT, PRD_CODE, SPV_TYPE, 
    AMOUNT, AMOUNT_OWN, AMOUNT_MORT, AMOUNT_MORT_COM, AMOUNT_MORT_PSF, SIGN_TIME, STATUS, 
    REMARK, IS_DELETED, BUYER_PAYMENT, APPLY_TIME, CLOSE_TIME, APPLY_USER, APPLY_TEAM, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sctrans.T_TO_SPV
    where PKID = #{pkid,jdbcType=BIGINT} and IS_DELETED = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sctrans.T_TO_SPV
    where PKID = #{pkid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.centaline.trans.spv.entity.ToSpv" >
    insert into sctrans.T_TO_SPV (PKID, CASE_CODE, SPV_CODE, 
      SPV_CON_CODE, SPV_INSTI, SPV_ACCOUNT, 
      PRD_CODE, SPV_TYPE, AMOUNT, 
      AMOUNT_OWN, AMOUNT_MORT, AMOUNT_MORT_COM, 
      AMOUNT_MORT_PSF, SIGN_TIME, STATUS, 
      REMARK, IS_DELETED, BUYER_PAYMENT, APPLY_TIME, CLOSE_TIME, APPLY_USER, APPLY_TEAM, CREATE_TIME, 
      CREATE_BY, UPDATE_TIME, UPDATE_BY
      )
    values (#{pkid,jdbcType=BIGINT}, #{caseCode,jdbcType=VARCHAR}, #{spvCode,jdbcType=VARCHAR}, 
      #{spvConCode,jdbcType=VARCHAR}, #{spvInsti,jdbcType=VARCHAR}, #{spvAccount,jdbcType=VARCHAR}, 
      #{prdCode,jdbcType=VARCHAR}, #{spvType,jdbcType=NVARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{amountOwn,jdbcType=DECIMAL}, #{amountMort,jdbcType=DECIMAL}, #{amountMortCom,jdbcType=DECIMAL}, 
      #{amountMortPsf,jdbcType=DECIMAL}, #{signTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{remark,jdbcType=NVARCHAR}, #{isDeleted,jdbcType=CHAR},#{buyerPayment,jdbcType=VARCHAR},
      #{applyTime,jdbcType=TIMESTAMP},#{closeTime,jdbcType=TIMESTAMP},#{applyUser,jdbcType=VARCHAR},#{applyTeam,jdbcType=VARCHAR},  
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centaline.trans.spv.entity.ToSpv"   useGeneratedKeys="true" keyProperty="pkid" >
    insert into sctrans.T_TO_SPV
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        PKID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="spvCode != null" >
        SPV_CODE,
      </if>
      <if test="spvConCode != null" >
        SPV_CON_CODE,
      </if>
      <if test="spvInsti != null" >
        SPV_INSTI,
      </if>
      <if test="spvAccount != null" >
        SPV_ACCOUNT,
      </if>
      <if test="prdCode != null" >
        PRD_CODE,
      </if>
      <if test="spvType != null" >
        SPV_TYPE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="amountOwn != null" >
        AMOUNT_OWN,
      </if>
      <if test="amountMort != null" >
        AMOUNT_MORT,
      </if>
      <if test="amountMortCom != null" >
        AMOUNT_MORT_COM,
      </if>
      <if test="amountMortPsf != null" >
        AMOUNT_MORT_PSF,
      </if>
      <if test="signTime != null" >
        SIGN_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>    
      <if test="buyerPayment != null" >
        BUYER_PAYMENT,
      </if>
      <if test="applyTime != null" >
        APPLY_TIME,
      </if>
      <if test="closeTime != null" >
        CLOSE_TIME,
      </if>
      <if test="applyUser != null" >
        APPLY_USER,
      </if> 
      <if test="applyTeam != null" >
        APPLY_TEAM,
      </if>     
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=BIGINT},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="spvCode != null" >
        #{spvCode,jdbcType=VARCHAR},
      </if>
      <if test="spvConCode != null" >
        #{spvConCode,jdbcType=VARCHAR},
      </if>
      <if test="spvInsti != null" >
        #{spvInsti,jdbcType=VARCHAR},
      </if>
      <if test="spvAccount != null" >
        #{spvAccount,jdbcType=VARCHAR},
      </if>
      <if test="prdCode != null" >
        #{prdCode,jdbcType=VARCHAR},
      </if>
      <if test="spvType != null" >
        #{spvType,jdbcType=NVARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="amountOwn != null" >
        #{amountOwn,jdbcType=DECIMAL},
      </if>
      <if test="amountMort != null" >
        #{amountMort,jdbcType=DECIMAL},
      </if>
      <if test="amountMortCom != null" >
        #{amountMortCom,jdbcType=DECIMAL},
      </if>
      <if test="amountMortPsf != null" >
        #{amountMortPsf,jdbcType=DECIMAL},
      </if>
      <if test="signTime != null" >
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>     
      <if test="buyerPayment != null" >
        #{buyerPayment,jdbcType=VARCHAR},
      </if>      
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>      
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>      
      <if test="applyUser != null" >
        #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="applyTeam != null" >
        #{applyTeam,jdbcType=VARCHAR},
      </if>   
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centaline.trans.spv.entity.ToSpv" >
    update sctrans.T_TO_SPV
    <set >
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="spvCode != null" >
        SPV_CODE = #{spvCode,jdbcType=VARCHAR},
      </if>
      <if test="spvConCode != null" >
        SPV_CON_CODE = #{spvConCode,jdbcType=VARCHAR},
      </if>
      <if test="spvInsti != null" >
        SPV_INSTI = #{spvInsti,jdbcType=VARCHAR},
      </if>
      <if test="spvAccount != null" >
        SPV_ACCOUNT = #{spvAccount,jdbcType=VARCHAR},
      </if>
      <if test="prdCode != null" >
        PRD_CODE = #{prdCode,jdbcType=VARCHAR},
      </if>
      <if test="spvType != null" >
        SPV_TYPE = #{spvType,jdbcType=NVARCHAR},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="amountOwn != null" >
        AMOUNT_OWN = #{amountOwn,jdbcType=DECIMAL},
      </if>
      <if test="amountMort != null" >
        AMOUNT_MORT = #{amountMort,jdbcType=DECIMAL},
      </if>
      <if test="amountMortCom != null" >
        AMOUNT_MORT_COM = #{amountMortCom,jdbcType=DECIMAL},
      </if>
      <if test="amountMortPsf != null" >
        AMOUNT_MORT_PSF = #{amountMortPsf,jdbcType=DECIMAL},
      </if>
      <if test="signTime != null" >
        SIGN_TIME = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="buyerPayment != null" >
        BUYER_PAYMENT = #{buyerPayment,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        APPLY_TIME = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyUser != null" >
        APPLY_USER = #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="applyTeam != null" >
        APPLY_TEAM = #{applyTeam,jdbcType=VARCHAR},
      </if>   
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centaline.trans.spv.entity.ToSpv" >
    update sctrans.T_TO_SPV
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      SPV_CODE = #{spvCode,jdbcType=VARCHAR},
      SPV_CON_CODE = #{spvConCode,jdbcType=VARCHAR},
      SPV_INSTI = #{spvInsti,jdbcType=VARCHAR},
      SPV_ACCOUNT = #{spvAccount,jdbcType=VARCHAR},
      PRD_CODE = #{prdCode,jdbcType=VARCHAR},
      SPV_TYPE = #{spvType,jdbcType=NVARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      AMOUNT_OWN = #{amountOwn,jdbcType=DECIMAL},
      AMOUNT_MORT = #{amountMort,jdbcType=DECIMAL},
      AMOUNT_MORT_COM = #{amountMortCom,jdbcType=DECIMAL},
      AMOUNT_MORT_PSF = #{amountMortPsf,jdbcType=DECIMAL},
      SIGN_TIME = #{signTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=NVARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=CHAR}, 
      BUYER_PAYMENT = #{buyerPayment,jdbcType=VARCHAR},
      APPLY_TIME = #{applyTime,jdbcType=TIMESTAMP},
      CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      APPLY_USER = #{applyUser,jdbcType=VARCHAR},
      APPLY_TEAM = #{applyTeam,jdbcType=VARCHAR},  
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.centaline.trans.spv.entity.ToSpv" >
    update sctrans.T_TO_SPV
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      SPV_CODE = #{spvCode,jdbcType=VARCHAR},
      SPV_TYPE = #{spvType,jdbcType=NVARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      SPV_INSTI = #{spvInsti,jdbcType=VARCHAR},
      SIGN_TIME = #{signTime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=LONGVARCHAR}
    where PKID = #{pkid,jdbcType=BIGINT}
  </update>
  
  <select id="queryToSpvByCaseCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    
   <!-- , <include refid="Blob_Column_List" /> -->
    from sctrans.T_TO_SPV
    where CASE_CODE = #{caseCode,jdbcType=VARCHAR}  and IS_DELETED = 0
  </select>
  
  <select id="findToSpvBySpvCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    
    <!-- ,<include refid="Blob_Column_List" /> -->
    from sctrans.T_TO_SPV
    where SPV_CODE = #{spvCode,jdbcType=VARCHAR}  and IS_DELETED = 0
  </select>
  
  <select id="countToSignById"  parameterType="java.lang.String" resultType="com.centaline.trans.cases.entity.ToCaseInfoCountVo">
   	
		<!-- SELECT 
		   	COUNT(CASE_CODE) AS countQYS
		   	FROM sctrans.T_TO_CASE WHERE CASE_CODE 
				IN((SELECT CASE_CODE  FROM  sctrans.T_TO_SIGN WHERE  datediff(month,sctrans.T_TO_SIGN.REAL_CON_TIME,getdate())=0)) 
				AND LEADING_PROCESS_ID = 
		(SELECT 
			DISTINCT
			PROCESSOR_ID 
		FROM sctrans.T_TG_SERV_ITEM_AND_PROCESSOR 
		WHERE PROCESSOR_ID = #{userId,jdbcType=VARCHAR}) -->
		SELECT 
		   	COUNT(CASE_CODE) AS countQYS
		   	FROM sctrans.T_TO_CASE WHERE CASE_CODE 
				IN((SELECT CASE_CODE  FROM  sctrans.T_TO_SIGN WHERE  datediff(month,sctrans.T_TO_SIGN.REAL_CON_TIME,getdate())=0)) 
				AND CASE_CODE IN(
				(
					select CASE_CODE from sctrans.T_TO_CASE
					WHERE 1=1			
					AND LEADING_PROCESS_ID = #{userId,jdbcType=VARCHAR}				
						)UNION(
						SELECT CASE_CODE FROM sctrans.T_TG_SERV_ITEM_AND_PROCESSOR
						WHERE 1=1
						AND PROCESSOR_ID = #{userId,jdbcType=VARCHAR}  				  	
					)

				)
		
  </select>
  
  <select id="countToSignByOrgId"  parameterType="com.centaline.trans.cases.entity.ToCase" resultType="com.centaline.trans.cases.entity.ToCaseInfoCountVo">
   		SELECT 
   			COUNT(CASE_CODE) AS countQYS
   		FROM sctrans.T_TO_CASE WHERE CASE_CODE 
		IN((SELECT CASE_CODE  FROM  sctrans.T_TO_SIGN WHERE  datediff(month,sctrans.T_TO_SIGN.REAL_CON_TIME,getdate())=0)) 
		<if test="startDate != null">
     		 AND   CREATE_TIME &gt;= #{startDate,jdbcType=VARCHAR}  
    	</if>
		<if test="endDate != null">
      		AND  CREATE_TIME  &lt;= #{endDate,jdbcType=VARCHAR}  
    	</if>
		<if test="orgId != null" >
			 AND  CASE_CODE IN(
			(
				select CASE_CODE from sctrans.T_TO_CASE
				WHERE 1=1			
				AND ORG_ID = #{orgId,jdbcType=VARCHAR}	
					)UNION(
					SELECT CASE_CODE FROM sctrans.T_TG_SERV_ITEM_AND_PROCESSOR
					WHERE 1=1
					AND  ORG_ID = #{orgId,jdbcType=VARCHAR}				  	
				)
		
			)
      </if>
		
  </select>
  
  <select id="queryCountToSignById"  parameterType="com.centaline.trans.cases.entity.ToCase" resultType="com.centaline.trans.cases.entity.ToCaseInfoCountVo">
   	SELECT 
   		COUNT(CASE_CODE) AS countQYS
   	FROM sctrans.T_TO_CASE WHERE CASE_CODE 
	IN((SELECT CASE_CODE  FROM   sctrans.T_TO_SIGN	WHERE 	convert(char(7) ,sctrans.T_TO_SIGN.REAL_CON_TIME , 120) = #{time,jdbcType=VARCHAR} )) 
	
	AND LEADING_PROCESS_ID = #{leadingProcessId,jdbcType=VARCHAR}

  </select>
  

  
  <select id="queryCountToSignByOrg"  parameterType="com.centaline.trans.cases.entity.ToCase" resultType="com.centaline.trans.cases.entity.ToCaseInfoCountVo">
   	SELECT 
   		COUNT(CASE_CODE) AS countQYS
   	FROM sctrans.T_TO_CASE WHERE CASE_CODE 
	IN((SELECT CASE_CODE  FROM   sctrans.T_TO_SIGN	WHERE 	convert(char(7) ,sctrans.T_TO_SIGN.REAL_CON_TIME , 120) = #{time,jdbcType=VARCHAR} )) 
	
	<if test="orgId != null" >
		<!-- AND ORG_ID = #{orgId,jdbcType=VARCHAR}  -->
		AND  CASE_CODE IN(
	(
		select CASE_CODE from sctrans.T_TO_CASE
		WHERE 1=1			
		AND ORG_ID = #{orgId,jdbcType=VARCHAR}
			)UNION(
			SELECT CASE_CODE FROM sctrans.T_TG_SERV_ITEM_AND_PROCESSOR
			WHERE 1=1
			AND  ORG_ID = #{orgId,jdbcType=VARCHAR}				  	
		)

	)
    </if>

  </select>
  
  <select id="countToSignListByOrgId"  parameterType="com.centaline.trans.cases.entity.ToCase" resultType="com.centaline.trans.cases.entity.ToCaseInfoCountVo">
   	<!-- SELECT 
   		convert(char(7) ,CREATE_TIME , 120) as  createTime,
   		COUNT(CASE_CODE) as countQYS
   	FROM sctrans.T_TO_CASE WHERE CASE_CODE 
	IN((SELECT CASE_CODE FROM   sctrans.T_TO_SIGN	WHERE  PART_CODE is not  null and  datediff(year,CREATE_TIME,getdate())=0 ) )
	<if test="orgId != null">
      AND  ORG_ID = #{orgId,jdbcType=VARCHAR}
    </if>
	GROUP BY convert(char(7) ,CREATE_TIME , 120) -->
	SELECT 
   		convert(char(7) ,CREATE_TIME , 120) as  createTime,
   		COUNT(CASE_CODE) as countQYS
   	FROM sctrans.T_TO_CASE WHERE CASE_CODE 
	IN((SELECT CASE_CODE FROM   sctrans.T_TO_SIGN	WHERE  PART_CODE is not  null and  datediff(year,CREATE_TIME,getdate())=0 ) )
	AND  CASE_CODE IN (
   	SELECT CASE_CODE FROM sctrans.T_TG_SERV_ITEM_AND_PROCESSOR
		WHERE 1=1
		<if test="orgId != null">
      		AND  ORG_ID = #{orgId,jdbcType=VARCHAR}
   		</if>
	)
	GROUP BY convert(char(7) ,CREATE_TIME , 120)
	

  </select>
  <select id="countToSignListByOrgList" resultType="com.centaline.trans.cases.entity.ToCaseInfoCountVo">
  
	SELECT 
   		convert(char(7) ,CREATE_TIME , 120) as  createTime,
   		COUNT(CASE_CODE) as countQYS
   	FROM sctrans.T_TO_CASE WHERE CASE_CODE 
	IN((SELECT CASE_CODE FROM   sctrans.T_TO_SIGN	WHERE  PART_CODE is not  null and  datediff(year,CREATE_TIME,getdate())=0 ) )
	AND  CASE_CODE IN (
   	SELECT CASE_CODE FROM sctrans.T_TG_SERV_ITEM_AND_PROCESSOR
		WHERE 1=1
		AND  ORG_ID  IN
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
	)
	GROUP BY convert(char(7) ,CREATE_TIME , 120)

  </select>
  <select id="countToSignListByIdList" resultType="com.centaline.trans.cases.entity.ToCaseInfoCountVo">
   	SELECT 
   		convert(char(7) ,CREATE_TIME , 120) as  createTime,
   		COUNT(CASE_CODE) as countQYS
   	FROM sctrans.T_TO_CASE WHERE CASE_CODE 
	IN((SELECT CASE_CODE FROM   sctrans.T_TO_SIGN	WHERE  PART_CODE is not  null and  datediff(year,CREATE_TIME,getdate())=0 ) )
	AND  LEADING_PROCESS_ID IN
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>

	GROUP BY convert(char(7) ,CREATE_TIME , 120)

  </select>
  
  <select id="countToSignByOrgList" resultType="java.lang.Integer">
   	SELECT 
   		COUNT(CASE_CODE) as countQYS
   	FROM sctrans.T_TO_CASE WHERE CASE_CODE 
	IN((SELECT CASE_CODE FROM   sctrans.T_TO_SIGN	WHERE  PART_CODE is not  null and  datediff(year,CREATE_TIME,getdate())=0 ) )
	AND  CASE_CODE IN(
	(
		select CASE_CODE from sctrans.T_TO_CASE
		WHERE 1=1			
		AND ORG_ID IN 
		<foreach collection="param1" item="item1" index="index1" open="(" separator="," close=")">#{item1}</foreach>
		<if test="param2 != null">
	      AND   CREATE_TIME &gt;= #{param2,jdbcType=VARCHAR}   
	    </if>
		<if test="param3 != null">
	      AND  CREATE_TIME  &lt;= #{param3,jdbcType=VARCHAR}  
	    </if>
			)UNION(
			SELECT CASE_CODE FROM sctrans.T_TG_SERV_ITEM_AND_PROCESSOR
			WHERE 1=1
			AND  ORG_ID IN 
	  	<foreach collection="param1" item="item1" index="index1" open="(" separator="," close=")">#{item1}</foreach>
		<if test="param2 != null">
	      AND   CREATE_TIME &gt;= #{param2,jdbcType=VARCHAR}   
	    </if>
		<if test="param3 != null">
	      AND  CREATE_TIME  &lt;= #{param3,jdbcType=VARCHAR}  
	    </if>
		)
	)

  </select>
  <select id="countToSignByIdList" resultType="java.lang.Integer">
   	SELECT 
   		COUNT(CASE_CODE) as countQYS
   	FROM sctrans.T_TO_CASE WHERE CASE_CODE 
	IN((SELECT CASE_CODE FROM   sctrans.T_TO_SIGN	WHERE  PART_CODE is not  null and  datediff(year,CREATE_TIME,getdate())=0 ) )
	AND  CASE_CODE IN(
	(
		select CASE_CODE from sctrans.T_TO_CASE
		WHERE 1=1			
		AND LEADING_PROCESS_ID IN 
		<foreach collection="param1" item="item1" index="index1" open="(" separator="," close=")">#{item1}</foreach>
		<if test="param2 != null">
	      AND   CREATE_TIME &gt;= #{param2,jdbcType=VARCHAR}   
	    </if>
		<if test="param3 != null">
	      AND  CREATE_TIME  &lt;= #{param3,jdbcType=VARCHAR}  
	    </if>
			)UNION(
			SELECT CASE_CODE FROM sctrans.T_TG_SERV_ITEM_AND_PROCESSOR
			WHERE 1=1
			AND  LEADING_PROCESS_ID IN 
	  	<foreach collection="param1" item="item1" index="index1" open="(" separator="," close=")">#{item1}</foreach>
		<if test="param2 != null">
	      AND   CREATE_TIME &gt;= #{param2,jdbcType=VARCHAR}   
	    </if>
		<if test="param3 != null">
	      AND  CREATE_TIME  &lt;= #{param3,jdbcType=VARCHAR}  
	    </if>
		)
	)

  </select>
  
  <select id="initCountToSignByOrgId" parameterType="com.centaline.trans.cases.entity.ToCase" resultType="java.lang.Integer">
   	SELECT 
   		COUNT(CASE_CODE) as countQYS
   	FROM sctrans.T_TO_CASE WHERE CASE_CODE 
	IN((SELECT CASE_CODE FROM   sctrans.T_TO_SIGN	WHERE  PART_CODE is not  null and  datediff(year,CREATE_TIME,getdate())=0 ) )
	AND  CASE_CODE IN(
		(SELECT
				DISTINCT c.CASE_CODE
			FROM sctrans.T_TO_CASE c
			INNER JOIN sctrans.SYS_ORG o
			ON  c.ORG_ID=o.ID 
			WHERE  
				datediff(month,CREATE_TIME,getdate())=0
			<if test="orgId != null">
			AND o.PARENT_ID= #{orgId,jdbcType=VARCHAR}   
			</if>
			<!-- AND o.ID='1762F675CE17459EA9B696F90AEB74F5' -->
		)
		UNION
		(SELECT
				DISTINCT s.case_code
			FROM sctrans.T_TO_CASE c
			LEFT JOIN sctrans.SYS_ORG o
			<if test="orgId != null">
			ON o.PARENT_ID=#{orgId,jdbcType=VARCHAR}  
			</if>
			<!-- ON o.ID='1762F675CE17459EA9B696F90AEB74F5' -->
			LEFT JOIN sctrans.T_TG_SERV_ITEM_AND_PROCESSOR s
			ON s.ORG_ID=o.ID
			WHERE
				datediff(month,CREATE_TIME,getdate())=0
		)
	)
	<if test="time != null">
	   AND convert(char(7) ,CREATE_TIME , 120) = #{time,jdbcType=VARCHAR} 
	</if>

  </select>
</mapper>